In [1]:
import pandas as pd
import unicodedata
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [2]:
dataset_dir = 'Mobility/Global_Mobility_Report.csv' #Se carga el dataset
df_mob = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual est√° separado por comas
df_mob.isnull().sum() #Se imprime el dataset

C:\Users\sebas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

country_region_code                                      6215
country_region                                              0
sub_region_1                                           164544
sub_region_2                                          1618469
metro_area                                            9897775
iso_3166_2_code                                       8215352
census_fips_code                                      7832989
place_id                                                18298
date                                                        0
retail_and_recreation_percent_change_from_baseline    3789764
grocery_and_pharmacy_percent_change_from_baseline     4070374
parks_percent_change_from_baseline                    5247209
transit_stations_percent_change_from_baseline         5014506
workplaces_percent_change_from_baseline                355519
residential_percent_change_from_baseline              3862944
dtype: int64

In [3]:
df_mob

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9951239,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-05-16,NaN,NaN,NaN,NaN,100.0,NaN
9951240,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-05-17,NaN,NaN,NaN,NaN,124.0,NaN
9951241,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-05-18,NaN,NaN,NaN,NaN,124.0,NaN
9951242,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-05-19,NaN,NaN,NaN,NaN,113.0,NaN
9951243,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,NaN,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-05-20,NaN,NaN,NaN,NaN,131.0,NaN

In [4]:
df_mob = df_mob.drop(df_mob[df_mob['country_region']!='Colombia'].index)
df_mob.reset_index(drop=True, inplace=True)
df_mob

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-15,4.0,5.0,-5.0,1.0,7.0,1.0
1,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-16,0.0,5.0,-5.0,-1.0,1.0,2.0
2,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-17,-1.0,3.0,-4.0,6.0,15.0,-1.0
3,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-18,-3.0,1.0,-3.0,10.0,17.0,-1.0
4,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-19,-5.0,-5.0,-5.0,6.0,13.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264798,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-13,NaN,NaN,NaN,NaN,78.0,NaN
264799,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-16,NaN,NaN,NaN,NaN,82.0,NaN
264800,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-17,NaN,NaN,NaN,NaN,82.0,NaN
264801,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-18,NaN,NaN,NaN,NaN,76.0,NaN
264802,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-19,NaN,NaN,NaN,NaN,71.0,NaN

In [5]:
date = df_mob["date"].str.split('-', expand=True)
date.columns = ['Ano','Mes','dia']
df_mob = pd.concat([df_mob, date], axis=1)
df_mob

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes,dia
0,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-15,4.0,5.0,-5.0,1.0,7.0,1.0,2020,02,15
1,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-16,0.0,5.0,-5.0,-1.0,1.0,2.0,2020,02,16
2,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-17,-1.0,3.0,-4.0,6.0,15.0,-1.0,2020,02,17
3,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-18,-3.0,1.0,-3.0,10.0,17.0,-1.0,2020,02,18
4,CO,Colombia,NaN,NaN,NaN,NaN,NaN,ChIJo5QVrjqkFY4RQKPy7wSaDZo,2020-02-19,-5.0,-5.0,-5.0,6.0,13.0,-2.0,2020,02,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264798,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-13,NaN,NaN,NaN,NaN,78.0,NaN,2022,05,13
264799,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-16,NaN,NaN,NaN,NaN,82.0,NaN,2022,05,16
264800,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-17,NaN,NaN,NaN,NaN,82.0,NaN,2022,05,17
264801,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-18,NaN,NaN,NaN,NaN,76.0,NaN,2022,05,18
264802,CO,Colombia,Vichada,Puerto Carre√±o,NaN,NaN,NaN,ChIJ9Yxz9jkZdo4RuhjbKk8Tqpg,2022-05-19,NaN,NaN,NaN,NaN,71.0,NaN,2022,05,19

In [6]:
df_mob['Ano'].unique().tolist()

['2020', '2021', '2022']

In [7]:
df_mob = df_mob.drop(df_mob[df_mob['Ano']== ('2022')].index)
df_mob.reset_index(drop=True, inplace=True)
del(df_mob['country_region_code'])
del(df_mob['country_region'])
del(df_mob['census_fips_code'])
del(df_mob['iso_3166_2_code'])
del(df_mob['metro_area'])
del(df_mob['place_id'])
del(df_mob['date'])
del(df_mob['dia'])
df_mob

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
0,NaN,NaN,4.0,5.0,-5.0,1.0,7.0,1.0,2020,02
1,NaN,NaN,0.0,5.0,-5.0,-1.0,1.0,2.0,2020,02
2,NaN,NaN,-1.0,3.0,-4.0,6.0,15.0,-1.0,2020,02
3,NaN,NaN,-3.0,1.0,-3.0,10.0,17.0,-1.0,2020,02
4,NaN,NaN,-5.0,-5.0,-5.0,6.0,13.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
221524,Vichada,Puerto Carre√±o,NaN,NaN,NaN,NaN,7.0,NaN,2021,12
221525,Vichada,Puerto Carre√±o,NaN,NaN,NaN,NaN,17.0,NaN,2021,12
221526,Vichada,Puerto Carre√±o,NaN,NaN,NaN,NaN,8.0,NaN,2021,12
221527,Vichada,Puerto Carre√±o,NaN,NaN,NaN,NaN,8.0,NaN,2021,12
221528,Vichada,Puerto Carre√±o,NaN,NaN,NaN,NaN,-10.0,NaN,2021,12

In [8]:
df = pd.DataFrame()
df = df_mob
df['sub_region_2'].unique().tolist()
#df = df_mob[df_mob['sub_region_2'] == 'Cundinamarca']
#df['sub_region_2'].unique()
#df.head(100)

[nan,
 'Leticia',
 'Amag√°',
 'Amalfi',
 'Andes',
 'Apartad√≥',
 'Arboletes',
 'Barbosa',
 'Bello',
 'Buritic√°',
 'Caldas',
 'Carepa',
 'Carmen de Viboral',
 'Caucasia',
 'Chigorod√≥',
 'Cisneros',
 'Ciudad Bol√≠var',
 'Copacabana',
 'Dabeiba',
 'Don Mat√≠as',
 'El Bagre',
 'El Santuario',
 'Entrerrios',
 'Envigado',
 'Frontino',
 'Girardota',
 'Guarne',
 'Guatap√©',
 'Itag√º√≠',
 'La Ceja',
 'La Estrella',
 'La Uni√≥n',
 'Marinilla',
 'Medellin',
 'Necocl√≠',
 'Pe√±ol',
 'Puerto Berr√≠o',
 'Puerto Triunfo',
 'Remedios',
 'Retiro',
 'Rionegro',
 'Sabaneta',
 'San Carlos',
 'San Jer√≥nimo',
 'San Pedro de los Milagros',
 'San Rafael',
 'Santa B√°rbara',
 'Santa Fe de Antioquia',
 'Santa Rosa de Osos',
 'Santo Domingo',
 'Segovia',
 'Sons√≥n',
 'Sopetr√°n',
 'T√°mesis',
 'Turbo',
 'Urrao',
 'Venecia',
 'Yarumal',
 'Yolomb√≥',
 'Arauca',
 'Arauquita',
 'Saravena',
 'Tame',
 'Baranoa',
 'Barranquilla',
 'Galapa',
 'Malambo',
 'Palmar de Varela',
 'Puerto Colombia',
 'Sabanagrande',
 'Sabanalarga',
 'Santo Tom√°s',
 'Soledad',
 'Arjona',
 'Cartagena Province',
 'El Carmen de Bolivar',
 'Magangu√©',
 'Momp√≥s',
 'San Fernando',
 'Santa Rosa del Sur',
 'Turbaco',
 'Aquitania',
 'Chiquinquir√°',
 'Duitama',
 'Garagoa',
 'Moniquir√°',
 'Nobsa',
 'Paipa',
 'Puerto Boyac√°',
 'Samac√°',
 'Santa Rosa de Viterbo',
 'Soat√°',
 'Sogamoso',
 'Tunja',
 'Villa de Leyva',
 'Aguadas',
 'Anserma',
 'Chinchin√°',
 'La Dorada',
 'Manizales',
 'Manzanares',
 'Neira',
 'Riosucio',
 'Salamina',
 'Sup√≠a',
 'Villamar√≠a',
 'Viterbo',
 'Florencia',
 'San Vicente del Cagu√°n',
 'Aguazul',
 'Man√≠',
 'Monterrey',
 'Paz de Ariporo',
 'Tauramena',
 'Villanueva',
 'Yopal',
 'Argelia',
 'Caloto',
 'Miranda',
 'Patia',
 'Piendam√≥',
 'Popay√°n',
 'Puerto Tejada',
 'Santander de Quilichao',
 'Timb√≠o',
 'Villa Rica',
 'Aguachica',
 'Bosconia',
 'Codazzi',
 'Curuman√≠',
 'El Paso',
 'La Jagua de Ibirico',
 'Los Robles La Paz',
 'San Alberto',
 'Valledupar',
 'Istmina',
 'Quibd√≥',
 'Ceret√©',
 'Chin√∫',
 'Ci√©naga de Oro',
 'Lorica',
 'Montel√≠bano',
 'Monter√≠a',
 'Planeta Rica',
 'Sahag√∫n',
 'Tierralta',
 'Alb√°n',
 'Anapoima',
 'Cajic√°',
 'Caparrap√≠',
 'Caqueza',
 'Ch√≠a',
 'Chocont√°',
 'Cogua',
 'Cota',
 'El Rosal',
 'Facatativa',
 'Fomeque',
 'Funza',
 'Fusagasug√°',
 'Gachancip√°',
 'Girardot',
 'Guachet√°',
 'Guaduas',
 'Guasca',
 'La Calera',
 'La Mesa',
 'La Vega',
 'Madrid',
 'Mesitas del Colegio',
 'Mosquera',
 'Nilo',
 'Pacho',
 'Paratebueno',
 'Ricaurte',
 'Sibat√©',
 'Silvania',
 'Soacha',
 'Sop√≥',
 'Subachoque',
 'Suesca',
 'Tabio',
 'Tena',
 'Tenjo',
 'Tocancip√°',
 'Villa de San Diego de Ubate',
 'Villeta',
 'Zipaquir√°',
 'San Jos√© del Guaviare',
 'Campoalegre',
 'Garzon',
 'La Plata',
 'Neiva',
 'Palermo',
 'Pitalito',
 'Rivera',
 'Barrancas',
 'Dibulla',
 'Fonseca',
 'Maicao',
 'Riohacha',
 'San Juan del Cesar',
 'Uribia',
 'Ci√©naga',
 'El Banco',
 'Fundaci√≥n',
 'Plato',
 'Santa Marta',
 'Sitionuevo',
 'Acac√≠as',
 'Barranca de Up√≠a',
 'Castilla la Nueva',
 'Cumaral',
 'Granada',
 'La Macarena',
 'Puerto Gait√°n',
 'Puerto Lleras',
 'Puerto L√≥pez',
 'Restrepo',
 'San Juan de Arama',
 'San Mart√≠n',
 'Villavicencio',
 'Chachag√º√≠',
 'Ipiales',
 'Pasto',
 'San Andres de Tumaco',
 'T√∫querres',
 'Abrego',
 'Chin√°cota',
 'Cucuta',
 'El Zulia',
 'Los Patios',
 'Oca√±a',
 'Pamplona',
 'Tib√∫',
 'Villa Del Rosario',
 'Mocoa',
 'Orito',
 'Puerto As√≠s',
 'Sibundoy',
 'Valle del Guamuez',
 'Villagarz√≥n',
 'Armenia',
 'Calarca',
 'Circasia',
 'Filandia',
 'La Tebaida',
 'Montenegro',
 'Quimbaya',
 'Salento',
 'Bel√©n de Umbr√≠a',
 'Dosquebradas',
 'La Virginia',
 'Marsella',
 'Pereira',
 'Quinch√≠a',
 'Santa Rosa de Cabal',
 'San Andr√©s',
 'Barichara',
 'Barrancabermeja',
 'Bucaramanga',
 'Cimitarra',
 'Floridablanca',
 'Gir√≥n',
 'Lebrija',
 'Malaga',
 'Oiba',
 'Piedecuesta',
 'Puente Nacional',
 'Puerto Wilches',
 'Sabana de Torres',
 'San Gil',
 'San Vicente de Chucur√≠',
 'Socorro',
 'V√©lez',
 'Corozal',
 'Sampu√©s',
 'San Marcos',
 'Sincelejo',
 'Tol√∫',
 'Cajamarca',
 'Chaparral',
 'Flandes',
 'Guamo',
 'Honda',
 'Ibague',
 'Icononzo',
 'L√≠bano',
 'Mariquita',
 'Melgar',
 'Andaluc√≠a',
 'Buenaventura',
 'Bugalagrande',
 'Caicedonia',
 'Cali',
 'Calima',
 'Candelaria',
 'Cartago',
 'Dagua',
 'El Cerrito',
 'Florida',
 'Ginebra',
 'Guacar√≠',
 'Guadalajara de Buga',
 'Jamund√≠',
 'La Cumbre',
 'La Victoria',
 'Palmira',
 'Pradera',
 'Roldanillo',
 'San Pedro',
 'Sevilla',
 'Tulu√°',
 'Yumbo',
 'Zarzal',
 'Puerto Carre√±o']

In [9]:
df_arm = df_mob[df_mob['sub_region_2'] == 'Armenia'].fillna(0)
#df_arm.isnull().sum() #Se imprime el dataset
#df_arm = df_arm.drop(df_temp[df_temp['LST_Day_1km']==0].index)
df_arm.head(30)

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
168549,Quindio,Armenia,-2.0,-2.0,-2.0,0.0,6.0,1.0,2020,02
168550,Quindio,Armenia,-7.0,3.0,-2.0,0.0,0.0,1.0,2020,02
168551,Quindio,Armenia,-5.0,-2.0,5.0,0.0,17.0,-2.0,2020,02
168552,Quindio,Armenia,-10.0,-5.0,-4.0,0.0,17.0,-1.0,2020,02
168553,Quindio,Armenia,-8.0,-5.0,-2.0,0.0,16.0,-2.0,2020,02
168554,Quindio,Armenia,-5.0,-7.0,-5.0,0.0,8.0,-1.0,2020,02
168555,Quindio,Armenia,-10.0,-9.0,-1.0,0.0,14.0,-1.0,2020,02
168556,Quindio,Armenia,-9.0,-12.0,-9.0,0.0,5.0,1.0,2020,02
168557,Quindio,Armenia,-15.0,-11.0,-20.0,0.0,-4.0,3.0,2020,02
168558,Quindio,Armenia,-17.0,-14.0,-9.0,0.0,16.0,0.0,2020,02
168559,Quindio,Armenia,-18.0,-10.0,-12.0,0.0,16.0,0.0,2020,02
168560,Quindio,Armenia,-13.0,-9.0,-9.0,0.0,13.0,0.0,2020,02
168561,Quindio,Armenia,-5.0,-2.0,-4.0,0.0,16.0,-2.0,2020,02
168562,Quindio,Armenia,-5.0,-2.0,-6.0,0.0,22.0,-3.0,2020,02
168563,Quindio,Armenia,1.0,3.0,-3.0,0.0,10.0,0.0,2020,02
168564,Quindio,Armenia,-3.0,7.0,-12.0,0.0,2.0,2.0,2020,03
168565,Quindio,Armenia,-2.0,4.0,5.0,0.0,17.0,-2.0,2020,03
168566,Quindio,Armenia,-6.0,2.0,-1.0,0.0,19.0,-1.0,2020,03
168567,Quindio,Armenia,-2.0,3.0,3.0,0.0,17.0,-2.0,2020,03
168568,Quindio,Armenia,-1.0,-1.0,1.0,0.0,17.0,-2.0,2020,03
168569,Quindio,Armenia,-7.0,-6.0,-1.0,0.0,22.0,-2.0,2020,03
168570,Quindio,Armenia,-5.0,-6.0,-9.0,0.0,8.0,1.0,2020,03
168571,Quindio,Armenia,7.0,5.0,11.0,0.0,3.0,1.0,2020,03
168572,Quindio,Armenia,-9.0,-5.0,3.0,0.0,17.0,-2.0,2020,03
168573,Quindio,Armenia,-11.0,-6.0,-6.0,0.0,18.0,-1.0,2020,03
168574,Quindio,Armenia,-11.0,-6.0,-6.0,0.0,16.0,-1.0,2020,03
168575,Quindio,Armenia,-9.0,-2.0,-6.0,0.0,15.0,-1.0,2020,03
168576,Quindio,Armenia,-13.0,-7.0,-8.0,0.0,20.0,-1.0,2020,03
168577,Quindio,Armenia,-9.0,-2.0,-16.0,0.0,8.0,2.0,2020,03
168578,Quindio,Armenia,-19.0,10.0,-17.0,0.0,-2.0,4.0,2020,03

In [10]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Armenia'

dataset_v

    Mes   Ano   Ciudad
0     1  2020  Armenia
1     2  2020  Armenia
2     3  2020  Armenia
3     4  2020  Armenia
4     5  2020  Armenia
5     6  2020  Armenia
6     7  2020  Armenia
7     8  2020  Armenia
8     9  2020  Armenia
9    10  2020  Armenia
10   11  2020  Armenia
11   12  2020  Armenia
12    1  2021  Armenia
13    2  2021  Armenia
14    3  2021  Armenia
15    4  2021  Armenia
16    5  2021  Armenia
17    6  2021  Armenia
18    7  2021  Armenia
19    8  2021  Armenia
20    9  2021  Armenia
21   10  2021  Armenia
22   11  2021  Armenia
23   12  2021  Armenia

In [11]:
df_arm.info()
df_arm['Mes'] = df_arm['Mes'].astype('float64')
df_arm['Ano'] = df_arm['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 168549 to 169234
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [12]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_arm.loc[(df_arm['Mes'] == n_Mes) & (df_arm['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Armenia,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,2,2020,Armenia,-8.533333,-5.600000,-5.533333,0.0,11.466667,-0.400000
2,3,2020,Armenia,-39.903226,-24.258065,-37.419355,0.0,-22.709677,12.580645
3,4,2020,Armenia,-84.000000,-65.900000,-81.133333,0.0,-70.600000,30.900000
4,5,2020,Armenia,-70.580645,-51.225806,-69.032258,0.0,-48.741935,24.774194
5,6,2020,Armenia,-50.166667,-28.066667,-53.566667,0.0,-26.866667,17.833333
6,7,2020,Armenia,-41.483871,-21.096774,-46.161290,0.0,-21.806452,14.806452
7,8,2020,Armenia,-45.903226,-28.290323,-48.419355,0.0,-24.774194,15.870968
8,9,2020,Armenia,-36.000000,-19.400000,-37.900000,0.0,-20.966667,11.900000
9,10,2020,Armenia,-36.193548,-15.322581,-39.774194,0.0,-19.612903,11.451613
10,11,2020,Armenia,-30.533333,-12.533333,-37.300000,0.0,-16.900000,10.933333
11,12,2020,Armenia,-22.354839,3.483871,-22.677419,0.0,-13.290323,7.419355
12,1,2021,Armenia,-37.129032,-10.161290,-35.129032,0.0,-20.387097,8.741935
13,2,2021,Armenia,-36.464286,-2.428571,-34.464286,0.0,-13.357143,6.535714
14,3,2021,Armenia,-31.806452,6.419355,-28.677419,0.0,-11.354839,6.290323
15,4,2021,Armenia,-33.833333,7.433333,-28.800000,0.0,-12.000000,8.466667
16,5,2021,Armenia,-30.322581,10.258065,-24.419355,0.0,-8.451613,9.870968
17,6,2021,Armenia,-18.300000,17.566667,-18.600000,0.0,-8.600000,5.966667
18,7,2021,Armenia,-12.290323,23.354839,-10.903226,0.0,-3.096774,4.225806
19,8,2021,Armenia,-10.612903,26.709677,-9.225806,0.0,3.677419,3.354839
20,9,2021,Armenia,-6.733333,29.733333,-6.066667,0.0,9.466667,2.166667
21,10,2021,Armenia,-1.290323,34.741935,1.354839,0.0,11.290323,1.774194
22,11,2021,Armenia,1.533333,36.200000,5.666667,0.0,12.966667,1.500000
23,12,2021,Armenia,19.709677,58.903226,24.161290,0.0,7.290323,-0.258065

In [13]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr = df_agr
df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-16.145520,-9.952688,-14.317563,0.0,-3.747670,4.060215
1,-68.249104,-48.397491,-67.910753,0.0,-48.736201,24.502509
2,-68.249104,-48.397491,-67.910753,0.0,-48.736201,24.502509
3,-68.249104,-48.397491,-67.910753,0.0,-48.736201,24.502509
4,-41.129032,-22.929032,-44.160215,0.0,-22.515771,14.192473
5,-41.129032,-22.929032,-44.160215,0.0,-22.515771,14.192473
6,-41.129032,-22.929032,-44.160215,0.0,-22.515771,14.192473
7,-29.693907,-8.124014,-33.250538,0.0,-16.601075,9.934767
8,-29.693907,-8.124014,-33.250538,0.0,-16.601075,9.934767
9,-29.693907,-8.124014,-33.250538,0.0,-16.601075,9.934767
10,-35.133257,-2.056836,-32.756912,0.0,-15.033026,7.189324
11,-35.133257,-2.056836,-32.756912,0.0,-15.033026,7.189324
12,-35.133257,-2.056836,-32.756912,0.0,-15.033026,7.189324
13,-27.485305,11.752688,-23.939785,0.0,-9.683871,8.101434
14,-27.485305,11.752688,-23.939785,0.0,-9.683871,8.101434
15,-27.485305,11.752688,-23.939785,0.0,-9.683871,8.101434
16,-9.878853,26.599283,-8.731900,0.0,3.349104,3.249104
17,-9.878853,26.599283,-8.731900,0.0,3.349104,3.249104
18,-9.878853,26.599283,-8.731900,0.0,3.349104,3.249104
19,6.650896,43.281720,10.394265,0.0,10.515771,1.005376
20,6.650896,43.281720,10.394265,0.0,10.515771,1.005376
21,6.650896,43.281720,10.394265,0.0,10.515771,1.005376
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Arm = pd.DataFrame()
df_Arm['retail_and_recreation'] = retail_and_recreation
df_Arm['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Arm['parks'] = parks
df_Arm['transit_stations'] = transit_stations
df_Arm['workplaces'] = workplaces
df_Arm['residential'] = residential
df_Arm['Trimestre'] = trimestre
df_Arm['Ano'] = ano
df_Arm['Ciudad'] = "Armenia"

df_Arm

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1,2019,Armenia
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2,2019,Armenia
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3,2019,Armenia
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,4,2019,Armenia
4,-16.145520,-9.952688,-14.317563,0.0,-3.747670,4.060215,1,2020,Armenia
5,-68.249104,-48.397491,-67.910753,0.0,-48.736201,24.502509,2,2020,Armenia
6,-41.129032,-22.929032,-44.160215,0.0,-22.515771,14.192473,3,2020,Armenia
7,-29.693907,-8.124014,-33.250538,0.0,-16.601075,9.934767,4,2020,Armenia
8,-35.133257,-2.056836,-32.756912,0.0,-15.033026,7.189324,1,2021,Armenia
9,-27.485305,11.752688,-23.939785,0.0,-9.683871,8.101434,2,2021,Armenia
10,-9.878853,26.599283,-8.731900,0.0,3.349104,3.249104,3,2021,Armenia
11,6.650896,43.281720,10.394265,0.0,10.515771,1.005376,4,2021,Armenia

In [15]:
df_bar = df_mob[df_mob['sub_region_2'] == 'Barranquilla'].fillna(0)
df_bar.head(30) #Se imprime el dataset
#df_bar

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
43459,Atlantico,Barranquilla,8.0,11.0,15.0,2.0,3.0,-2.0,2020,02
43460,Atlantico,Barranquilla,13.0,9.0,6.0,0.0,0.0,0.0,2020,02
43461,Atlantico,Barranquilla,4.0,7.0,10.0,28.0,17.0,-2.0,2020,02
43462,Atlantico,Barranquilla,5.0,5.0,10.0,23.0,15.0,-3.0,2020,02
43463,Atlantico,Barranquilla,5.0,6.0,19.0,30.0,14.0,-4.0,2020,02
43464,Atlantico,Barranquilla,17.0,8.0,20.0,32.0,9.0,-3.0,2020,02
43465,Atlantico,Barranquilla,22.0,21.0,30.0,39.0,10.0,-3.0,2020,02
43466,Atlantico,Barranquilla,8.0,9.0,29.0,27.0,-32.0,0.0,2020,02
43467,Atlantico,Barranquilla,12.0,10.0,27.0,29.0,-14.0,-3.0,2020,02
43468,Atlantico,Barranquilla,-15.0,-18.0,-9.0,-17.0,-61.0,8.0,2020,02
43469,Atlantico,Barranquilla,-23.0,-25.0,-25.0,-23.0,-63.0,10.0,2020,02
43470,Atlantico,Barranquilla,-4.0,4.0,1.0,18.0,7.0,-2.0,2020,02
43471,Atlantico,Barranquilla,-1.0,3.0,0.0,23.0,13.0,-2.0,2020,02
43472,Atlantico,Barranquilla,8.0,13.0,3.0,19.0,21.0,-3.0,2020,02
43473,Atlantico,Barranquilla,9.0,16.0,5.0,12.0,11.0,0.0,2020,02
43474,Atlantico,Barranquilla,6.0,13.0,5.0,2.0,2.0,2.0,2020,03
43475,Atlantico,Barranquilla,8.0,12.0,8.0,16.0,19.0,-3.0,2020,03
43476,Atlantico,Barranquilla,4.0,7.0,7.0,12.0,17.0,-2.0,2020,03
43477,Atlantico,Barranquilla,7.0,5.0,8.0,17.0,16.0,-3.0,2020,03
43478,Atlantico,Barranquilla,2.0,4.0,2.0,16.0,16.0,-2.0,2020,03
43479,Atlantico,Barranquilla,4.0,7.0,8.0,18.0,22.0,-3.0,2020,03
43480,Atlantico,Barranquilla,4.0,7.0,7.0,8.0,10.0,0.0,2020,03
43481,Atlantico,Barranquilla,9.0,5.0,4.0,-4.0,1.0,2.0,2020,03
43482,Atlantico,Barranquilla,-2.0,-1.0,3.0,19.0,19.0,-1.0,2020,03
43483,Atlantico,Barranquilla,-3.0,-1.0,1.0,10.0,17.0,-2.0,2020,03
43484,Atlantico,Barranquilla,-6.0,-2.0,-1.0,12.0,16.0,-2.0,2020,03
43485,Atlantico,Barranquilla,-6.0,-1.0,-4.0,14.0,15.0,-1.0,2020,03
43486,Atlantico,Barranquilla,0.0,6.0,-1.0,11.0,20.0,-2.0,2020,03
43487,Atlantico,Barranquilla,0.0,10.0,2.0,2.0,8.0,0.0,2020,03
43488,Atlantico,Barranquilla,-11.0,6.0,-3.0,-7.0,-2.0,2.0,2020,03

In [16]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Barranquilla'

dataset_v

    Mes   Ano        Ciudad
0     1  2020  Barranquilla
1     2  2020  Barranquilla
2     3  2020  Barranquilla
3     4  2020  Barranquilla
4     5  2020  Barranquilla
5     6  2020  Barranquilla
6     7  2020  Barranquilla
7     8  2020  Barranquilla
8     9  2020  Barranquilla
9    10  2020  Barranquilla
10   11  2020  Barranquilla
11   12  2020  Barranquilla
12    1  2021  Barranquilla
13    2  2021  Barranquilla
14    3  2021  Barranquilla
15    4  2021  Barranquilla
16    5  2021  Barranquilla
17    6  2021  Barranquilla
18    7  2021  Barranquilla
19    8  2021  Barranquilla
20    9  2021  Barranquilla
21   10  2021  Barranquilla
22   11  2021  Barranquilla
23   12  2021  Barranquilla

In [17]:
df_bar.info()
df_bar['Mes'] = df_bar['Mes'].astype('float64')
df_bar['Ano'] = df_bar['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 43459 to 44144
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [18]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_bar.loc[(df_bar['Mes'] == n_Mes) & (df_bar['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Barranquilla,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Barranquilla,4.533333,5.266667,9.400000,16.133333,-3.333333,-0.600000
2,3,2020,Barranquilla,-33.193548,-19.064516,-29.967742,-27.483871,-20.290323,10.774194
3,4,2020,Barranquilla,-80.966667,-60.433333,-78.233333,-77.866667,-69.833333,29.100000
4,5,2020,Barranquilla,-73.225806,-51.419355,-67.258065,-74.000000,-55.483871,24.935484
5,6,2020,Barranquilla,-69.333333,-49.233333,-63.600000,-69.200000,-51.566667,24.500000
6,7,2020,Barranquilla,-67.290323,-46.645161,-61.903226,-65.129032,-50.709677,24.096774
7,8,2020,Barranquilla,-56.838710,-33.580645,-48.258065,-56.064516,-40.032258,19.612903
8,9,2020,Barranquilla,-43.200000,-15.200000,-36.666667,-45.066667,-29.966667,15.100000
9,10,2020,Barranquilla,-40.225806,-5.290323,-33.129032,-32.483871,-23.225806,12.935484
10,11,2020,Barranquilla,-32.900000,-0.566667,-29.666667,-25.433333,-19.500000,12.266667
11,12,2020,Barranquilla,-22.806452,13.709677,-17.225806,-14.548387,-16.806452,9.838710
12,1,2021,Barranquilla,-37.064516,-3.419355,-32.709677,-33.419355,-23.290323,11.451613
13,2,2021,Barranquilla,-32.214286,6.142857,-28.821429,-25.107143,-17.071429,9.571429
14,3,2021,Barranquilla,-29.903226,12.064516,-24.612903,-17.483871,-15.290323,10.129032
15,4,2021,Barranquilla,-54.066667,-17.033333,-48.000000,-36.466667,-35.166667,19.066667
16,5,2021,Barranquilla,-31.677419,-3.096774,-27.516129,-28.580645,-18.483871,14.096774
17,6,2021,Barranquilla,-13.033333,12.666667,-10.433333,-9.533333,-9.900000,9.600000
18,7,2021,Barranquilla,-4.806452,18.419355,-2.258065,-5.290323,-3.741935,8.064516
19,8,2021,Barranquilla,-2.193548,21.580645,-0.645161,-11.129032,2.096774,7.354839
20,9,2021,Barranquilla,1.033333,26.400000,-0.333333,6.266667,8.400000,6.633333
21,10,2021,Barranquilla,5.322581,28.387097,3.903226,11.870968,9.903226,5.677419
22,11,2021,Barranquilla,12.766667,35.333333,8.000000,14.200000,11.433333,5.133333
23,12,2021,Barranquilla,29.387097,51.129032,24.612903,23.838710,10.064516,3.064516

In [19]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-9.553405,-4.599283,-6.855914,-3.783513,-7.874552,3.391398
1,-74.508602,-53.695341,-69.697133,-73.688889,-58.961290,26.178495
2,-74.508602,-53.695341,-69.697133,-73.688889,-58.961290,26.178495
3,-74.508602,-53.695341,-69.697133,-73.688889,-58.961290,26.178495
4,-55.776344,-31.808602,-48.942652,-55.420072,-40.236201,19.603226
5,-55.776344,-31.808602,-48.942652,-55.420072,-40.236201,19.603226
6,-55.776344,-31.808602,-48.942652,-55.420072,-40.236201,19.603226
7,-31.977419,2.617563,-26.673835,-24.155197,-19.844086,11.680287
8,-31.977419,2.617563,-26.673835,-24.155197,-19.844086,11.680287
9,-31.977419,2.617563,-26.673835,-24.155197,-19.844086,11.680287
10,-33.060676,4.929339,-28.714670,-25.336790,-18.550691,10.384025
11,-33.060676,4.929339,-28.714670,-25.336790,-18.550691,10.384025
12,-33.060676,4.929339,-28.714670,-25.336790,-18.550691,10.384025
13,-32.925806,-2.487814,-28.649821,-24.860215,-21.183513,14.254480
14,-32.925806,-2.487814,-28.649821,-24.860215,-21.183513,14.254480
15,-32.925806,-2.487814,-28.649821,-24.860215,-21.183513,14.254480
16,-1.988889,22.133333,-1.078853,-3.384229,2.251613,7.350896
17,-1.988889,22.133333,-1.078853,-3.384229,2.251613,7.350896
18,-1.988889,22.133333,-1.078853,-3.384229,2.251613,7.350896
19,15.825448,38.283154,12.172043,16.636559,10.467025,4.625090
20,15.825448,38.283154,12.172043,16.636559,10.467025,4.625090
21,15.825448,38.283154,12.172043,16.636559,10.467025,4.625090
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Bar = pd.DataFrame()
df_Bar['retail_and_recreation'] = retail_and_recreation
df_Bar['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Bar['parks'] = parks
df_Bar['transit_stations'] = transit_stations
df_Bar['workplaces'] = workplaces
df_Bar['residential'] = residential
df_Bar['Trimestre'] = trimestre
df_Bar['Ano'] = ano
df_Bar['Ciudad'] = "Barranquilla"

df_Bar

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Barranquilla
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Barranquilla
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Barranquilla
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Barranquilla
4,-9.553405,-4.599283,-6.855914,-3.783513,-7.874552,3.391398,1,2020,Barranquilla
5,-74.508602,-53.695341,-69.697133,-73.688889,-58.961290,26.178495,2,2020,Barranquilla
6,-55.776344,-31.808602,-48.942652,-55.420072,-40.236201,19.603226,3,2020,Barranquilla
7,-31.977419,2.617563,-26.673835,-24.155197,-19.844086,11.680287,4,2020,Barranquilla
8,-33.060676,4.929339,-28.714670,-25.336790,-18.550691,10.384025,1,2021,Barranquilla
9,-32.925806,-2.487814,-28.649821,-24.860215,-21.183513,14.254480,2,2021,Barranquilla
10,-1.988889,22.133333,-1.078853,-3.384229,2.251613,7.350896,3,2021,Barranquilla
11,15.825448,38.283154,12.172043,16.636559,10.467025,4.625090,4,2021,Barranquilla

In [21]:
df_bog = df_mob[df_mob['sub_region_1'] == 'Bogota'].fillna(0)
df_bog["sub_region_2"] = "Bogota"
df_bog #Se imprime el dataset
#df_bog

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
48918,Bogota,Bogota,9.0,9.0,11.0,3.0,9.0,-1.0,2020,02
48919,Bogota,Bogota,3.0,8.0,11.0,2.0,3.0,1.0,2020,02
48920,Bogota,Bogota,1.0,5.0,3.0,6.0,16.0,-2.0,2020,02
48921,Bogota,Bogota,0.0,6.0,5.0,13.0,20.0,-2.0,2020,02
48922,Bogota,Bogota,-5.0,-2.0,1.0,8.0,13.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
49599,Bogota,Bogota,6.0,35.0,1.0,7.0,-16.0,7.0,2021,12
49600,Bogota,Bogota,10.0,41.0,3.0,15.0,-13.0,7.0,2021,12
49601,Bogota,Bogota,10.0,45.0,8.0,9.0,-19.0,5.0,2021,12
49602,Bogota,Bogota,14.0,55.0,12.0,3.0,-25.0,2.0,2021,12
49603,Bogota,Bogota,-20.0,45.0,-6.0,-19.0,-51.0,7.0,2021,12

In [22]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Bogota'

dataset_v

    Mes   Ano  Ciudad
0     1  2020  Bogota
1     2  2020  Bogota
2     3  2020  Bogota
3     4  2020  Bogota
4     5  2020  Bogota
5     6  2020  Bogota
6     7  2020  Bogota
7     8  2020  Bogota
8     9  2020  Bogota
9    10  2020  Bogota
10   11  2020  Bogota
11   12  2020  Bogota
12    1  2021  Bogota
13    2  2021  Bogota
14    3  2021  Bogota
15    4  2021  Bogota
16    5  2021  Bogota
17    6  2021  Bogota
18    7  2021  Bogota
19    8  2021  Bogota
20    9  2021  Bogota
21   10  2021  Bogota
22   11  2021  Bogota
23   12  2021  Bogota

In [23]:
df_bog.info()
df_bog['Mes'] = df_bog['Mes'].astype('float64')
df_bog['Ano'] = df_bog['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 48918 to 49603
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [24]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_bog.loc[(df_bog['Mes'] == n_Mes) & (df_bog['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Bogota,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Bogota,-0.400000,2.466667,1.800000,7.133333,12.066667,-1.133333
2,3,2020,Bogota,-35.322581,-17.290323,-30.709677,-29.419355,-24.580645,15.870968
3,4,2020,Bogota,-79.400000,-54.366667,-69.733333,-77.666667,-71.133333,37.466667
4,5,2020,Bogota,-66.258065,-36.709677,-52.419355,-62.774194,-52.774194,30.387097
5,6,2020,Bogota,-55.600000,-26.733333,-40.600000,-53.833333,-41.600000,26.100000
6,7,2020,Bogota,-54.000000,-26.451613,-41.258065,-55.064516,-41.838710,25.741935
7,8,2020,Bogota,-54.354839,-26.903226,-40.258065,-55.064516,-40.612903,24.548387
8,9,2020,Bogota,-44.466667,-16.266667,-30.800000,-41.033333,-32.666667,18.500000
9,10,2020,Bogota,-41.000000,-8.451613,-29.677419,-24.322581,-27.193548,15.354839
10,11,2020,Bogota,-36.133333,-7.266667,-31.766667,-17.600000,-23.900000,14.266667
11,12,2020,Bogota,-29.032258,4.709677,-21.709677,-12.387097,-22.580645,10.967742
12,1,2021,Bogota,-57.580645,-27.838710,-47.967742,-39.709677,-40.129032,19.548387
13,2,2021,Bogota,-36.500000,-2.250000,-30.000000,-17.500000,-23.392857,13.214286
14,3,2021,Bogota,-31.580645,6.258065,-26.548387,-8.516129,-20.483871,12.064516
15,4,2021,Bogota,-45.833333,-7.400000,-34.400000,-23.466667,-30.766667,18.666667
16,5,2021,Bogota,-30.032258,7.000000,-21.032258,-15.096774,-20.161290,16.612903
17,6,2021,Bogota,-20.100000,14.766667,-13.100000,-0.800000,-18.700000,13.000000
18,7,2021,Bogota,-13.645161,20.935484,-5.387097,8.258065,-12.322581,10.677419
19,8,2021,Bogota,-10.322581,21.548387,-2.709677,16.645161,-6.354839,9.258065
20,9,2021,Bogota,-6.233333,26.266667,-0.233333,20.633333,0.066667,8.000000
21,10,2021,Bogota,-2.870968,28.612903,0.580645,28.677419,1.387097,6.548387
22,11,2021,Bogota,2.166667,32.766667,4.400000,37.133333,1.033333,6.566667
23,12,2021,Bogota,13.935484,47.483871,14.548387,33.354839,-1.677419,3.419355

In [25]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-11.907527,-4.941219,-9.636559,-7.428674,-4.171326,4.912545
1,-67.086022,-39.269892,-54.250896,-64.758065,-55.169176,31.317921
2,-67.086022,-39.269892,-54.250896,-64.758065,-55.169176,31.317921
3,-67.086022,-39.269892,-54.250896,-64.758065,-55.169176,31.317921
4,-50.940502,-23.207168,-37.438710,-50.387455,-38.372760,22.930108
5,-50.940502,-23.207168,-37.438710,-50.387455,-38.372760,22.930108
6,-50.940502,-23.207168,-37.438710,-50.387455,-38.372760,22.930108
7,-35.388530,-3.669534,-27.717921,-18.103226,-24.558065,13.529749
8,-35.388530,-3.669534,-27.717921,-18.103226,-24.558065,13.529749
9,-35.388530,-3.669534,-27.717921,-18.103226,-24.558065,13.529749
10,-41.887097,-7.943548,-34.838710,-21.908602,-28.001920,14.942396
11,-41.887097,-7.943548,-34.838710,-21.908602,-28.001920,14.942396
12,-41.887097,-7.943548,-34.838710,-21.908602,-28.001920,14.942396
13,-31.988530,4.788889,-22.844086,-13.121147,-23.209319,16.093190
14,-31.988530,4.788889,-22.844086,-13.121147,-23.209319,16.093190
15,-31.988530,4.788889,-22.844086,-13.121147,-23.209319,16.093190
16,-10.067025,22.916846,-2.776703,15.178853,-6.203584,9.311828
17,-10.067025,22.916846,-2.776703,15.178853,-6.203584,9.311828
18,-10.067025,22.916846,-2.776703,15.178853,-6.203584,9.311828
19,4.410394,36.287814,6.509677,33.055197,0.247670,5.511470
20,4.410394,36.287814,6.509677,33.055197,0.247670,5.511470
21,4.410394,36.287814,6.509677,33.055197,0.247670,5.511470
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Bog = pd.DataFrame()
df_Bog['retail_and_recreation'] = retail_and_recreation
df_Bog['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Bog['parks'] = parks
df_Bog['transit_stations'] = transit_stations
df_Bog['workplaces'] = workplaces
df_Bog['residential'] = residential
df_Bog['Trimestre'] = trimestre
df_Bog['Ano'] = ano
df_Bog['Ciudad'] = "Bogota"

df_Bog

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Bogota
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Bogota
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Bogota
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Bogota
4,-11.907527,-4.941219,-9.636559,-7.428674,-4.171326,4.912545,1,2020,Bogota
5,-67.086022,-39.269892,-54.250896,-64.758065,-55.169176,31.317921,2,2020,Bogota
6,-50.940502,-23.207168,-37.438710,-50.387455,-38.372760,22.930108,3,2020,Bogota
7,-35.388530,-3.669534,-27.717921,-18.103226,-24.558065,13.529749,4,2020,Bogota
8,-41.887097,-7.943548,-34.838710,-21.908602,-28.001920,14.942396,1,2021,Bogota
9,-31.988530,4.788889,-22.844086,-13.121147,-23.209319,16.093190,2,2021,Bogota
10,-10.067025,22.916846,-2.776703,15.178853,-6.203584,9.311828,3,2021,Bogota
11,4.410394,36.287814,6.509677,33.055197,0.247670,5.511470,4,2021,Bogota

In [27]:
df_buc = df_mob[df_mob['sub_region_2'] == 'Bucaramanga'].fillna(0)
df_buc.isnull().sum() #Se imprime el dataset
#df_buc

sub_region_1                                          0
sub_region_2                                          0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
Ano                                                   0
Mes                                                   0
dtype: int64

In [28]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Bucaramanga'

dataset_v

    Mes   Ano       Ciudad
0     1  2020  Bucaramanga
1     2  2020  Bucaramanga
2     3  2020  Bucaramanga
3     4  2020  Bucaramanga
4     5  2020  Bucaramanga
5     6  2020  Bucaramanga
6     7  2020  Bucaramanga
7     8  2020  Bucaramanga
8     9  2020  Bucaramanga
9    10  2020  Bucaramanga
10   11  2020  Bucaramanga
11   12  2020  Bucaramanga
12    1  2021  Bucaramanga
13    2  2021  Bucaramanga
14    3  2021  Bucaramanga
15    4  2021  Bucaramanga
16    5  2021  Bucaramanga
17    6  2021  Bucaramanga
18    7  2021  Bucaramanga
19    8  2021  Bucaramanga
20    9  2021  Bucaramanga
21   10  2021  Bucaramanga
22   11  2021  Bucaramanga
23   12  2021  Bucaramanga

In [29]:
df_buc.info()
df_buc['Mes'] = df_buc['Mes'].astype('float64')
df_buc['Ano'] = df_buc['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 182759 to 183444
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [30]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_buc.loc[(df_buc['Mes'] == n_Mes) & (df_buc['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Bucaramanga,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Bucaramanga,-2.866667,-1.666667,0.400000,-8.000000,11.533333,-0.533333
2,3,2020,Bucaramanga,-37.935484,-20.645161,-32.516129,-36.870968,-23.741935,13.096774
3,4,2020,Bucaramanga,-85.033333,-63.933333,-75.833333,-85.533333,-72.600000,32.233333
4,5,2020,Bucaramanga,-74.838710,-52.903226,-62.645161,-74.129032,-55.838710,26.580645
5,6,2020,Bucaramanga,-59.266667,-36.133333,-46.833333,-60.633333,-40.200000,21.000000
6,7,2020,Bucaramanga,-53.032258,-27.322581,-43.064516,-53.193548,-36.741935,18.967742
7,8,2020,Bucaramanga,-61.064516,-38.483871,-51.774194,-58.612903,-41.000000,20.967742
8,9,2020,Bucaramanga,-46.066667,-16.166667,-37.700000,-39.933333,-31.033333,15.133333
9,10,2020,Bucaramanga,-40.000000,-5.193548,-32.096774,-15.354839,-25.419355,12.129032
10,11,2020,Bucaramanga,-33.533333,-1.566667,-34.266667,-8.066667,-22.133333,11.233333
11,12,2020,Bucaramanga,-25.741935,10.774194,-26.483871,7.838710,-20.193548,8.677419
12,1,2021,Bucaramanga,-47.741935,-20.741935,-42.548387,-19.451613,-32.806452,12.516129
13,2,2021,Bucaramanga,-33.892857,-3.357143,-32.857143,-14.714286,-21.392857,9.071429
14,3,2021,Bucaramanga,-29.129032,5.290323,-27.548387,-1.161290,-18.354839,7.935484
15,4,2021,Bucaramanga,-33.666667,1.966667,-29.333333,-6.166667,-20.066667,10.333333
16,5,2021,Bucaramanga,-31.516129,-6.483871,-25.129032,-15.032258,-20.516129,12.612903
17,6,2021,Bucaramanga,-20.000000,3.600000,-19.233333,7.900000,-19.133333,10.200000
18,7,2021,Bucaramanga,-11.580645,12.677419,-12.580645,18.387097,-13.806452,8.129032
19,8,2021,Bucaramanga,-6.322581,14.741935,-11.483871,24.903226,-8.161290,6.548387
20,9,2021,Bucaramanga,-2.266667,19.433333,-7.266667,28.366667,-0.866667,5.166667
21,10,2021,Bucaramanga,3.258065,20.903226,-0.806452,40.548387,-0.032258,4.129032
22,11,2021,Bucaramanga,7.800000,23.400000,-1.100000,43.766667,1.766667,3.800000
23,12,2021,Bucaramanga,21.387097,41.548387,10.290323,66.064516,-0.806452,1.483871

In [31]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.600717,-7.437276,-10.705376,-14.956989,-4.069534,4.187814
1,-73.046237,-50.989964,-61.770609,-73.431900,-56.212903,26.604659
2,-73.046237,-50.989964,-61.770609,-73.431900,-56.212903,26.604659
3,-73.046237,-50.989964,-61.770609,-73.431900,-56.212903,26.604659
4,-53.387814,-27.324373,-44.179570,-50.579928,-36.258423,18.356272
5,-53.387814,-27.324373,-44.179570,-50.579928,-36.258423,18.356272
6,-53.387814,-27.324373,-44.179570,-50.579928,-36.258423,18.356272
7,-33.091756,1.337993,-30.949104,-5.194265,-22.582079,10.679928
8,-33.091756,1.337993,-30.949104,-5.194265,-22.582079,10.679928
9,-33.091756,1.337993,-30.949104,-5.194265,-22.582079,10.679928
10,-36.921275,-6.269585,-34.317972,-11.775730,-24.184716,9.841014
11,-36.921275,-6.269585,-34.317972,-11.775730,-24.184716,9.841014
12,-36.921275,-6.269585,-34.317972,-11.775730,-24.184716,9.841014
13,-28.394265,-0.305735,-24.565233,-4.432975,-19.905376,11.048746
14,-28.394265,-0.305735,-24.565233,-4.432975,-19.905376,11.048746
15,-28.394265,-0.305735,-24.565233,-4.432975,-19.905376,11.048746
16,-6.723297,15.617563,-10.443728,23.885663,-7.611470,6.614695
17,-6.723297,15.617563,-10.443728,23.885663,-7.611470,6.614695
18,-6.723297,15.617563,-10.443728,23.885663,-7.611470,6.614695
19,10.815054,28.617204,2.794624,50.126523,0.309319,3.137634
20,10.815054,28.617204,2.794624,50.126523,0.309319,3.137634
21,10.815054,28.617204,2.794624,50.126523,0.309319,3.137634
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Buc = pd.DataFrame()
df_Buc['retail_and_recreation'] = retail_and_recreation
df_Buc['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Buc['parks'] = parks
df_Buc['transit_stations'] = transit_stations
df_Buc['workplaces'] = workplaces
df_Buc['residential'] = residential
df_Buc['Trimestre'] = trimestre
df_Buc['Ano'] = ano
df_Buc['Ciudad'] = "Bucaramanga"

df_Buc

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Bucaramanga
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Bucaramanga
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Bucaramanga
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Bucaramanga
4,-13.600717,-7.437276,-10.705376,-14.956989,-4.069534,4.187814,1,2020,Bucaramanga
5,-73.046237,-50.989964,-61.770609,-73.431900,-56.212903,26.604659,2,2020,Bucaramanga
6,-53.387814,-27.324373,-44.179570,-50.579928,-36.258423,18.356272,3,2020,Bucaramanga
7,-33.091756,1.337993,-30.949104,-5.194265,-22.582079,10.679928,4,2020,Bucaramanga
8,-36.921275,-6.269585,-34.317972,-11.775730,-24.184716,9.841014,1,2021,Bucaramanga
9,-28.394265,-0.305735,-24.565233,-4.432975,-19.905376,11.048746,2,2021,Bucaramanga
10,-6.723297,15.617563,-10.443728,23.885663,-7.611470,6.614695,3,2021,Bucaramanga
11,10.815054,28.617204,2.794624,50.126523,0.309319,3.137634,4,2021,Bucaramanga

In [33]:
df_cal = df_mob[df_mob['sub_region_2'] == 'Cali'].fillna(0)
df_cal.isnull().sum() #Se imprime el dataset
#df_cal

sub_region_1                                          0
sub_region_2                                          0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
Ano                                                   0
Mes                                                   0
dtype: int64

In [34]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Cali'

dataset_v

    Mes   Ano Ciudad
0     1  2020   Cali
1     2  2020   Cali
2     3  2020   Cali
3     4  2020   Cali
4     5  2020   Cali
5     6  2020   Cali
6     7  2020   Cali
7     8  2020   Cali
8     9  2020   Cali
9    10  2020   Cali
10   11  2020   Cali
11   12  2020   Cali
12    1  2021   Cali
13    2  2021   Cali
14    3  2021   Cali
15    4  2021   Cali
16    5  2021   Cali
17    6  2021   Cali
18    7  2021   Cali
19    8  2021   Cali
20    9  2021   Cali
21   10  2021   Cali
22   11  2021   Cali
23   12  2021   Cali

In [35]:
df_cal.info()
df_cal['Mes'] = df_cal['Mes'].astype('float64')
df_cal['Ano'] = df_cal['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 206712 to 207397
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [36]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_cal.loc[(df_cal['Mes'] == n_Mes) & (df_cal['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Cali,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Cali,-0.200000,1.133333,-1.533333,6.000000,10.066667,-0.800000
2,3,2020,Cali,-34.612903,-17.258065,-33.741935,-27.870968,-22.419355,12.193548
3,4,2020,Cali,-78.700000,-56.233333,-76.333333,-70.833333,-67.100000,30.600000
4,5,2020,Cali,-64.290323,-39.322581,-59.290323,-51.225806,-45.580645,23.774194
5,6,2020,Cali,-48.633333,-25.333333,-43.066667,-38.433333,-31.733333,18.233333
6,7,2020,Cali,-42.870968,-20.032258,-39.129032,-38.741935,-29.096774,16.806452
7,8,2020,Cali,-40.709677,-17.709677,-36.225806,-38.741935,-27.032258,15.032258
8,9,2020,Cali,-30.700000,-9.333333,-29.400000,-30.133333,-20.833333,11.366667
9,10,2020,Cali,-30.161290,-4.032258,-28.741935,-18.903226,-17.419355,9.806452
10,11,2020,Cali,-25.600000,-1.200000,-27.833333,-17.600000,-14.600000,9.300000
11,12,2020,Cali,-18.451613,7.290323,-26.741935,-13.129032,-13.451613,7.580645
12,1,2021,Cali,-44.290323,-18.387097,-45.870968,-37.419355,-29.451613,12.612903
13,2,2021,Cali,-26.642857,0.321429,-34.392857,-22.250000,-14.642857,7.535714
14,3,2021,Cali,-22.032258,7.741935,-34.032258,-18.322581,-13.096774,7.258065
15,4,2021,Cali,-37.466667,-5.700000,-41.266667,-31.033333,-24.466667,13.333333
16,5,2021,Cali,-35.516129,-7.516129,-39.258065,-52.935484,-33.161290,19.000000
17,6,2021,Cali,-9.933333,7.133333,-19.700000,-35.533333,-16.500000,9.433333
18,7,2021,Cali,-3.354839,13.548387,-9.290323,-25.645161,-10.645161,6.806452
19,8,2021,Cali,1.064516,17.000000,-11.483871,-21.806452,-4.064516,5.290323
20,9,2021,Cali,5.600000,21.700000,-11.400000,-18.500000,2.866667,4.166667
21,10,2021,Cali,10.225806,25.451613,-4.677419,-15.483871,4.806452,3.580645
22,11,2021,Cali,13.400000,31.833333,-0.200000,-8.066667,5.966667,3.200000
23,12,2021,Cali,31.387097,40.838710,12.870968,-0.161290,3.774194,1.516129

In [37]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-11.604301,-5.374910,-11.758423,-7.290323,-4.117563,3.797849
1,-63.874552,-40.296416,-59.563441,-53.497491,-48.137993,24.202509
2,-63.874552,-40.296416,-59.563441,-53.497491,-48.137993,24.202509
3,-63.874552,-40.296416,-59.563441,-53.497491,-48.137993,24.202509
4,-38.093548,-15.691756,-34.918280,-35.872401,-25.654122,14.401792
5,-38.093548,-15.691756,-34.918280,-35.872401,-25.654122,14.401792
6,-38.093548,-15.691756,-34.918280,-35.872401,-25.654122,14.401792
7,-24.737634,0.686022,-27.772401,-16.544086,-15.156989,8.895699
8,-24.737634,0.686022,-27.772401,-16.544086,-15.156989,8.895699
9,-24.737634,0.686022,-27.772401,-16.544086,-15.156989,8.895699
10,-30.988479,-3.441244,-38.098694,-25.997312,-19.063748,9.135561
11,-30.988479,-3.441244,-38.098694,-25.997312,-19.063748,9.135561
12,-30.988479,-3.441244,-38.098694,-25.997312,-19.063748,9.135561
13,-27.638710,-2.027599,-33.408244,-39.834050,-24.709319,13.922222
14,-27.638710,-2.027599,-33.408244,-39.834050,-24.709319,13.922222
15,-27.638710,-2.027599,-33.408244,-39.834050,-24.709319,13.922222
16,1.103226,17.416129,-10.724731,-21.983871,-3.947670,5.421147
17,1.103226,17.416129,-10.724731,-21.983871,-3.947670,5.421147
18,1.103226,17.416129,-10.724731,-21.983871,-3.947670,5.421147
19,18.337634,32.707885,2.664516,-7.903943,4.849104,2.765591
20,18.337634,32.707885,2.664516,-7.903943,4.849104,2.765591
21,18.337634,32.707885,2.664516,-7.903943,4.849104,2.765591
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Cal = pd.DataFrame()
df_Cal['retail_and_recreation'] = retail_and_recreation
df_Cal['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Cal['parks'] = parks
df_Cal['transit_stations'] = transit_stations
df_Cal['workplaces'] = workplaces
df_Cal['residential'] = residential
df_Cal['Trimestre'] = trimestre
df_Cal['Ano'] = ano
df_Cal['Ciudad'] = "Cali"
df_Cal

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Cali
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Cali
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Cali
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Cali
4,-11.604301,-5.374910,-11.758423,-7.290323,-4.117563,3.797849,1,2020,Cali
5,-63.874552,-40.296416,-59.563441,-53.497491,-48.137993,24.202509,2,2020,Cali
6,-38.093548,-15.691756,-34.918280,-35.872401,-25.654122,14.401792,3,2020,Cali
7,-24.737634,0.686022,-27.772401,-16.544086,-15.156989,8.895699,4,2020,Cali
8,-30.988479,-3.441244,-38.098694,-25.997312,-19.063748,9.135561,1,2021,Cali
9,-27.638710,-2.027599,-33.408244,-39.834050,-24.709319,13.922222,2,2021,Cali
10,1.103226,17.416129,-10.724731,-21.983871,-3.947670,5.421147,3,2021,Cali
11,18.337634,32.707885,2.664516,-7.903943,4.849104,2.765591,4,2021,Cali

In [39]:
df_car = df_mob[df_mob['sub_region_2'] == 'Cartagena Province'].fillna(0)
df_car["sub_region_2"][df_car["sub_region_2"] == "Cartagena Province"] = "Cartagena"
df_car

<ipython-input-39-4bf3717f6336>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_car["sub_region_2"][df_car["sub_region_2"] == "Cartagena Province"] = "Cartagena"

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
50928,Bolivar,Cartagena,-4.0,-3.0,-14.0,-10.0,8.0,-1.0,2020,02
50929,Bolivar,Cartagena,-5.0,1.0,-14.0,-13.0,1.0,-2.0,2020,02
50930,Bolivar,Cartagena,-1.0,2.0,-9.0,-4.0,16.0,-1.0,2020,02
50931,Bolivar,Cartagena,-4.0,-4.0,-6.0,-4.0,15.0,-2.0,2020,02
50932,Bolivar,Cartagena,-4.0,-5.0,-2.0,0.0,12.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
51609,Bolivar,Cartagena,30.0,63.0,10.0,25.0,8.0,3.0,2021,12
51610,Bolivar,Cartagena,30.0,62.0,14.0,19.0,10.0,3.0,2021,12
51611,Bolivar,Cartagena,39.0,72.0,18.0,17.0,6.0,2.0,2021,12
51612,Bolivar,Cartagena,48.0,86.0,18.0,24.0,4.0,0.0,2021,12
51613,Bolivar,Cartagena,21.0,91.0,5.0,-5.0,-18.0,4.0,2021,12

In [40]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Cartagena'

dataset_v

    Mes   Ano     Ciudad
0     1  2020  Cartagena
1     2  2020  Cartagena
2     3  2020  Cartagena
3     4  2020  Cartagena
4     5  2020  Cartagena
5     6  2020  Cartagena
6     7  2020  Cartagena
7     8  2020  Cartagena
8     9  2020  Cartagena
9    10  2020  Cartagena
10   11  2020  Cartagena
11   12  2020  Cartagena
12    1  2021  Cartagena
13    2  2021  Cartagena
14    3  2021  Cartagena
15    4  2021  Cartagena
16    5  2021  Cartagena
17    6  2021  Cartagena
18    7  2021  Cartagena
19    8  2021  Cartagena
20    9  2021  Cartagena
21   10  2021  Cartagena
22   11  2021  Cartagena
23   12  2021  Cartagena

In [41]:
df_car.info()
df_car['Mes'] = df_car['Mes'].astype('float64')
df_car['Ano'] = df_car['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 50928 to 51613
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [42]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_car.loc[(df_car['Mes'] == n_Mes) & (df_car['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Cartagena,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Cartagena,-5.333333,-2.000000,-9.933333,-2.800000,10.066667,-1.333333
2,3,2020,Cartagena,-40.903226,-31.806452,-49.387097,-41.096774,-24.516129,11.903226
3,4,2020,Cartagena,-83.600000,-68.300000,-86.733333,-88.766667,-69.566667,27.966667
4,5,2020,Cartagena,-79.032258,-63.290323,-82.774194,-85.677419,-61.225806,25.709677
5,6,2020,Cartagena,-73.533333,-53.666667,-78.100000,-83.066667,-51.300000,23.266667
6,7,2020,Cartagena,-70.741935,-50.645161,-76.161290,-84.032258,-49.129032,22.096774
7,8,2020,Cartagena,-67.290323,-42.419355,-72.451613,-81.161290,-42.354839,19.225806
8,9,2020,Cartagena,-58.366667,-30.566667,-64.300000,-68.933333,-33.833333,16.066667
9,10,2020,Cartagena,-50.741935,-18.806452,-55.806452,-60.483871,-26.967742,13.516129
10,11,2020,Cartagena,-44.633333,-14.233333,-52.566667,-51.233333,-24.633333,12.566667
11,12,2020,Cartagena,-35.064516,-1.935484,-43.935484,-43.774194,-21.225806,10.483871
12,1,2021,Cartagena,-45.096774,-14.870968,-45.354839,-42.290323,-25.516129,11.000000
13,2,2021,Cartagena,-38.642857,-4.107143,-45.892857,-37.000000,-18.785714,8.642857
14,3,2021,Cartagena,-31.838710,4.129032,-37.290323,-31.935484,-14.838710,7.806452
15,4,2021,Cartagena,-38.666667,-1.433333,-41.466667,-38.600000,-17.033333,10.533333
16,5,2021,Cartagena,-40.612903,-3.322581,-47.129032,-40.548387,-16.387097,12.774194
17,6,2021,Cartagena,-22.633333,11.400000,-30.466667,-18.533333,-11.066667,9.800000
18,7,2021,Cartagena,-12.193548,19.967742,-22.419355,-10.161290,-5.677419,7.967742
19,8,2021,Cartagena,-9.354839,22.645161,-18.387097,-3.064516,0.774194,6.774194
20,9,2021,Cartagena,-4.200000,27.566667,-16.900000,-0.733333,8.700000,5.500000
21,10,2021,Cartagena,1.903226,34.774194,-15.451613,-1.774194,11.354839,4.645161
22,11,2021,Cartagena,5.366667,41.133333,-10.400000,11.000000,8.366667,4.633333
23,12,2021,Cartagena,25.161290,62.193548,3.677419,17.000000,12.387097,1.967742

In [43]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-15.412186,-11.268817,-19.773477,-14.632258,-4.816487,3.523297
1,-78.721864,-61.752330,-82.535842,-85.836918,-60.697491,25.647670
2,-78.721864,-61.752330,-82.535842,-85.836918,-60.697491,25.647670
3,-78.721864,-61.752330,-82.535842,-85.836918,-60.697491,25.647670
4,-65.466308,-41.210394,-70.970968,-78.042294,-41.772401,19.129749
5,-65.466308,-41.210394,-70.970968,-78.042294,-41.772401,19.129749
6,-65.466308,-41.210394,-70.970968,-78.042294,-41.772401,19.129749
7,-43.479928,-11.658423,-50.769534,-51.830466,-24.275627,12.188889
8,-43.479928,-11.658423,-50.769534,-51.830466,-24.275627,12.188889
9,-43.479928,-11.658423,-50.769534,-51.830466,-24.275627,12.188889
10,-38.526114,-4.949693,-42.846006,-37.075269,-19.713518,9.149770
11,-38.526114,-4.949693,-42.846006,-37.075269,-19.713518,9.149770
12,-38.526114,-4.949693,-42.846006,-37.075269,-19.713518,9.149770
13,-33.970968,2.214695,-39.687455,-32.560573,-14.829032,11.035842
14,-33.970968,2.214695,-39.687455,-32.560573,-14.829032,11.035842
15,-33.970968,2.214695,-39.687455,-32.560573,-14.829032,11.035842
16,-8.582796,23.393190,-19.235484,-4.653047,1.265591,6.747312
17,-8.582796,23.393190,-19.235484,-4.653047,1.265591,6.747312
18,-8.582796,23.393190,-19.235484,-4.653047,1.265591,6.747312
19,10.810394,46.033692,-7.391398,8.741935,10.702867,3.748746
20,10.810394,46.033692,-7.391398,8.741935,10.702867,3.748746
21,10.810394,46.033692,-7.391398,8.741935,10.702867,3.748746
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Car = pd.DataFrame()
df_Car['retail_and_recreation'] = retail_and_recreation
df_Car['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Car['parks'] = parks
df_Car['transit_stations'] = transit_stations
df_Car['workplaces'] = workplaces
df_Car['residential'] = residential
df_Car['Trimestre'] = trimestre
df_Car['Ano'] = ano
df_Car['Ciudad'] = "Cartagena"

df_Car

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Cartagena
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Cartagena
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Cartagena
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Cartagena
4,-15.412186,-11.268817,-19.773477,-14.632258,-4.816487,3.523297,1,2020,Cartagena
5,-78.721864,-61.752330,-82.535842,-85.836918,-60.697491,25.647670,2,2020,Cartagena
6,-65.466308,-41.210394,-70.970968,-78.042294,-41.772401,19.129749,3,2020,Cartagena
7,-43.479928,-11.658423,-50.769534,-51.830466,-24.275627,12.188889,4,2020,Cartagena
8,-38.526114,-4.949693,-42.846006,-37.075269,-19.713518,9.149770,1,2021,Cartagena
9,-33.970968,2.214695,-39.687455,-32.560573,-14.829032,11.035842,2,2021,Cartagena
10,-8.582796,23.393190,-19.235484,-4.653047,1.265591,6.747312,3,2021,Cartagena
11,10.810394,46.033692,-7.391398,8.741935,10.702867,3.748746,4,2021,Cartagena

In [45]:
df_cuc = df_mob[df_mob['sub_region_2'] == 'Cucuta'].fillna(0)
df_cuc

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
159047,North Santander,Cucuta,-3.0,-5.0,-9.0,-13.0,5.0,2.0,2020,02
159048,North Santander,Cucuta,4.0,3.0,-9.0,-12.0,-5.0,4.0,2020,02
159049,North Santander,Cucuta,-11.0,-5.0,-12.0,-3.0,12.0,1.0,2020,02
159050,North Santander,Cucuta,-3.0,-2.0,-2.0,-12.0,15.0,-1.0,2020,02
159051,North Santander,Cucuta,-5.0,-4.0,-4.0,-3.0,15.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
159728,North Santander,Cucuta,40.0,62.0,34.0,66.0,13.0,4.0,2021,12
159729,North Santander,Cucuta,54.0,72.0,45.0,64.0,11.0,3.0,2021,12
159730,North Santander,Cucuta,57.0,87.0,51.0,57.0,14.0,1.0,2021,12
159731,North Santander,Cucuta,67.0,103.0,63.0,78.0,7.0,-1.0,2021,12
159732,North Santander,Cucuta,32.0,108.0,46.0,62.0,-11.0,3.0,2021,12

In [46]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Cucuta'

dataset_v

    Mes   Ano  Ciudad
0     1  2020  Cucuta
1     2  2020  Cucuta
2     3  2020  Cucuta
3     4  2020  Cucuta
4     5  2020  Cucuta
5     6  2020  Cucuta
6     7  2020  Cucuta
7     8  2020  Cucuta
8     9  2020  Cucuta
9    10  2020  Cucuta
10   11  2020  Cucuta
11   12  2020  Cucuta
12    1  2021  Cucuta
13    2  2021  Cucuta
14    3  2021  Cucuta
15    4  2021  Cucuta
16    5  2021  Cucuta
17    6  2021  Cucuta
18    7  2021  Cucuta
19    8  2021  Cucuta
20    9  2021  Cucuta
21   10  2021  Cucuta
22   11  2021  Cucuta
23   12  2021  Cucuta

In [47]:
df_cuc.info()
df_cuc['Mes'] = df_cuc['Mes'].astype('float64')
df_cuc['Ano'] = df_cuc['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 159047 to 159732
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [48]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_cuc.loc[(df_cuc['Mes'] == n_Mes) & (df_cuc['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Cucuta,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Cucuta,-2.933333,-0.400000,-4.200000,-7.733333,10.800000,-0.333333
2,3,2020,Cucuta,-39.483871,-23.709677,-38.516129,-39.419355,-22.645161,12.193548
3,4,2020,Cucuta,-82.266667,-59.700000,-77.833333,-86.366667,-65.333333,28.000000
4,5,2020,Cucuta,-66.645161,-38.548387,-59.064516,-80.419355,-40.193548,21.483871
5,6,2020,Cucuta,-51.066667,-24.166667,-41.533333,-75.566667,-24.433333,17.000000
6,7,2020,Cucuta,-49.677419,-25.064516,-42.935484,-74.419355,-24.419355,17.161290
7,8,2020,Cucuta,-58.032258,-34.967742,-50.838710,-40.645161,-33.290323,19.774194
8,9,2020,Cucuta,-40.100000,-15.800000,-29.466667,-40.166667,-18.266667,13.300000
9,10,2020,Cucuta,-35.709677,-6.064516,-24.129032,-48.612903,-12.258065,11.000000
10,11,2020,Cucuta,-31.200000,-5.300000,-22.800000,-36.133333,-10.033333,11.000000
11,12,2020,Cucuta,-33.483871,-1.838710,-19.000000,-27.774194,-13.612903,12.064516
12,1,2021,Cucuta,-49.032258,-22.161290,-43.645161,-35.193548,-24.967742,13.419355
13,2,2021,Cucuta,-32.107143,-3.357143,-26.071429,-31.821429,-9.285714,7.928571
14,3,2021,Cucuta,-24.516129,6.580645,-17.483871,-26.451613,-5.387097,7.129032
15,4,2021,Cucuta,-26.433333,5.966667,-19.266667,-25.400000,-5.633333,8.566667
16,5,2021,Cucuta,-16.096774,19.129032,-6.806452,-15.290323,1.387097,8.451613
17,6,2021,Cucuta,-8.333333,25.533333,-1.266667,11.266667,-0.433333,7.866667
18,7,2021,Cucuta,-0.709677,32.161290,5.645161,19.903226,4.483871,7.000000
19,8,2021,Cucuta,3.612903,34.774194,11.096774,29.161290,9.064516,5.903226
20,9,2021,Cucuta,10.200000,40.400000,15.200000,40.100000,14.933333,4.600000
21,10,2021,Cucuta,12.387097,39.774194,15.612903,52.935484,15.903226,4.516129
22,11,2021,Cucuta,21.833333,47.833333,21.000000,49.100000,17.900000,3.666667
23,12,2021,Cucuta,41.967742,71.677419,44.870968,66.903226,19.161290,1.548387

In [49]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-14.139068,-8.036559,-14.238710,-15.717563,-3.948387,3.953405
1,-66.659498,-40.805018,-59.477061,-80.784229,-43.320072,22.161290
2,-66.659498,-40.805018,-59.477061,-80.784229,-43.320072,22.161290
3,-66.659498,-40.805018,-59.477061,-80.784229,-43.320072,22.161290
4,-49.269892,-25.277419,-41.080287,-51.743728,-25.325448,16.745161
5,-49.269892,-25.277419,-41.080287,-51.743728,-25.325448,16.745161
6,-49.269892,-25.277419,-41.080287,-51.743728,-25.325448,16.745161
7,-33.464516,-4.401075,-21.976344,-37.506810,-11.968100,11.354839
8,-33.464516,-4.401075,-21.976344,-37.506810,-11.968100,11.354839
9,-33.464516,-4.401075,-21.976344,-37.506810,-11.968100,11.354839
10,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320
11,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320
12,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320
13,-16.954480,16.876344,-9.113262,-9.807885,-1.559857,8.294982
14,-16.954480,16.876344,-9.113262,-9.807885,-1.559857,8.294982
15,-16.954480,16.876344,-9.113262,-9.807885,-1.559857,8.294982
16,4.367742,35.778495,10.647312,29.721505,9.493907,5.834409
17,4.367742,35.778495,10.647312,29.721505,9.493907,5.834409
18,4.367742,35.778495,10.647312,29.721505,9.493907,5.834409
19,25.396057,53.094982,27.161290,56.312903,17.654839,3.243728
20,25.396057,53.094982,27.161290,56.312903,17.654839,3.243728
21,25.396057,53.094982,27.161290,56.312903,17.654839,3.243728
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Cuc = pd.DataFrame()
df_Cuc['retail_and_recreation'] = retail_and_recreation
df_Cuc['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Cuc['parks'] = parks
df_Cuc['transit_stations'] = transit_stations
df_Cuc['workplaces'] = workplaces
df_Cuc['residential'] = residential
df_Cuc['Trimestre'] = trimestre
df_Cuc['Ano'] = ano
df_Cuc['Ciudad'] = "Cucuta"
df_Cuc

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Cucuta
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Cucuta
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Cucuta
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Cucuta
4,-14.139068,-8.036559,-14.238710,-15.717563,-3.948387,3.953405,1,2020,Cucuta
5,-66.659498,-40.805018,-59.477061,-80.784229,-43.320072,22.161290,2,2020,Cucuta
6,-49.269892,-25.277419,-41.080287,-51.743728,-25.325448,16.745161,3,2020,Cucuta
7,-33.464516,-4.401075,-21.976344,-37.506810,-11.968100,11.354839,4,2020,Cucuta
8,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320,1,2021,Cucuta
9,-16.954480,16.876344,-9.113262,-9.807885,-1.559857,8.294982,2,2021,Cucuta
10,4.367742,35.778495,10.647312,29.721505,9.493907,5.834409,3,2021,Cucuta
11,25.396057,53.094982,27.161290,56.312903,17.654839,3.243728,4,2021,Cucuta

In [51]:
df_flo = df_mob[df_mob['sub_region_2'] == 'Florencia'].fillna(0)
df_flo

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
73087,Caqueta,Florencia,2.0,-2.0,0.0,0.0,12.0,0.0,2020,02
73088,Caqueta,Florencia,8.0,10.0,4.0,0.0,12.0,2.0,2020,02
73089,Caqueta,Florencia,-4.0,-5.0,-1.0,0.0,16.0,-1.0,2020,02
73090,Caqueta,Florencia,-6.0,-6.0,-6.0,0.0,16.0,-1.0,2020,02
73091,Caqueta,Florencia,-7.0,-6.0,-8.0,0.0,15.0,-1.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
73765,Caqueta,Florencia,29.0,111.0,27.0,0.0,11.0,-1.0,2021,12
73766,Caqueta,Florencia,30.0,125.0,33.0,0.0,14.0,0.0,2021,12
73767,Caqueta,Florencia,38.0,135.0,49.0,0.0,12.0,-2.0,2021,12
73768,Caqueta,Florencia,56.0,158.0,70.0,0.0,9.0,-5.0,2021,12
73769,Caqueta,Florencia,35.0,153.0,69.0,0.0,-9.0,-4.0,2021,12

In [52]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Florencia'

dataset_v

    Mes   Ano     Ciudad
0     1  2020  Florencia
1     2  2020  Florencia
2     3  2020  Florencia
3     4  2020  Florencia
4     5  2020  Florencia
5     6  2020  Florencia
6     7  2020  Florencia
7     8  2020  Florencia
8     9  2020  Florencia
9    10  2020  Florencia
10   11  2020  Florencia
11   12  2020  Florencia
12    1  2021  Florencia
13    2  2021  Florencia
14    3  2021  Florencia
15    4  2021  Florencia
16    5  2021  Florencia
17    6  2021  Florencia
18    7  2021  Florencia
19    8  2021  Florencia
20    9  2021  Florencia
21   10  2021  Florencia
22   11  2021  Florencia
23   12  2021  Florencia

In [53]:
df_flo.info()
df_flo['Mes'] = df_flo['Mes'].astype('float64')
df_flo['Ano'] = df_flo['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 73087 to 73769
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        683 non-null    object
 1   sub_region_2                                        683 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  683 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   683 non-null    float64
 4   parks_percent_change_from_baseline                  683 non-null    float64
 5   transit_stations_percent_change_from_baseline       683 non-null    float64
 6   workplaces_percent_change_from_baseline             683 non-null    float64
 7   residential_percent_change_from_baseline            683 non-null    float64
 8   Ano                                                 683 non-null    object
 9   Mes                                                 683 non-null    object
dtypes: float64(6), object(4)
memory usage: 58.7+ KB

In [54]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_flo.loc[(df_flo['Mes'] == n_Mes) & (df_flo['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Florencia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Florencia,-0.266667,-2.533333,-0.066667,0.000000,13.533333,-0.400000
2,3,2020,Florencia,-30.483871,-17.709677,-28.096774,0.000000,-16.000000,8.677419
3,4,2020,Florencia,-75.466667,-59.366667,-71.333333,0.000000,-59.233333,24.333333
4,5,2020,Florencia,-63.193548,-41.741935,-53.516129,-7.645161,-41.161290,20.806452
5,6,2020,Florencia,-44.433333,-16.433333,-32.100000,-9.733333,-21.833333,16.166667
6,7,2020,Florencia,-54.709677,-16.903226,-42.225806,-11.258065,-28.064516,17.516129
7,8,2020,Florencia,-43.965517,-16.724138,-47.000000,-3.275862,-42.137931,20.896552
8,9,2020,Florencia,-30.034483,-6.206897,-22.896552,-1.620690,-22.172414,13.172414
9,10,2020,Florencia,-31.161290,8.193548,-22.935484,-4.225806,-14.193548,10.322581
10,11,2020,Florencia,-22.466667,15.200000,-20.700000,-1.333333,-11.333333,9.033333
11,12,2020,Florencia,-12.387097,35.290323,-6.419355,-1.258065,-9.580645,5.129032
12,1,2021,Florencia,-27.741935,16.129032,-23.903226,-3.064516,-18.064516,7.645161
13,2,2021,Florencia,-19.428571,25.892857,-20.750000,0.000000,-7.821429,4.535714
14,3,2021,Florencia,-10.774194,40.483871,-16.870968,0.000000,-4.580645,3.387097
15,4,2021,Florencia,-13.133333,40.800000,-13.866667,0.000000,-3.100000,4.800000
16,5,2021,Florencia,-22.096774,37.967742,-20.451613,-1.354839,-2.580645,11.258065
17,6,2021,Florencia,-6.700000,49.833333,-4.166667,0.000000,0.266667,4.333333
18,7,2021,Florencia,-2.322581,55.935484,1.064516,0.000000,3.806452,5.612903
19,8,2021,Florencia,5.645161,58.870968,9.580645,0.000000,16.064516,2.000000
20,9,2021,Florencia,12.166667,68.966667,14.300000,0.000000,24.733333,0.900000
21,10,2021,Florencia,12.580645,68.580645,14.096774,0.000000,22.903226,0.096774
22,11,2021,Florencia,14.200000,78.766667,17.633333,0.000000,24.933333,-0.433333
23,12,2021,Florencia,29.032258,97.419355,39.129032,0.000000,21.774194,-3.483871

In [55]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-10.250179,-6.747670,-9.387814,0.000000,-0.822222,2.759140
1,-61.031183,-39.180645,-52.316487,-5.792832,-40.742652,20.435484
2,-61.031183,-39.180645,-52.316487,-5.792832,-40.742652,20.435484
3,-61.031183,-39.180645,-52.316487,-5.792832,-40.742652,20.435484
4,-42.903226,-13.278087,-37.374119,-5.384872,-30.791620,17.195032
5,-42.903226,-13.278087,-37.374119,-5.384872,-30.791620,17.195032
6,-42.903226,-13.278087,-37.374119,-5.384872,-30.791620,17.195032
7,-22.005018,19.561290,-16.684946,-2.272401,-11.702509,8.161649
8,-22.005018,19.561290,-16.684946,-2.272401,-11.702509,8.161649
9,-22.005018,19.561290,-16.684946,-2.272401,-11.702509,8.161649
10,-19.314900,27.501920,-20.508065,-1.021505,-10.155530,5.189324
11,-19.314900,27.501920,-20.508065,-1.021505,-10.155530,5.189324
12,-19.314900,27.501920,-20.508065,-1.021505,-10.155530,5.189324
13,-13.976703,42.867025,-12.828315,-0.451613,-1.804659,6.797133
14,-13.976703,42.867025,-12.828315,-0.451613,-1.804659,6.797133
15,-13.976703,42.867025,-12.828315,-0.451613,-1.804659,6.797133
16,5.163082,61.257706,8.315054,0.000000,14.868100,2.837634
17,5.163082,61.257706,8.315054,0.000000,14.868100,2.837634
18,5.163082,61.257706,8.315054,0.000000,14.868100,2.837634
19,18.604301,81.588889,23.619713,0.000000,23.203584,-1.273477
20,18.604301,81.588889,23.619713,0.000000,23.203584,-1.273477
21,18.604301,81.588889,23.619713,0.000000,23.203584,-1.273477
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Flo = pd.DataFrame()
df_Flo['retail_and_recreation'] = retail_and_recreation
df_Flo['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Flo['parks'] = parks
df_Flo['transit_stations'] = transit_stations
df_Flo['workplaces'] = workplaces
df_Flo['residential'] = residential
df_Flo['Trimestre'] = trimestre
df_Flo['Ano'] = ano
df_Flo['Ciudad'] = "Florencia"
df_Flo

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Florencia
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Florencia
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Florencia
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Florencia
4,-10.250179,-6.747670,-9.387814,0.000000,-0.822222,2.759140,1,2020,Florencia
5,-61.031183,-39.180645,-52.316487,-5.792832,-40.742652,20.435484,2,2020,Florencia
6,-42.903226,-13.278087,-37.374119,-5.384872,-30.791620,17.195032,3,2020,Florencia
7,-22.005018,19.561290,-16.684946,-2.272401,-11.702509,8.161649,4,2020,Florencia
8,-19.314900,27.501920,-20.508065,-1.021505,-10.155530,5.189324,1,2021,Florencia
9,-13.976703,42.867025,-12.828315,-0.451613,-1.804659,6.797133,2,2021,Florencia
10,5.163082,61.257706,8.315054,0.000000,14.868100,2.837634,3,2021,Florencia
11,18.604301,81.588889,23.619713,0.000000,23.203584,-1.273477,4,2021,Florencia

In [57]:
df_iba = df_mob[df_mob['sub_region_2'] == 'Ibague'].fillna(0)
df_iba

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
200234,Tolima,Ibague,-1.0,-3.0,-2.0,-34.0,5.0,0.0,2020,02
200235,Tolima,Ibague,0.0,2.0,-1.0,-39.0,-1.0,3.0,2020,02
200236,Tolima,Ibague,-5.0,-4.0,-4.0,-8.0,16.0,-1.0,2020,02
200237,Tolima,Ibague,-7.0,-5.0,-6.0,1.0,17.0,-1.0,2020,02
200238,Tolima,Ibague,3.0,-6.0,-6.0,-1.0,13.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
200915,Tolima,Ibague,43.0,43.0,35.0,29.0,-4.0,2.0,2021,12
200916,Tolima,Ibague,45.0,51.0,39.0,49.0,-4.0,2.0,2021,12
200917,Tolima,Ibague,48.0,58.0,32.0,72.0,-4.0,1.0,2021,12
200918,Tolima,Ibague,77.0,83.0,65.0,134.0,-4.0,-2.0,2021,12
200919,Tolima,Ibague,41.0,90.0,67.0,45.0,-30.0,1.0,2021,12

In [58]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Ibague'

dataset_v

    Mes   Ano  Ciudad
0     1  2020  Ibague
1     2  2020  Ibague
2     3  2020  Ibague
3     4  2020  Ibague
4     5  2020  Ibague
5     6  2020  Ibague
6     7  2020  Ibague
7     8  2020  Ibague
8     9  2020  Ibague
9    10  2020  Ibague
10   11  2020  Ibague
11   12  2020  Ibague
12    1  2021  Ibague
13    2  2021  Ibague
14    3  2021  Ibague
15    4  2021  Ibague
16    5  2021  Ibague
17    6  2021  Ibague
18    7  2021  Ibague
19    8  2021  Ibague
20    9  2021  Ibague
21   10  2021  Ibague
22   11  2021  Ibague
23   12  2021  Ibague

In [59]:
df_iba.info()
df_iba['Mes'] = df_iba['Mes'].astype('float64')
df_iba['Ano'] = df_iba['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 200234 to 200919
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [60]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_iba.loc[(df_iba['Mes'] == n_Mes) & (df_iba['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Ibague,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Ibague,-4.133333,-2.133333,-6.333333,-10.000000,10.933333,-0.466667
2,3,2020,Ibague,-37.806452,-22.258065,-38.225806,-41.741935,-23.451613,12.741935
3,4,2020,Ibague,-81.233333,-60.533333,-72.166667,-91.933333,-68.033333,30.300000
4,5,2020,Ibague,-70.096774,-49.064516,-54.806452,-88.548387,-51.290323,25.741935
5,6,2020,Ibague,-48.233333,-27.333333,-30.100000,-78.700000,-30.000000,18.733333
6,7,2020,Ibague,-43.193548,-26.161290,-25.548387,-74.774194,-27.548387,17.258065
7,8,2020,Ibague,-49.419355,-31.483871,-32.967742,-73.129032,-32.677419,18.322581
8,9,2020,Ibague,-33.066667,-18.133333,-17.066667,-45.633333,-24.766667,12.333333
9,10,2020,Ibague,-31.870968,-10.870968,-14.645161,-33.677419,-21.258065,11.193548
10,11,2020,Ibague,-28.566667,-9.500000,-20.500000,-31.333333,-19.033333,11.266667
11,12,2020,Ibague,-20.612903,2.322581,-16.483871,-21.064516,-18.419355,9.322581
12,1,2021,Ibague,-44.322581,-25.709677,-35.741935,-42.580645,-32.032258,13.548387
13,2,2021,Ibague,-26.571429,-7.250000,-20.250000,-34.857143,-17.107143,7.821429
14,3,2021,Ibague,-19.483871,-2.516129,-12.096774,-23.645161,-14.709677,6.774194
15,4,2021,Ibague,-20.100000,-4.900000,-11.066667,-32.033333,-15.100000,8.466667
16,5,2021,Ibague,-18.096774,0.967742,-7.322581,-54.419355,-11.903226,9.645161
17,6,2021,Ibague,-6.400000,8.200000,6.566667,-22.033333,-13.466667,6.666667
18,7,2021,Ibague,0.451613,9.677419,12.612903,-10.612903,-8.774194,5.548387
19,8,2021,Ibague,2.258065,9.838710,14.548387,-7.193548,-2.322581,4.645161
20,9,2021,Ibague,7.233333,12.400000,17.833333,-6.566667,3.733333,3.666667
21,10,2021,Ibague,16.322581,20.096774,24.129032,3.322581,4.645161,2.451613
22,11,2021,Ibague,17.833333,22.400000,23.266667,4.133333,5.466667,2.700000
23,12,2021,Ibague,41.354839,41.870968,37.354839,24.967742,4.548387,-0.096774

In [61]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.979928,-8.130466,-14.853047,-17.247312,-4.172760,4.091756
1,-66.521147,-45.643728,-52.357706,-86.393907,-49.774552,24.925090
2,-66.521147,-45.643728,-52.357706,-86.393907,-49.774552,24.925090
3,-66.521147,-45.643728,-52.357706,-86.393907,-49.774552,24.925090
4,-41.893190,-25.259498,-25.194265,-64.512186,-28.330824,15.971326
5,-41.893190,-25.259498,-25.194265,-64.512186,-28.330824,15.971326
6,-41.893190,-25.259498,-25.194265,-64.512186,-28.330824,15.971326
7,-27.016846,-6.016129,-17.209677,-28.691756,-19.570251,10.594265
8,-27.016846,-6.016129,-17.209677,-28.691756,-19.570251,10.594265
9,-27.016846,-6.016129,-17.209677,-28.691756,-19.570251,10.594265
10,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336
11,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336
12,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336
13,-14.865591,1.422581,-3.940860,-36.162007,-13.489964,8.259498
14,-14.865591,1.422581,-3.940860,-36.162007,-13.489964,8.259498
15,-14.865591,1.422581,-3.940860,-36.162007,-13.489964,8.259498
16,3.314337,10.638710,14.998208,-8.124373,-2.454480,4.620072
17,3.314337,10.638710,14.998208,-8.124373,-2.454480,4.620072
18,3.314337,10.638710,14.998208,-8.124373,-2.454480,4.620072
19,25.170251,28.122581,28.250179,10.807885,4.886738,1.684946
20,25.170251,28.122581,28.250179,10.807885,4.886738,1.684946
21,25.170251,28.122581,28.250179,10.807885,4.886738,1.684946
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Iba = pd.DataFrame()
df_Iba['retail_and_recreation'] = retail_and_recreation
df_Iba['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Iba['parks'] = parks
df_Iba['transit_stations'] = transit_stations
df_Iba['workplaces'] = workplaces
df_Iba['residential'] = residential
df_Iba['Trimestre'] = trimestre
df_Iba['Ano'] = ano
df_Iba['Ciudad'] = "Ibague"
df_Iba

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Ibague
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Ibague
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Ibague
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Ibague
4,-13.979928,-8.130466,-14.853047,-17.247312,-4.172760,4.091756,1,2020,Ibague
5,-66.521147,-45.643728,-52.357706,-86.393907,-49.774552,24.925090,2,2020,Ibague
6,-41.893190,-25.259498,-25.194265,-64.512186,-28.330824,15.971326,3,2020,Ibague
7,-27.016846,-6.016129,-17.209677,-28.691756,-19.570251,10.594265,4,2020,Ibague
8,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336,1,2021,Ibague
9,-14.865591,1.422581,-3.940860,-36.162007,-13.489964,8.259498,2,2021,Ibague
10,3.314337,10.638710,14.998208,-8.124373,-2.454480,4.620072,3,2021,Ibague
11,25.170251,28.122581,28.250179,10.807885,4.886738,1.684946,4,2021,Ibague

In [63]:
df_man = df_mob[df_mob['sub_region_2'] == 'Manizales'].fillna(0)
df_man

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
67823,Caldas,Manizales,-5.0,-10.0,-9.0,-19.0,5.0,1.0,2020,02
67824,Caldas,Manizales,-3.0,-4.0,-7.0,-22.0,-2.0,2.0,2020,02
67825,Caldas,Manizales,-5.0,-7.0,-3.0,-2.0,10.0,-2.0,2020,02
67826,Caldas,Manizales,-4.0,-6.0,-1.0,-6.0,11.0,-2.0,2020,02
67827,Caldas,Manizales,-3.0,-5.0,-2.0,-1.0,7.0,-1.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
68504,Caldas,Manizales,18.0,13.0,16.0,58.0,-15.0,3.0,2021,12
68505,Caldas,Manizales,18.0,22.0,21.0,49.0,-15.0,3.0,2021,12
68506,Caldas,Manizales,23.0,30.0,24.0,73.0,-18.0,3.0,2021,12
68507,Caldas,Manizales,39.0,46.0,53.0,95.0,-19.0,0.0,2021,12
68508,Caldas,Manizales,4.0,34.0,16.0,48.0,-42.0,3.0,2021,12

In [64]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Manizales'

dataset_v

    Mes   Ano     Ciudad
0     1  2020  Manizales
1     2  2020  Manizales
2     3  2020  Manizales
3     4  2020  Manizales
4     5  2020  Manizales
5     6  2020  Manizales
6     7  2020  Manizales
7     8  2020  Manizales
8     9  2020  Manizales
9    10  2020  Manizales
10   11  2020  Manizales
11   12  2020  Manizales
12    1  2021  Manizales
13    2  2021  Manizales
14    3  2021  Manizales
15    4  2021  Manizales
16    5  2021  Manizales
17    6  2021  Manizales
18    7  2021  Manizales
19    8  2021  Manizales
20    9  2021  Manizales
21   10  2021  Manizales
22   11  2021  Manizales
23   12  2021  Manizales

In [65]:
df_man.info()
df_man['Mes'] = df_man['Mes'].astype('float64')
df_man['Ano'] = df_man['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 67823 to 68508
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [66]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_man.loc[(df_man['Mes'] == n_Mes) & (df_man['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Manizales,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Manizales,-5.866667,-9.133333,-6.933333,-7.733333,6.666667,-0.200000
2,3,2020,Manizales,-42.193548,-30.290323,-41.354839,-40.290323,-26.258065,14.032258
3,4,2020,Manizales,-81.966667,-65.333333,-77.133333,-89.800000,-67.400000,31.966667
4,5,2020,Manizales,-70.645161,-52.096774,-61.161290,-84.838710,-48.290323,25.967742
5,6,2020,Manizales,-55.766667,-33.366667,-45.100000,-77.800000,-32.933333,20.366667
6,7,2020,Manizales,-53.903226,-32.483871,-41.967742,-72.419355,-32.387097,19.000000
7,8,2020,Manizales,-54.193548,-33.838710,-43.258065,-66.741935,-32.967742,18.354839
8,9,2020,Manizales,-40.666667,-16.866667,-30.800000,-34.700000,-28.500000,13.466667
9,10,2020,Manizales,-45.580645,-13.032258,-32.483871,-37.290323,-27.516129,13.064516
10,11,2020,Manizales,-43.866667,-13.300000,-35.333333,-38.066667,-24.433333,13.600000
11,12,2020,Manizales,-30.161290,4.064516,-18.096774,-16.903226,-20.419355,8.967742
12,1,2021,Manizales,-43.741935,-17.064516,-26.580645,-28.645161,-26.870968,11.096774
13,2,2021,Manizales,-38.714286,-11.535714,-31.142857,-31.750000,-21.892857,9.107143
14,3,2021,Manizales,-34.129032,-5.354839,-27.354839,-19.645161,-21.741935,8.709677
15,4,2021,Manizales,-46.300000,-18.733333,-38.466667,-31.333333,-30.900000,14.566667
16,5,2021,Manizales,-28.193548,-22.096774,-20.838710,-40.193548,-22.838710,12.419355
17,6,2021,Manizales,-15.666667,-13.966667,-9.066667,-13.866667,-22.100000,8.900000
18,7,2021,Manizales,-10.193548,-3.838710,-2.741935,-2.774194,-16.580645,7.161290
19,8,2021,Manizales,-7.451613,-3.580645,-2.967742,3.580645,-9.903226,5.838710
20,9,2021,Manizales,-4.366667,1.133333,-0.533333,4.433333,-3.566667,4.433333
21,10,2021,Manizales,0.193548,2.741935,0.322581,18.193548,-3.322581,3.677419
22,11,2021,Manizales,2.566667,0.400000,-1.133333,23.800000,-2.333333,3.566667
23,12,2021,Manizales,16.354839,17.516129,20.774194,42.741935,-5.806452,1.387097

In [67]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-16.020072,-13.141219,-16.096057,-16.007885,-6.530466,4.610753
1,-69.459498,-50.265591,-61.131541,-84.146237,-49.541219,26.100358
2,-69.459498,-50.265591,-61.131541,-84.146237,-49.541219,26.100358
3,-69.459498,-50.265591,-61.131541,-84.146237,-49.541219,26.100358
4,-49.587814,-27.729749,-38.675269,-57.953763,-31.284946,16.940502
5,-49.587814,-27.729749,-38.675269,-57.953763,-31.284946,16.940502
6,-49.587814,-27.729749,-38.675269,-57.953763,-31.284946,16.940502
7,-39.869534,-7.422581,-28.637993,-30.753405,-24.122939,11.877419
8,-39.869534,-7.422581,-28.637993,-30.753405,-24.122939,11.877419
9,-39.869534,-7.422581,-28.637993,-30.753405,-24.122939,11.877419
10,-38.861751,-11.318356,-28.359447,-26.680108,-23.501920,9.637865
11,-38.861751,-11.318356,-28.359447,-26.680108,-23.501920,9.637865
12,-38.861751,-11.318356,-28.359447,-26.680108,-23.501920,9.637865
13,-30.053405,-18.265591,-22.790681,-28.464516,-25.279570,11.962007
14,-30.053405,-18.265591,-22.790681,-28.464516,-25.279570,11.962007
15,-30.053405,-18.265591,-22.790681,-28.464516,-25.279570,11.962007
16,-7.337276,-2.095341,-2.081004,1.746595,-10.016846,5.811111
17,-7.337276,-2.095341,-2.081004,1.746595,-10.016846,5.811111
18,-7.337276,-2.095341,-2.081004,1.746595,-10.016846,5.811111
19,6.371685,6.886022,6.654480,28.245161,-3.820789,2.877061
20,6.371685,6.886022,6.654480,28.245161,-3.820789,2.877061
21,6.371685,6.886022,6.654480,28.245161,-3.820789,2.877061
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Man = pd.DataFrame()
df_Man['retail_and_recreation'] = retail_and_recreation
df_Man['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Man['parks'] = parks
df_Man['transit_stations'] = transit_stations
df_Man['workplaces'] = workplaces
df_Man['residential'] = residential
df_Man['Trimestre'] = trimestre
df_Man['Ano'] = ano
df_Man['Ciudad'] = "Manizales"
df_Man

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Manizales
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Manizales
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Manizales
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Manizales
4,-16.020072,-13.141219,-16.096057,-16.007885,-6.530466,4.610753,1,2020,Manizales
5,-69.459498,-50.265591,-61.131541,-84.146237,-49.541219,26.100358,2,2020,Manizales
6,-49.587814,-27.729749,-38.675269,-57.953763,-31.284946,16.940502,3,2020,Manizales
7,-39.869534,-7.422581,-28.637993,-30.753405,-24.122939,11.877419,4,2020,Manizales
8,-38.861751,-11.318356,-28.359447,-26.680108,-23.501920,9.637865,1,2021,Manizales
9,-30.053405,-18.265591,-22.790681,-28.464516,-25.279570,11.962007,2,2021,Manizales
10,-7.337276,-2.095341,-2.081004,1.746595,-10.016846,5.811111,3,2021,Manizales
11,6.371685,6.886022,6.654480,28.245161,-3.820789,2.877061,4,2021,Manizales

In [69]:
df_med = df_mob[df_mob['sub_region_2'] == 'Medellin'].fillna(0)
df_med

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
22529,Antioquia,Medellin,11.0,5.0,6.0,5.0,7.0,0.0,2020,02
22530,Antioquia,Medellin,6.0,11.0,7.0,-1.0,2.0,2.0,2020,02
22531,Antioquia,Medellin,1.0,-1.0,4.0,7.0,11.0,-2.0,2020,02
22532,Antioquia,Medellin,2.0,-5.0,3.0,6.0,12.0,-2.0,2020,02
22533,Antioquia,Medellin,-4.0,-9.0,0.0,3.0,10.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
23210,Antioquia,Medellin,10.0,47.0,9.0,5.0,-12.0,6.0,2021,12
23211,Antioquia,Medellin,18.0,59.0,19.0,7.0,-12.0,5.0,2021,12
23212,Antioquia,Medellin,12.0,56.0,12.0,4.0,-15.0,5.0,2021,12
23213,Antioquia,Medellin,20.0,76.0,22.0,11.0,-18.0,3.0,2021,12
23214,Antioquia,Medellin,-16.0,74.0,9.0,-11.0,-44.0,9.0,2021,12

In [70]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Medellin'

dataset_v

    Mes   Ano    Ciudad
0     1  2020  Medellin
1     2  2020  Medellin
2     3  2020  Medellin
3     4  2020  Medellin
4     5  2020  Medellin
5     6  2020  Medellin
6     7  2020  Medellin
7     8  2020  Medellin
8     9  2020  Medellin
9    10  2020  Medellin
10   11  2020  Medellin
11   12  2020  Medellin
12    1  2021  Medellin
13    2  2021  Medellin
14    3  2021  Medellin
15    4  2021  Medellin
16    5  2021  Medellin
17    6  2021  Medellin
18    7  2021  Medellin
19    8  2021  Medellin
20    9  2021  Medellin
21   10  2021  Medellin
22   11  2021  Medellin
23   12  2021  Medellin

In [71]:
df_med.info()
df_med['Mes'] = df_med['Mes'].astype('float64')
df_med['Ano'] = df_med['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 22529 to 23214
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [72]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_med.loc[(df_med['Mes'] == n_Mes) & (df_med['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Medellin,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Medellin,0.466667,-1.933333,0.466667,3.933333,8.733333,-0.866667
2,3,2020,Medellin,-37.935484,-23.548387,-34.645161,-31.774194,-26.161290,13.548387
3,4,2020,Medellin,-82.566667,-62.333333,-73.466667,-78.933333,-70.733333,32.766667
4,5,2020,Medellin,-67.612903,-44.354839,-54.548387,-61.258065,-47.129032,24.774194
5,6,2020,Medellin,-50.933333,-28.000000,-38.033333,-48.466667,-32.866667,19.033333
6,7,2020,Medellin,-57.580645,-35.290323,-46.064516,-56.387097,-40.645161,21.451613
7,8,2020,Medellin,-55.741935,-35.483871,-43.419355,-56.612903,-37.806452,19.483871
8,9,2020,Medellin,-36.800000,-15.966667,-29.300000,-41.666667,-26.066667,12.933333
9,10,2020,Medellin,-35.225806,-11.064516,-29.645161,-33.580645,-22.161290,11.548387
10,11,2020,Medellin,-29.966667,-5.933333,-29.500000,-29.800000,-18.300000,10.833333
11,12,2020,Medellin,-21.645161,6.258065,-22.967742,-22.322581,-17.483871,8.193548
12,1,2021,Medellin,-44.548387,-19.483871,-40.774194,-44.451613,-30.483871,12.516129
13,2,2021,Medellin,-27.321429,5.214286,-27.107143,-33.071429,-16.678571,7.821429
14,3,2021,Medellin,-24.774194,12.258065,-25.419355,-26.612903,-15.516129,8.193548
15,4,2021,Medellin,-47.466667,-11.566667,-40.533333,-43.800000,-31.300000,16.333333
16,5,2021,Medellin,-29.709677,6.516129,-23.258065,-26.806452,-16.548387,11.806452
17,6,2021,Medellin,-13.566667,22.500000,-10.433333,-11.733333,-12.000000,7.766667
18,7,2021,Medellin,-6.806452,29.193548,-2.161290,0.806452,-6.193548,6.419355
19,8,2021,Medellin,-2.419355,30.967742,-0.451613,2.483871,-0.354839,5.548387
20,9,2021,Medellin,0.700000,34.900000,-0.533333,4.266667,6.033333,4.433333
21,10,2021,Medellin,3.354839,37.451613,0.258065,8.612903,5.903226,3.838710
22,11,2021,Medellin,6.466667,43.066667,3.866667,12.266667,5.733333,3.733333
23,12,2021,Medellin,18.967742,61.451613,19.935484,21.870968,1.580645,2.000000

In [73]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240
1,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731
2,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731
3,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731
4,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272
5,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272
6,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272
7,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756
8,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756
9,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756
10,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369
11,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369
12,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369
13,-30.247670,5.816487,-24.741577,-27.446595,-19.949462,11.968817
14,-30.247670,5.816487,-24.741577,-27.446595,-19.949462,11.968817
15,-30.247670,5.816487,-24.741577,-27.446595,-19.949462,11.968817
16,-2.841935,31.687097,-1.048746,2.518996,-0.171685,5.467025
17,-2.841935,31.687097,-1.048746,2.518996,-0.171685,5.467025
18,-2.841935,31.687097,-1.048746,2.518996,-0.171685,5.467025
19,9.596416,47.323297,8.020072,14.250179,4.405735,3.190681
20,9.596416,47.323297,8.020072,14.250179,4.405735,3.190681
21,9.596416,47.323297,8.020072,14.250179,4.405735,3.190681
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Med = pd.DataFrame()
df_Med['retail_and_recreation'] = retail_and_recreation
df_Med['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Med['parks'] = parks
df_Med['transit_stations'] = transit_stations
df_Med['workplaces'] = workplaces
df_Med['residential'] = residential
df_Med['Trimestre'] = trimestre
df_Med['Ano'] = ano
df_Med['Ciudad'] = "Medellin"
df_Med

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Medellin
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Medellin
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Medellin
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Medellin
4,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,1,2020,Medellin
5,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731,2,2020,Medellin
6,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272,3,2020,Medellin
7,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756,4,2020,Medellin
8,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369,1,2021,Medellin
9,-30.247670,5.816487,-24.741577,-27.446595,-19.949462,11.968817,2,2021,Medellin
10,-2.841935,31.687097,-1.048746,2.518996,-0.171685,5.467025,3,2021,Medellin
11,9.596416,47.323297,8.020072,14.250179,4.405735,3.190681,4,2021,Medellin

In [75]:
df_mon = df_mob[df_mob['sub_region_2'] == 'Monter√≠a'].fillna(0)
df_mon['sub_region_2'][df_mon["sub_region_2"] == "Monter√≠a"] = "Monteria"
df_mon

<ipython-input-75-9bd53af4fe95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mon['sub_region_2'][df_mon["sub_region_2"] == "Monter√≠a"] = "Monteria"

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
97973,Cordoba,Monteria,2.0,4.0,2.0,4.0,5.0,1.0,2020,02
97974,Cordoba,Monteria,0.0,7.0,-2.0,1.0,-1.0,4.0,2020,02
97975,Cordoba,Monteria,-5.0,0.0,-3.0,7.0,15.0,-2.0,2020,02
97976,Cordoba,Monteria,-5.0,-5.0,-5.0,8.0,14.0,-2.0,2020,02
97977,Cordoba,Monteria,-9.0,-6.0,-4.0,7.0,11.0,-3.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
98654,Cordoba,Monteria,41.0,79.0,27.0,-9.0,1.0,3.0,2021,12
98655,Cordoba,Monteria,63.0,101.0,48.0,-1.0,4.0,1.0,2021,12
98656,Cordoba,Monteria,63.0,105.0,47.0,0.0,2.0,-1.0,2021,12
98657,Cordoba,Monteria,89.0,146.0,50.0,13.0,1.0,-3.0,2021,12
98658,Cordoba,Monteria,38.0,131.0,43.0,15.0,-18.0,-2.0,2021,12

In [76]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Monteria'

dataset_v

    Mes   Ano    Ciudad
0     1  2020  Monteria
1     2  2020  Monteria
2     3  2020  Monteria
3     4  2020  Monteria
4     5  2020  Monteria
5     6  2020  Monteria
6     7  2020  Monteria
7     8  2020  Monteria
8     9  2020  Monteria
9    10  2020  Monteria
10   11  2020  Monteria
11   12  2020  Monteria
12    1  2021  Monteria
13    2  2021  Monteria
14    3  2021  Monteria
15    4  2021  Monteria
16    5  2021  Monteria
17    6  2021  Monteria
18    7  2021  Monteria
19    8  2021  Monteria
20    9  2021  Monteria
21   10  2021  Monteria
22   11  2021  Monteria
23   12  2021  Monteria

In [77]:
df_mon.info()
df_mon['Mes'] = df_mon['Mes'].astype('float64')
df_mon['Ano'] = df_mon['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 97973 to 98658
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [78]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_mon.loc[(df_mon['Mes'] == n_Mes) & (df_mon['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Monteria,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Monteria,-2.400000,-1.533333,-0.466667,11.333333,10.000000,-0.933333
2,3,2020,Monteria,-33.709677,-19.354839,-17.709677,-11.225806,-17.677419,9.580645
3,4,2020,Monteria,-80.433333,-59.533333,-60.400000,-63.166667,-63.733333,27.500000
4,5,2020,Monteria,-69.774194,-44.870968,-42.290323,-40.645161,-44.161290,22.741935
5,6,2020,Monteria,-60.933333,-33.566667,-33.300000,-33.033333,-33.733333,19.800000
6,7,2020,Monteria,-68.096774,-44.935484,-49.064516,-49.548387,-47.612903,23.935484
7,8,2020,Monteria,-68.677419,-47.870968,-46.612903,-49.838710,-45.645161,22.967742
8,9,2020,Monteria,-46.333333,-17.600000,-26.100000,-37.000000,-25.633333,14.666667
9,10,2020,Monteria,-40.548387,0.580645,-23.064516,-31.774194,-19.129032,11.774194
10,11,2020,Monteria,-29.700000,13.533333,-19.833333,-29.800000,-14.200000,10.266667
11,12,2020,Monteria,-14.967742,32.516129,-1.451613,-20.741935,-10.258065,6.612903
12,1,2021,Monteria,-36.806452,3.677419,-15.096774,-33.516129,-20.290323,8.161290
13,2,2021,Monteria,-28.750000,19.714286,-16.035714,-26.678571,-13.285714,6.500000
14,3,2021,Monteria,-26.161290,25.903226,-17.032258,-24.354839,-11.967742,6.741935
15,4,2021,Monteria,-37.100000,12.800000,-25.366667,-32.166667,-17.466667,10.466667
16,5,2021,Monteria,-25.064516,19.322581,-15.903226,-23.580645,-10.129032,9.967742
17,6,2021,Monteria,-10.700000,30.800000,-3.600000,-12.600000,-9.733333,7.733333
18,7,2021,Monteria,-1.645161,40.064516,3.419355,-5.129032,-5.161290,6.483871
19,8,2021,Monteria,2.064516,41.709677,5.483871,-3.096774,1.483871,5.129032
20,9,2021,Monteria,10.966667,48.566667,5.300000,-8.866667,8.666667,3.633333
21,10,2021,Monteria,17.387097,55.096774,9.161290,-8.129032,12.129032,2.580645
22,11,2021,Monteria,24.200000,64.700000,10.966667,-8.833333,14.033333,2.400000
23,12,2021,Monteria,51.032258,93.838710,35.322581,-2.258065,13.419355,-0.612903

In [79]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-12.036559,-6.962724,-6.058781,0.035842,-2.559140,2.882437
1,-70.380287,-45.990323,-45.330108,-45.615054,-47.209319,23.347312
2,-70.380287,-45.990323,-45.330108,-45.615054,-47.209319,23.347312
3,-70.380287,-45.990323,-45.330108,-45.615054,-47.209319,23.347312
4,-61.035842,-36.802151,-40.592473,-45.462366,-39.630466,20.523297
5,-61.035842,-36.802151,-40.592473,-45.462366,-39.630466,20.523297
6,-61.035842,-36.802151,-40.592473,-45.462366,-39.630466,20.523297
7,-28.405376,15.543369,-14.783154,-27.438710,-14.529032,9.551254
8,-28.405376,15.543369,-14.783154,-27.438710,-14.529032,9.551254
9,-28.405376,15.543369,-14.783154,-27.438710,-14.529032,9.551254
10,-30.572581,16.431644,-16.054916,-28.183180,-15.181260,7.134409
11,-30.572581,16.431644,-16.054916,-28.183180,-15.181260,7.134409
12,-30.572581,16.431644,-16.054916,-28.183180,-15.181260,7.134409
13,-24.288172,20.974194,-14.956631,-22.782437,-12.443011,9.389247
14,-24.288172,20.974194,-14.956631,-22.782437,-12.443011,9.389247
15,-24.288172,20.974194,-14.956631,-22.782437,-12.443011,9.389247
16,3.795341,43.446953,4.734409,-5.697491,1.663082,5.082079
17,3.795341,43.446953,4.734409,-5.697491,1.663082,5.082079
18,3.795341,43.446953,4.734409,-5.697491,1.663082,5.082079
19,30.873118,71.211828,18.483513,-6.406810,13.193907,1.455914
20,30.873118,71.211828,18.483513,-6.406810,13.193907,1.455914
21,30.873118,71.211828,18.483513,-6.406810,13.193907,1.455914
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Mon = pd.DataFrame()
df_Mon['retail_and_recreation'] = retail_and_recreation
df_Mon['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Mon['parks'] = parks
df_Mon['transit_stations'] = transit_stations
df_Mon['workplaces'] = workplaces
df_Mon['residential'] = residential
df_Mon['Trimestre'] = trimestre
df_Mon['Ano'] = ano
df_Mon['Ciudad'] = "Monteria"
df_Mon

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Monteria
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Monteria
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Monteria
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Monteria
4,-12.036559,-6.962724,-6.058781,0.035842,-2.559140,2.882437,1,2020,Monteria
5,-70.380287,-45.990323,-45.330108,-45.615054,-47.209319,23.347312,2,2020,Monteria
6,-61.035842,-36.802151,-40.592473,-45.462366,-39.630466,20.523297,3,2020,Monteria
7,-28.405376,15.543369,-14.783154,-27.438710,-14.529032,9.551254,4,2020,Monteria
8,-30.572581,16.431644,-16.054916,-28.183180,-15.181260,7.134409,1,2021,Monteria
9,-24.288172,20.974194,-14.956631,-22.782437,-12.443011,9.389247,2,2021,Monteria
10,3.795341,43.446953,4.734409,-5.697491,1.663082,5.082079,3,2021,Monteria
11,30.873118,71.211828,18.483513,-6.406810,13.193907,1.455914,4,2021,Monteria

In [81]:
df_nei = df_mob[df_mob['sub_region_2'] == 'Neiva'].fillna(0)
df_nei

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
131561,Huila,Neiva,2.0,1.0,-8.0,0.0,10.0,-1.0,2020,02
131562,Huila,Neiva,7.0,8.0,-6.0,0.0,1.0,2.0,2020,02
131563,Huila,Neiva,-3.0,0.0,-6.0,0.0,10.0,-1.0,2020,02
131564,Huila,Neiva,-7.0,-3.0,-11.0,0.0,12.0,-1.0,2020,02
131565,Huila,Neiva,-6.0,-7.0,-8.0,0.0,10.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
132242,Huila,Neiva,34.0,68.0,6.0,0.0,2.0,1.0,2021,12
132243,Huila,Neiva,40.0,81.0,6.0,0.0,5.0,1.0,2021,12
132244,Huila,Neiva,48.0,91.0,18.0,0.0,1.0,-1.0,2021,12
132245,Huila,Neiva,57.0,111.0,39.0,0.0,-4.0,-3.0,2021,12
132246,Huila,Neiva,30.0,113.0,27.0,0.0,-27.0,1.0,2021,12

In [82]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Neiva'

dataset_v

    Mes   Ano Ciudad
0     1  2020  Neiva
1     2  2020  Neiva
2     3  2020  Neiva
3     4  2020  Neiva
4     5  2020  Neiva
5     6  2020  Neiva
6     7  2020  Neiva
7     8  2020  Neiva
8     9  2020  Neiva
9    10  2020  Neiva
10   11  2020  Neiva
11   12  2020  Neiva
12    1  2021  Neiva
13    2  2021  Neiva
14    3  2021  Neiva
15    4  2021  Neiva
16    5  2021  Neiva
17    6  2021  Neiva
18    7  2021  Neiva
19    8  2021  Neiva
20    9  2021  Neiva
21   10  2021  Neiva
22   11  2021  Neiva
23   12  2021  Neiva

In [83]:
df_nei.info()
df_nei['Mes'] = df_nei['Mes'].astype('float64')
df_nei['Ano'] = df_nei['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 131561 to 132246
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [84]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_nei.loc[(df_nei['Mes'] == n_Mes) & (df_nei['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Neiva,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,2,2020,Neiva,-3.200000,-2.800000,-7.333333,0.0,7.733333,-0.533333
2,3,2020,Neiva,-36.354839,-25.548387,-37.548387,0.0,-23.258065,13.258065
3,4,2020,Neiva,-81.933333,-67.433333,-78.866667,0.0,-68.200000,32.366667
4,5,2020,Neiva,-71.516129,-56.225806,-64.161290,0.0,-49.838710,26.354839
5,6,2020,Neiva,-52.533333,-33.633333,-40.333333,0.0,-30.966667,18.500000
6,7,2020,Neiva,-49.451613,-29.322581,-35.612903,0.0,-27.354839,16.451613
7,8,2020,Neiva,-56.516129,-36.645161,-43.419355,0.0,-32.677419,18.516129
8,9,2020,Neiva,-40.166667,-16.700000,-24.700000,0.0,-19.466667,12.733333
9,10,2020,Neiva,-37.516129,-9.903226,-25.290323,0.0,-17.774194,11.548387
10,11,2020,Neiva,-32.933333,-9.900000,-22.966667,0.0,-15.533333,11.233333
11,12,2020,Neiva,-19.838710,6.322581,3.322581,0.0,-11.096774,6.516129
12,1,2021,Neiva,-42.645161,-17.677419,-35.806452,0.0,-22.612903,11.225806
13,2,2021,Neiva,-34.714286,-6.357143,-35.535714,0.0,-13.964286,7.750000
14,3,2021,Neiva,-22.806452,9.870968,-34.161290,0.0,-10.677419,6.096774
15,4,2021,Neiva,-23.900000,8.966667,-35.400000,0.0,-9.900000,7.033333
16,5,2021,Neiva,-24.548387,9.419355,-36.064516,0.0,-10.516129,10.258065
17,6,2021,Neiva,-6.866667,22.600000,-24.533333,0.0,-10.100000,6.066667
18,7,2021,Neiva,-3.096774,25.709677,-22.161290,0.0,-6.967742,5.903226
19,8,2021,Neiva,0.806452,28.870968,-19.419355,0.0,-0.064516,3.870968
20,9,2021,Neiva,5.466667,33.100000,-19.733333,0.0,7.200000,2.533333
21,10,2021,Neiva,11.161290,39.741935,-16.870968,0.0,6.870968,1.935484
22,11,2021,Neiva,15.600000,44.466667,-12.033333,0.0,8.400000,1.700000
23,12,2021,Neiva,32.548387,71.451613,10.000000,0.0,6.741935,-0.645161

In [85]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.184946,-9.449462,-14.960573,0.0,-5.174910,4.241577
1,-68.660932,-52.430824,-61.120430,0.0,-49.668459,25.740502
2,-68.660932,-52.430824,-61.120430,0.0,-49.668459,25.740502
3,-68.660932,-52.430824,-61.120430,0.0,-49.668459,25.740502
4,-48.711470,-27.555914,-34.577419,0.0,-26.499642,15.900358
5,-48.711470,-27.555914,-34.577419,0.0,-26.499642,15.900358
6,-48.711470,-27.555914,-34.577419,0.0,-26.499642,15.900358
7,-30.096057,-4.493548,-14.978136,0.0,-14.801434,9.765950
8,-30.096057,-4.493548,-14.978136,0.0,-14.801434,9.765950
9,-30.096057,-4.493548,-14.978136,0.0,-14.801434,9.765950
10,-33.388633,-4.721198,-35.167819,0.0,-15.751536,8.357527
11,-33.388633,-4.721198,-35.167819,0.0,-15.751536,8.357527
12,-33.388633,-4.721198,-35.167819,0.0,-15.751536,8.357527
13,-18.438351,13.662007,-31.999283,0.0,-10.172043,7.786022
14,-18.438351,13.662007,-31.999283,0.0,-10.172043,7.786022
15,-18.438351,13.662007,-31.999283,0.0,-10.172043,7.786022
16,1.058781,29.226882,-20.437993,0.0,0.055914,4.102509
17,1.058781,29.226882,-20.437993,0.0,0.055914,4.102509
18,1.058781,29.226882,-20.437993,0.0,0.055914,4.102509
19,19.769892,51.886738,-6.301434,0.0,7.337634,0.996774
20,19.769892,51.886738,-6.301434,0.0,7.337634,0.996774
21,19.769892,51.886738,-6.301434,0.0,7.337634,0.996774
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Nei = pd.DataFrame()
df_Nei['retail_and_recreation'] = retail_and_recreation
df_Nei['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Nei['parks'] = parks
df_Nei['transit_stations'] = transit_stations
df_Nei['workplaces'] = workplaces
df_Nei['residential'] = residential
df_Nei['Trimestre'] = trimestre
df_Nei['Ano'] = ano
df_Nei['Ciudad'] = "Neiva"
df_Nei

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1,2019,Neiva
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2,2019,Neiva
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3,2019,Neiva
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,4,2019,Neiva
4,-13.184946,-9.449462,-14.960573,0.0,-5.174910,4.241577,1,2020,Neiva
5,-68.660932,-52.430824,-61.120430,0.0,-49.668459,25.740502,2,2020,Neiva
6,-48.711470,-27.555914,-34.577419,0.0,-26.499642,15.900358,3,2020,Neiva
7,-30.096057,-4.493548,-14.978136,0.0,-14.801434,9.765950,4,2020,Neiva
8,-33.388633,-4.721198,-35.167819,0.0,-15.751536,8.357527,1,2021,Neiva
9,-18.438351,13.662007,-31.999283,0.0,-10.172043,7.786022,2,2021,Neiva
10,1.058781,29.226882,-20.437993,0.0,0.055914,4.102509,3,2021,Neiva
11,19.769892,51.886738,-6.301434,0.0,7.337634,0.996774,4,2021,Neiva

In [87]:
df_pas = df_mob[df_mob['sub_region_2'] == 'Pasto'].fillna(0)
df_pas

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
155413,Narino,Pasto,0.0,0.0,1.0,0.0,6.0,1.0,2020,02
155414,Narino,Pasto,8.0,10.0,11.0,0.0,1.0,3.0,2020,02
155415,Narino,Pasto,-8.0,-1.0,-7.0,0.0,20.0,-2.0,2020,02
155416,Narino,Pasto,-6.0,-6.0,-6.0,0.0,23.0,-3.0,2020,02
155417,Narino,Pasto,-5.0,-6.0,-5.0,0.0,18.0,-3.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
156094,Narino,Pasto,44.0,80.0,32.0,0.0,5.0,1.0,2021,12
156095,Narino,Pasto,43.0,70.0,55.0,0.0,1.0,0.0,2021,12
156096,Narino,Pasto,56.0,94.0,47.0,0.0,3.0,-2.0,2021,12
156097,Narino,Pasto,70.0,124.0,59.0,0.0,3.0,-4.0,2021,12
156098,Narino,Pasto,37.0,113.0,44.0,0.0,-12.0,-1.0,2021,12

In [88]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Pasto'

dataset_v

    Mes   Ano Ciudad
0     1  2020  Pasto
1     2  2020  Pasto
2     3  2020  Pasto
3     4  2020  Pasto
4     5  2020  Pasto
5     6  2020  Pasto
6     7  2020  Pasto
7     8  2020  Pasto
8     9  2020  Pasto
9    10  2020  Pasto
10   11  2020  Pasto
11   12  2020  Pasto
12    1  2021  Pasto
13    2  2021  Pasto
14    3  2021  Pasto
15    4  2021  Pasto
16    5  2021  Pasto
17    6  2021  Pasto
18    7  2021  Pasto
19    8  2021  Pasto
20    9  2021  Pasto
21   10  2021  Pasto
22   11  2021  Pasto
23   12  2021  Pasto

In [89]:
df_pas.info()
df_pas['Mes'] = df_pas['Mes'].astype('float64')
df_pas['Ano'] = df_pas['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 155413 to 156098
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [90]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_pas.loc[(df_pas['Mes'] == n_Mes) & (df_pas['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Pasto,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,2,2020,Pasto,-2.733333,-0.600000,-3.133333,0.0,13.133333,-1.400000
2,3,2020,Pasto,-34.258065,-18.322581,-29.290323,0.0,-17.709677,10.806452
3,4,2020,Pasto,-81.666667,-60.933333,-78.100000,0.0,-66.933333,30.700000
4,5,2020,Pasto,-68.806452,-42.709677,-63.516129,0.0,-44.483871,24.903226
5,6,2020,Pasto,-55.533333,-30.366667,-51.400000,0.0,-32.033333,20.633333
6,7,2020,Pasto,-57.516129,-37.322581,-52.322581,0.0,-36.000000,21.064516
7,8,2020,Pasto,-59.322581,-38.483871,-53.838710,0.0,-37.225806,20.290323
8,9,2020,Pasto,-39.766667,-9.200000,-32.900000,0.0,-23.433333,13.333333
9,10,2020,Pasto,-35.193548,-0.129032,-27.741935,0.0,-18.419355,10.806452
10,11,2020,Pasto,-29.933333,7.233333,-25.433333,0.0,-14.166667,10.066667
11,12,2020,Pasto,-20.580645,22.580645,-13.580645,0.0,-10.451613,7.225806
12,1,2021,Pasto,-48.741935,-18.322581,-46.322581,0.0,-28.806452,13.354839
13,2,2021,Pasto,-29.357143,4.500000,-28.678571,0.0,-13.821429,7.250000
14,3,2021,Pasto,-21.903226,16.903226,-21.741935,0.0,-10.903226,6.516129
15,4,2021,Pasto,-24.266667,16.533333,-22.433333,0.0,-11.966667,8.133333
16,5,2021,Pasto,-24.838710,16.935484,-18.709677,0.0,-12.935484,12.774194
17,6,2021,Pasto,-9.633333,29.366667,-9.966667,0.0,-10.133333,8.400000
18,7,2021,Pasto,-4.129032,37.419355,-3.903226,0.0,-5.000000,5.548387
19,8,2021,Pasto,1.258065,42.161290,0.903226,0.0,2.032258,4.387097
20,9,2021,Pasto,6.400000,37.200000,5.833333,0.0,9.200000,3.633333
21,10,2021,Pasto,12.096774,41.096774,9.967742,0.0,11.870968,2.709677
22,11,2021,Pasto,15.700000,42.833333,11.166667,0.0,15.033333,2.233333
23,12,2021,Pasto,39.419355,77.967742,34.354839,0.0,15.967742,-0.612903

In [91]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-12.330466,-6.307527,-10.807885,0.0,-1.525448,3.135484
1,-68.668817,-44.669892,-64.338710,0.0,-47.816846,25.412186
2,-68.668817,-44.669892,-64.338710,0.0,-47.816846,25.412186
3,-68.668817,-44.669892,-64.338710,0.0,-47.816846,25.412186
4,-52.201792,-28.335484,-46.353763,0.0,-32.219713,18.229391
5,-52.201792,-28.335484,-46.353763,0.0,-32.219713,18.229391
6,-52.201792,-28.335484,-46.353763,0.0,-32.219713,18.229391
7,-28.569176,9.894982,-22.251971,0.0,-14.345878,9.366308
8,-28.569176,9.894982,-22.251971,0.0,-14.345878,9.366308
9,-28.569176,9.894982,-22.251971,0.0,-14.345878,9.366308
10,-33.334101,1.026882,-32.247696,0.0,-17.843702,9.040323
11,-33.334101,1.026882,-32.247696,0.0,-17.843702,9.040323
12,-33.334101,1.026882,-32.247696,0.0,-17.843702,9.040323
13,-19.579570,20.945161,-17.036559,0.0,-11.678495,9.769176
14,-19.579570,20.945161,-17.036559,0.0,-11.678495,9.769176
15,-19.579570,20.945161,-17.036559,0.0,-11.678495,9.769176
16,1.176344,38.926882,0.944444,0.0,2.077419,4.522939
17,1.176344,38.926882,0.944444,0.0,2.077419,4.522939
18,1.176344,38.926882,0.944444,0.0,2.077419,4.522939
19,22.405376,53.965950,18.496416,0.0,14.290681,1.443369
20,22.405376,53.965950,18.496416,0.0,14.290681,1.443369
21,22.405376,53.965950,18.496416,0.0,14.290681,1.443369
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Pas = pd.DataFrame()
df_Pas['retail_and_recreation'] = retail_and_recreation
df_Pas['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Pas['parks'] = parks
df_Pas['transit_stations'] = transit_stations
df_Pas['workplaces'] = workplaces
df_Pas['residential'] = residential
df_Pas['Trimestre'] = trimestre
df_Pas['Ano'] = ano
df_Pas['Ciudad'] = "Pasto"
df_Pas

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1,2019,Pasto
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2,2019,Pasto
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3,2019,Pasto
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,4,2019,Pasto
4,-12.330466,-6.307527,-10.807885,0.0,-1.525448,3.135484,1,2020,Pasto
5,-68.668817,-44.669892,-64.338710,0.0,-47.816846,25.412186,2,2020,Pasto
6,-52.201792,-28.335484,-46.353763,0.0,-32.219713,18.229391,3,2020,Pasto
7,-28.569176,9.894982,-22.251971,0.0,-14.345878,9.366308,4,2020,Pasto
8,-33.334101,1.026882,-32.247696,0.0,-17.843702,9.040323,1,2021,Pasto
9,-19.579570,20.945161,-17.036559,0.0,-11.678495,9.769176,2,2021,Pasto
10,1.176344,38.926882,0.944444,0.0,2.077419,4.522939,3,2021,Pasto
11,22.405376,53.965950,18.496416,0.0,14.290681,1.443369,4,2021,Pasto

In [93]:
df_per = df_mob[df_mob['sub_region_2'] == 'Pereira'].fillna(0)
df_per

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
176763,Risaralda,Pereira,2.0,0.0,-1.0,-4.0,4.0,0.0,2020,02
176764,Risaralda,Pereira,1.0,1.0,-3.0,-4.0,-1.0,2.0,2020,02
176765,Risaralda,Pereira,-4.0,0.0,-3.0,1.0,13.0,-2.0,2020,02
176766,Risaralda,Pereira,-1.0,-3.0,-5.0,8.0,11.0,-2.0,2020,02
176767,Risaralda,Pereira,-6.0,-4.0,-7.0,-1.0,10.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
177444,Risaralda,Pereira,39.0,60.0,-2.0,5.0,-6.0,2.0,2021,12
177445,Risaralda,Pereira,39.0,58.0,-4.0,3.0,-8.0,2.0,2021,12
177446,Risaralda,Pereira,36.0,53.0,-15.0,0.0,-9.0,3.0,2021,12
177447,Risaralda,Pereira,55.0,99.0,23.0,9.0,-9.0,-1.0,2021,12
177448,Risaralda,Pereira,14.0,84.0,-13.0,1.0,-34.0,1.0,2021,12

In [94]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Pereira'

dataset_v

    Mes   Ano   Ciudad
0     1  2020  Pereira
1     2  2020  Pereira
2     3  2020  Pereira
3     4  2020  Pereira
4     5  2020  Pereira
5     6  2020  Pereira
6     7  2020  Pereira
7     8  2020  Pereira
8     9  2020  Pereira
9    10  2020  Pereira
10   11  2020  Pereira
11   12  2020  Pereira
12    1  2021  Pereira
13    2  2021  Pereira
14    3  2021  Pereira
15    4  2021  Pereira
16    5  2021  Pereira
17    6  2021  Pereira
18    7  2021  Pereira
19    8  2021  Pereira
20    9  2021  Pereira
21   10  2021  Pereira
22   11  2021  Pereira
23   12  2021  Pereira

In [95]:
df_per.info()
df_per['Mes'] = df_per['Mes'].astype('float64')
df_per['Ano'] = df_per['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 176763 to 177448
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [96]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_per.loc[(df_per['Mes'] == n_Mes) & (df_per['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Pereira,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Pereira,-4.466667,-3.333333,-7.133333,1.600000,8.800000,-0.466667
2,3,2020,Pereira,-38.064516,-20.387097,-40.064516,-37.806452,-24.774194,12.870968
3,4,2020,Pereira,-82.533333,-59.066667,-82.000000,-84.633333,-69.266667,31.800000
4,5,2020,Pereira,-67.967742,-37.967742,-66.774194,-80.451613,-47.580645,24.612903
5,6,2020,Pereira,-49.700000,-16.966667,-49.566667,-70.466667,-31.433333,18.533333
6,7,2020,Pereira,-42.096774,-7.451613,-43.741935,-73.419355,-27.193548,16.193548
7,8,2020,Pereira,-39.806452,-9.290323,-44.580645,-76.580645,-26.935484,15.548387
8,9,2020,Pereira,-34.433333,-3.000000,-38.033333,-63.000000,-23.366667,12.566667
9,10,2020,Pereira,-33.838710,3.000000,-41.387097,-57.870968,-20.322581,11.354839
10,11,2020,Pereira,-26.700000,8.900000,-37.866667,-50.833333,-17.366667,10.366667
11,12,2020,Pereira,-19.677419,20.032258,-25.516129,-41.645161,-16.387097,8.225806
12,1,2021,Pereira,-35.064516,-4.064516,-45.129032,-48.451613,-23.870968,10.580645
13,2,2021,Pereira,-26.142857,8.821429,-40.821429,-47.178571,-16.178571,7.321429
14,3,2021,Pereira,-20.677419,21.290323,-40.064516,-42.645161,-15.225806,6.774194
15,4,2021,Pereira,-27.700000,10.966667,-45.633333,-46.966667,-18.666667,10.700000
16,5,2021,Pereira,-19.741935,0.935484,-37.000000,-44.161290,-17.967742,12.354839
17,6,2021,Pereira,-0.233333,11.333333,-27.200000,-28.333333,-13.200000,7.266667
18,7,2021,Pereira,6.483871,19.967742,-20.677419,-24.032258,-7.870968,5.806452
19,8,2021,Pereira,9.967742,23.838710,-16.258065,-23.677419,-2.741935,4.548387
20,9,2021,Pereira,11.700000,27.900000,-14.066667,-22.233333,4.433333,3.233333
21,10,2021,Pereira,19.000000,32.774194,-10.935484,-13.580645,4.935484,2.580645
22,11,2021,Pereira,22.066667,38.300000,-15.233333,-2.733333,6.133333,2.433333
23,12,2021,Pereira,37.903226,62.967742,-1.096774,5.129032,3.258065,0.161290

In [97]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-14.177061,-7.906810,-15.732616,-12.068817,-5.324731,4.134767
1,-66.733692,-38.000358,-66.113620,-78.517204,-49.426882,24.982079
2,-66.733692,-38.000358,-66.113620,-78.517204,-49.426882,24.982079
3,-66.733692,-38.000358,-66.113620,-78.517204,-49.426882,24.982079
4,-38.778853,-6.580645,-42.118638,-71.000000,-25.831900,14.769534
5,-38.778853,-6.580645,-42.118638,-71.000000,-25.831900,14.769534
6,-38.778853,-6.580645,-42.118638,-71.000000,-25.831900,14.769534
7,-26.738710,10.644086,-34.923297,-50.116487,-18.025448,9.982437
8,-26.738710,10.644086,-34.923297,-50.116487,-18.025448,9.982437
9,-26.738710,10.644086,-34.923297,-50.116487,-18.025448,9.982437
10,-27.294931,8.682412,-42.004992,-46.091782,-18.425115,8.225422
11,-27.294931,8.682412,-42.004992,-46.091782,-18.425115,8.225422
12,-27.294931,8.682412,-42.004992,-46.091782,-18.425115,8.225422
13,-15.891756,7.745161,-36.611111,-39.820430,-16.611470,10.107168
14,-15.891756,7.745161,-36.611111,-39.820430,-16.611470,10.107168
15,-15.891756,7.745161,-36.611111,-39.820430,-16.611470,10.107168
16,9.383871,23.902151,-17.000717,-23.314337,-2.059857,4.529391
17,9.383871,23.902151,-17.000717,-23.314337,-2.059857,4.529391
18,9.383871,23.902151,-17.000717,-23.314337,-2.059857,4.529391
19,26.323297,44.680645,-9.088530,-3.728315,4.775627,1.725090
20,26.323297,44.680645,-9.088530,-3.728315,4.775627,1.725090
21,26.323297,44.680645,-9.088530,-3.728315,4.775627,1.725090
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Per = pd.DataFrame()
df_Per['retail_and_recreation'] = retail_and_recreation
df_Per['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Per['parks'] = parks
df_Per['transit_stations'] = transit_stations
df_Per['workplaces'] = workplaces
df_Per['residential'] = residential
df_Per['Trimestre'] = trimestre
df_Per['Ano'] = ano
df_Per['Ciudad'] = "Pereira"
df_Per

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Pereira
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Pereira
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Pereira
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Pereira
4,-14.177061,-7.906810,-15.732616,-12.068817,-5.324731,4.134767,1,2020,Pereira
5,-66.733692,-38.000358,-66.113620,-78.517204,-49.426882,24.982079,2,2020,Pereira
6,-38.778853,-6.580645,-42.118638,-71.000000,-25.831900,14.769534,3,2020,Pereira
7,-26.738710,10.644086,-34.923297,-50.116487,-18.025448,9.982437,4,2020,Pereira
8,-27.294931,8.682412,-42.004992,-46.091782,-18.425115,8.225422,1,2021,Pereira
9,-15.891756,7.745161,-36.611111,-39.820430,-16.611470,10.107168,2,2021,Pereira
10,9.383871,23.902151,-17.000717,-23.314337,-2.059857,4.529391,3,2021,Pereira
11,26.323297,44.680645,-9.088530,-3.728315,4.775627,1.725090,4,2021,Pereira

In [99]:
df_pop = df_mob[df_mob['sub_region_2'] == 'Popay√°n'].fillna(0)
df_pop["sub_region_2"][df_pop["sub_region_2"] == "Popay√°n"] = "Popayan"
df_pop

<ipython-input-99-c21b76b1817e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pop["sub_region_2"][df_pop["sub_region_2"] == "Popay√°n"] = "Popayan"

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
83246,Cauca,Popayan,0.0,3.0,1.0,0.0,5.0,4.0,2020,02
83247,Cauca,Popayan,-1.0,4.0,4.0,0.0,0.0,6.0,2020,02
83248,Cauca,Popayan,-3.0,2.0,0.0,0.0,20.0,-1.0,2020,02
83249,Cauca,Popayan,-10.0,-1.0,1.0,0.0,23.0,-1.0,2020,02
83250,Cauca,Popayan,-11.0,-10.0,-1.0,0.0,17.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
83927,Cauca,Popayan,38.0,79.0,2.0,0.0,4.0,2.0,2021,12
83928,Cauca,Popayan,34.0,86.0,12.0,0.0,14.0,1.0,2021,12
83929,Cauca,Popayan,35.0,77.0,-2.0,0.0,6.0,1.0,2021,12
83930,Cauca,Popayan,53.0,116.0,10.0,0.0,2.0,-3.0,2021,12
83931,Cauca,Popayan,28.0,114.0,-1.0,0.0,-13.0,0.0,2021,12

In [100]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Popayan'

dataset_v

    Mes   Ano   Ciudad
0     1  2020  Popayan
1     2  2020  Popayan
2     3  2020  Popayan
3     4  2020  Popayan
4     5  2020  Popayan
5     6  2020  Popayan
6     7  2020  Popayan
7     8  2020  Popayan
8     9  2020  Popayan
9    10  2020  Popayan
10   11  2020  Popayan
11   12  2020  Popayan
12    1  2021  Popayan
13    2  2021  Popayan
14    3  2021  Popayan
15    4  2021  Popayan
16    5  2021  Popayan
17    6  2021  Popayan
18    7  2021  Popayan
19    8  2021  Popayan
20    9  2021  Popayan
21   10  2021  Popayan
22   11  2021  Popayan
23   12  2021  Popayan

In [101]:
df_pop.info()
df_pop['Mes'] = df_pop['Mes'].astype('float64')
df_pop['Ano'] = df_pop['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 83246 to 83931
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [102]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_pop.loc[(df_pop['Mes'] == n_Mes) & (df_pop['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Popayan,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,2,2020,Popayan,-5.000000,-0.133333,-3.400000,0.0,13.600000,0.000000
2,3,2020,Popayan,-37.129032,-22.645161,-35.096774,0.0,-19.580645,12.838710
3,4,2020,Popayan,-81.900000,-67.000000,-78.100000,0.0,-68.000000,32.166667
4,5,2020,Popayan,-71.193548,-54.677419,-67.774194,0.0,-51.322581,26.935484
5,6,2020,Popayan,-57.166667,-37.266667,-54.766667,0.0,-34.633333,21.566667
6,7,2020,Popayan,-50.677419,-28.903226,-47.451613,0.0,-30.322581,18.774194
7,8,2020,Popayan,-51.193548,-28.000000,-47.000000,0.0,-28.903226,17.806452
8,9,2020,Popayan,-39.400000,-10.000000,-40.800000,0.0,-21.333333,14.966667
9,10,2020,Popayan,-37.741935,-1.225806,-37.516129,0.0,-16.741935,13.129032
10,11,2020,Popayan,-31.066667,2.366667,-37.800000,0.0,-12.866667,11.800000
11,12,2020,Popayan,-19.451613,21.806452,-19.548387,0.0,-8.419355,8.290323
12,1,2021,Popayan,-44.161290,-14.903226,-43.967742,0.0,-26.451613,13.580645
13,2,2021,Popayan,-30.535714,1.964286,-37.214286,0.0,-12.642857,8.607143
14,3,2021,Popayan,-22.709677,13.903226,-31.548387,0.0,-8.709677,7.419355
15,4,2021,Popayan,-23.466667,15.033333,-30.066667,0.0,-8.533333,9.166667
16,5,2021,Popayan,-32.290323,8.193548,-37.032258,0.0,-13.935484,16.161290
17,6,2021,Popayan,-10.900000,27.500000,-24.400000,0.0,-10.166667,8.900000
18,7,2021,Popayan,-4.935484,35.838710,-16.161290,0.0,-5.774194,6.096774
19,8,2021,Popayan,-0.548387,36.032258,-12.967742,0.0,1.935484,4.741935
20,9,2021,Popayan,5.033333,41.100000,-13.533333,0.0,11.000000,3.700000
21,10,2021,Popayan,10.967742,47.064516,-9.677419,0.0,14.709677,2.838710
22,11,2021,Popayan,16.733333,58.266667,-8.333333,0.0,17.100000,2.600000
23,12,2021,Popayan,34.096774,79.290323,11.387097,0.0,16.387097,0.096774

In [103]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-14.043011,-7.592832,-12.832258,0.0,-1.993548,4.279570
1,-70.086738,-52.981362,-66.880287,0.0,-51.318638,26.889606
2,-70.086738,-52.981362,-66.880287,0.0,-51.318638,26.889606
3,-70.086738,-52.981362,-66.880287,0.0,-51.318638,26.889606
4,-47.090323,-22.301075,-45.083871,0.0,-26.853047,17.182437
5,-47.090323,-22.301075,-45.083871,0.0,-26.853047,17.182437
6,-47.090323,-22.301075,-45.083871,0.0,-26.853047,17.182437
7,-29.420072,7.649104,-31.621505,0.0,-12.675986,11.073118
8,-29.420072,7.649104,-31.621505,0.0,-12.675986,11.073118
9,-29.420072,7.649104,-31.621505,0.0,-12.675986,11.073118
10,-32.468894,0.321429,-37.576805,0.0,-15.934716,9.869048
11,-32.468894,0.321429,-37.576805,0.0,-15.934716,9.869048
12,-32.468894,0.321429,-37.576805,0.0,-15.934716,9.869048
13,-22.218996,16.908961,-30.499642,0.0,-10.878495,11.409319
14,-22.218996,16.908961,-30.499642,0.0,-10.878495,11.409319
15,-22.218996,16.908961,-30.499642,0.0,-10.878495,11.409319
16,-0.150179,37.656989,-14.220789,0.0,2.387097,4.846237
17,-0.150179,37.656989,-14.220789,0.0,2.387097,4.846237
18,-0.150179,37.656989,-14.220789,0.0,2.387097,4.846237
19,20.599283,61.540502,-2.207885,0.0,16.065591,1.845161
20,20.599283,61.540502,-2.207885,0.0,16.065591,1.845161
21,20.599283,61.540502,-2.207885,0.0,16.065591,1.845161
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Pop = pd.DataFrame()
df_Pop['retail_and_recreation'] = retail_and_recreation
df_Pop['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Pop['parks'] = parks
df_Pop['transit_stations'] = transit_stations
df_Pop['workplaces'] = workplaces
df_Pop['residential'] = residential
df_Pop['Trimestre'] = trimestre
df_Pop['Ano'] = ano
df_Pop['Ciudad'] = "Popayan"
df_Pop

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1,2019,Popayan
1,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2,2019,Popayan
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3,2019,Popayan
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,4,2019,Popayan
4,-14.043011,-7.592832,-12.832258,0.0,-1.993548,4.279570,1,2020,Popayan
5,-70.086738,-52.981362,-66.880287,0.0,-51.318638,26.889606,2,2020,Popayan
6,-47.090323,-22.301075,-45.083871,0.0,-26.853047,17.182437,3,2020,Popayan
7,-29.420072,7.649104,-31.621505,0.0,-12.675986,11.073118,4,2020,Popayan
8,-32.468894,0.321429,-37.576805,0.0,-15.934716,9.869048,1,2021,Popayan
9,-22.218996,16.908961,-30.499642,0.0,-10.878495,11.409319,2,2021,Popayan
10,-0.150179,37.656989,-14.220789,0.0,2.387097,4.846237,3,2021,Popayan
11,20.599283,61.540502,-2.207885,0.0,16.065591,1.845161,4,2021,Popayan

In [105]:
df_qui = df_mob[df_mob['sub_region_2'] == 'Quibd√≥'].fillna(0)
df_qui["sub_region_2"][df_qui["sub_region_2"] == "Quibd√≥"] = "Quibdo"
df_qui.isnull().sum() #Se imprime el dataset
#df_qui

<ipython-input-105-5892de4bee50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_qui["sub_region_2"][df_qui["sub_region_2"] == "Quibd√≥"] = "Quibdo"

sub_region_1                                          0
sub_region_2                                          0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
Ano                                                   0
Mes                                                   0
dtype: int64

In [106]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Quibdo'

dataset_v

    Mes   Ano  Ciudad
0     1  2020  Quibdo
1     2  2020  Quibdo
2     3  2020  Quibdo
3     4  2020  Quibdo
4     5  2020  Quibdo
5     6  2020  Quibdo
6     7  2020  Quibdo
7     8  2020  Quibdo
8     9  2020  Quibdo
9    10  2020  Quibdo
10   11  2020  Quibdo
11   12  2020  Quibdo
12    1  2021  Quibdo
13    2  2021  Quibdo
14    3  2021  Quibdo
15    4  2021  Quibdo
16    5  2021  Quibdo
17    6  2021  Quibdo
18    7  2021  Quibdo
19    8  2021  Quibdo
20    9  2021  Quibdo
21   10  2021  Quibdo
22   11  2021  Quibdo
23   12  2021  Quibdo

In [107]:
df_qui.info()
df_qui['Mes'] = df_qui['Mes'].astype('float64')
df_qui['Ano'] = df_qui['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 680 entries, 93574 to 94253
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        680 non-null    object
 1   sub_region_2                                        680 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  680 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   680 non-null    float64
 4   parks_percent_change_from_baseline                  680 non-null    float64
 5   transit_stations_percent_change_from_baseline       680 non-null    float64
 6   workplaces_percent_change_from_baseline             680 non-null    float64
 7   residential_percent_change_from_baseline            680 non-null    float64
 8   Ano                                                 680 non-null    object
 9   Mes                                                 680 non-null    object
dtypes: float64(6), object(4)
memory usage: 58.4+ KB

In [108]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_qui.loc[(df_qui['Mes'] == n_Mes) & (df_qui['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Quibdo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Quibdo,-8.066667,-1.133333,-27.333333,-12.133333,14.733333,0.666667
2,3,2020,Quibdo,-30.741935,-14.096774,-38.870968,-28.838710,-9.967742,4.935484
3,4,2020,Quibdo,-68.133333,-52.866667,-46.433333,-68.566667,-56.600000,13.966667
4,5,2020,Quibdo,-60.709677,-42.645161,-54.516129,-70.548387,-45.387097,12.709677
5,6,2020,Quibdo,-60.866667,-39.433333,-50.100000,-72.566667,-40.900000,14.700000
6,7,2020,Quibdo,-59.129032,-46.548387,-37.709677,-74.806452,-40.483871,14.000000
7,8,2020,Quibdo,-34.592593,-28.481481,-15.259259,-44.148148,-35.555556,13.222222
8,9,2020,Quibdo,-30.321429,-28.928571,-18.035714,-38.535714,-26.535714,12.428571
9,10,2020,Quibdo,-36.580645,-24.129032,-0.806452,-41.096774,-20.903226,10.774194
10,11,2020,Quibdo,-27.133333,-15.766667,10.933333,-33.066667,-15.500000,8.733333
11,12,2020,Quibdo,-14.806452,-4.967742,23.645161,-18.193548,-11.774194,5.548387
12,1,2021,Quibdo,-33.258065,-25.322581,6.741935,-41.290323,-24.548387,9.774194
13,2,2021,Quibdo,-29.357143,-19.285714,20.642857,-42.071429,-15.428571,6.035714
14,3,2021,Quibdo,-19.451613,-2.258065,26.741935,-45.548387,-11.387097,3.838710
15,4,2021,Quibdo,-31.533333,-9.833333,18.066667,-48.400000,-16.366667,8.400000
16,5,2021,Quibdo,-22.419355,-9.612903,-10.387097,-39.387097,-14.677419,10.677419
17,6,2021,Quibdo,3.266667,15.233333,16.066667,-15.733333,-4.366667,6.333333
18,7,2021,Quibdo,8.516129,20.516129,14.806452,-14.064516,1.064516,4.774194
19,8,2021,Quibdo,3.516129,15.129032,11.032258,-15.709677,6.774194,3.903226
20,9,2021,Quibdo,9.166667,27.033333,25.133333,-21.066667,12.933333,1.800000
21,10,2021,Quibdo,12.612903,31.935484,31.645161,-19.225806,14.483871,2.580645
22,11,2021,Quibdo,22.200000,39.133333,31.400000,-11.766667,17.866667,1.033333
23,12,2021,Quibdo,47.354839,67.225806,22.064516,5.580645,13.645161,-0.806452

In [109]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-12.936201,-5.076703,-22.068100,-13.657348,1.588530,1.867384
1,-63.236559,-44.981720,-50.349821,-70.560573,-47.629032,13.792115
2,-63.236559,-44.981720,-50.349821,-70.560573,-47.629032,13.792115
3,-63.236559,-44.981720,-50.349821,-70.560573,-47.629032,13.792115
4,-41.347684,-34.652813,-23.668217,-52.496771,-34.191714,13.216931
5,-41.347684,-34.652813,-23.668217,-52.496771,-34.191714,13.216931
6,-41.347684,-34.652813,-23.668217,-52.496771,-34.191714,13.216931
7,-26.173477,-14.954480,11.257348,-30.785663,-16.059140,8.351971
8,-26.173477,-14.954480,11.257348,-30.785663,-16.059140,8.351971
9,-26.173477,-14.954480,11.257348,-30.785663,-16.059140,8.351971
10,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539
11,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539
12,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539
13,-16.895341,-1.404301,7.915412,-34.506810,-11.803584,8.470251
14,-16.895341,-1.404301,7.915412,-34.506810,-11.803584,8.470251
15,-16.895341,-1.404301,7.915412,-34.506810,-11.803584,8.470251
16,7.066308,20.892832,16.990681,-16.946953,6.924014,3.492473
17,7.066308,20.892832,16.990681,-16.946953,6.924014,3.492473
18,7.066308,20.892832,16.990681,-16.946953,6.924014,3.492473
19,27.389247,46.098208,28.369892,-8.470609,15.331900,0.935842
20,27.389247,46.098208,28.369892,-8.470609,15.331900,0.935842
21,27.389247,46.098208,28.369892,-8.470609,15.331900,0.935842
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Qui = pd.DataFrame()
df_Qui['retail_and_recreation'] = retail_and_recreation
df_Qui['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Qui['parks'] = parks
df_Qui['transit_stations'] = transit_stations
df_Qui['workplaces'] = workplaces
df_Qui['residential'] = residential
df_Qui['Trimestre'] = trimestre
df_Qui['Ano'] = ano
df_Qui['Ciudad'] = "Quibdo"
df_Qui

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Quibdo
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Quibdo
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Quibdo
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Quibdo
4,-12.936201,-5.076703,-22.068100,-13.657348,1.588530,1.867384,1,2020,Quibdo
5,-63.236559,-44.981720,-50.349821,-70.560573,-47.629032,13.792115,2,2020,Quibdo
6,-41.347684,-34.652813,-23.668217,-52.496771,-34.191714,13.216931,3,2020,Quibdo
7,-26.173477,-14.954480,11.257348,-30.785663,-16.059140,8.351971,4,2020,Quibdo
8,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539,1,2021,Quibdo
9,-16.895341,-1.404301,7.915412,-34.506810,-11.803584,8.470251,2,2021,Quibdo
10,7.066308,20.892832,16.990681,-16.946953,6.924014,3.492473,3,2021,Quibdo
11,27.389247,46.098208,28.369892,-8.470609,15.331900,0.935842,4,2021,Quibdo

In [111]:
df_rio = df_mob[df_mob['sub_region_2'] == 'Riohacha'].fillna(0)
df_rio

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
137092,La Guajira,Riohacha,-1.0,-1.0,-13.0,-31.0,8.0,4.0,2020,02
137093,La Guajira,Riohacha,0.0,-7.0,-14.0,-35.0,1.0,3.0,2020,02
137094,La Guajira,Riohacha,-6.0,3.0,-6.0,-6.0,18.0,-1.0,2020,02
137095,La Guajira,Riohacha,-7.0,0.0,-10.0,-10.0,11.0,-1.0,2020,02
137096,La Guajira,Riohacha,-10.0,-5.0,-6.0,-6.0,10.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
137773,La Guajira,Riohacha,40.0,76.0,11.0,94.0,17.0,1.0,2021,12
137774,La Guajira,Riohacha,41.0,85.0,19.0,108.0,10.0,1.0,2021,12
137775,La Guajira,Riohacha,55.0,95.0,24.0,116.0,8.0,-1.0,2021,12
137776,La Guajira,Riohacha,59.0,115.0,31.0,136.0,6.0,-3.0,2021,12
137777,La Guajira,Riohacha,33.0,107.0,6.0,57.0,-8.0,0.0,2021,12

In [112]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Riohacha'

dataset_v

    Mes   Ano    Ciudad
0     1  2020  Riohacha
1     2  2020  Riohacha
2     3  2020  Riohacha
3     4  2020  Riohacha
4     5  2020  Riohacha
5     6  2020  Riohacha
6     7  2020  Riohacha
7     8  2020  Riohacha
8     9  2020  Riohacha
9    10  2020  Riohacha
10   11  2020  Riohacha
11   12  2020  Riohacha
12    1  2021  Riohacha
13    2  2021  Riohacha
14    3  2021  Riohacha
15    4  2021  Riohacha
16    5  2021  Riohacha
17    6  2021  Riohacha
18    7  2021  Riohacha
19    8  2021  Riohacha
20    9  2021  Riohacha
21   10  2021  Riohacha
22   11  2021  Riohacha
23   12  2021  Riohacha

In [113]:
df_rio.info()
df_rio['Mes'] = df_rio['Mes'].astype('float64')
df_rio['Ano'] = df_rio['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 137092 to 137777
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [114]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_rio.loc[(df_rio['Mes'] == n_Mes) & (df_rio['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Riohacha,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Riohacha,-6.666667,-2.533333,-4.666667,-14.400000,5.066667,0.266667
2,3,2020,Riohacha,-35.064516,-21.935484,-32.000000,-37.935484,-11.290323,7.709677
3,4,2020,Riohacha,-77.000000,-59.600000,-65.900000,-78.266667,-53.500000,20.233333
4,5,2020,Riohacha,-72.129032,-56.774194,-61.935484,-71.387097,-45.516129,15.903226
5,6,2020,Riohacha,-62.000000,-46.600000,-52.933333,-60.533333,-31.733333,15.400000
6,7,2020,Riohacha,-62.677419,-50.258065,-52.677419,-61.483871,-32.096774,16.032258
7,8,2020,Riohacha,-32.290323,-32.709677,-40.064516,-30.225806,-31.580645,15.354839
8,9,2020,Riohacha,-31.200000,-31.066667,-39.033333,-23.766667,-22.533333,15.166667
9,10,2020,Riohacha,-47.709677,-40.935484,-47.838710,-34.935484,-16.483871,12.870968
10,11,2020,Riohacha,-35.800000,-40.766667,-44.566667,-28.933333,-13.433333,12.033333
11,12,2020,Riohacha,-16.096774,-27.451613,-29.548387,-10.516129,-8.645161,8.677419
12,1,2021,Riohacha,-35.838710,-40.096774,-35.322581,-19.290323,-17.774194,9.483871
13,2,2021,Riohacha,-28.821429,-33.500000,-38.678571,-15.821429,-11.035714,6.750000
14,3,2021,Riohacha,-31.258065,-20.161290,-31.548387,-11.193548,-7.483871,7.032258
15,4,2021,Riohacha,-55.800000,-27.966667,-47.900000,-27.366667,-23.033333,14.133333
16,5,2021,Riohacha,-43.483871,-11.774194,-39.483871,-16.548387,-10.096774,11.451613
17,6,2021,Riohacha,-14.466667,12.433333,-16.633333,12.566667,-1.666667,6.733333
18,7,2021,Riohacha,-5.451613,28.870968,-13.741935,31.612903,3.677419,4.387097
19,8,2021,Riohacha,-6.193548,28.483871,-11.935484,35.516129,13.870968,4.741935
20,9,2021,Riohacha,3.366667,34.533333,-8.600000,41.266667,19.633333,4.000000
21,10,2021,Riohacha,6.612903,36.806452,-11.483871,51.322581,21.096774,4.032258
22,11,2021,Riohacha,14.566667,45.566667,-6.033333,67.900000,22.166667,2.166667
23,12,2021,Riohacha,36.838710,73.258065,9.419355,87.000000,20.096774,0.064516

In [115]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.910394,-8.156272,-12.222222,-17.445161,-2.074552,2.658781
1,-70.376344,-54.324731,-60.256272,-70.062366,-43.583154,17.178853
2,-70.376344,-54.324731,-60.256272,-70.062366,-43.583154,17.178853
3,-70.376344,-54.324731,-60.256272,-70.062366,-43.583154,17.178853
4,-42.055914,-38.011470,-43.925090,-38.492115,-28.736918,15.517921
5,-42.055914,-38.011470,-43.925090,-38.492115,-28.736918,15.517921
6,-42.055914,-38.011470,-43.925090,-38.492115,-28.736918,15.517921
7,-33.202151,-36.384588,-40.651254,-24.794982,-12.854122,11.193907
8,-33.202151,-36.384588,-40.651254,-24.794982,-12.854122,11.193907
9,-33.202151,-36.384588,-40.651254,-24.794982,-12.854122,11.193907
10,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376
11,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376
12,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376
13,-37.916846,-9.102509,-34.672401,-10.449462,-11.598925,10.772760
14,-37.916846,-9.102509,-34.672401,-10.449462,-11.598925,10.772760
15,-37.916846,-9.102509,-34.672401,-10.449462,-11.598925,10.772760
16,-2.759498,30.629391,-11.425806,36.131900,12.393907,4.376344
17,-2.759498,30.629391,-11.425806,36.131900,12.393907,4.376344
18,-2.759498,30.629391,-11.425806,36.131900,12.393907,4.376344
19,19.339427,51.877061,-2.699283,68.740860,21.120072,2.087814
20,19.339427,51.877061,-2.699283,68.740860,21.120072,2.087814
21,19.339427,51.877061,-2.699283,68.740860,21.120072,2.087814
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Rio = pd.DataFrame()
df_Rio['retail_and_recreation'] = retail_and_recreation
df_Rio['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Rio['parks'] = parks
df_Rio['transit_stations'] = transit_stations
df_Rio['workplaces'] = workplaces
df_Rio['residential'] = residential
df_Rio['Trimestre'] = trimestre
df_Rio['Ano'] = ano
df_Rio['Ciudad'] = "Riohacha"
df_Rio

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Riohacha
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Riohacha
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Riohacha
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Riohacha
4,-13.910394,-8.156272,-12.222222,-17.445161,-2.074552,2.658781,1,2020,Riohacha
5,-70.376344,-54.324731,-60.256272,-70.062366,-43.583154,17.178853,2,2020,Riohacha
6,-42.055914,-38.011470,-43.925090,-38.492115,-28.736918,15.517921,3,2020,Riohacha
7,-33.202151,-36.384588,-40.651254,-24.794982,-12.854122,11.193907,4,2020,Riohacha
8,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376,1,2021,Riohacha
9,-37.916846,-9.102509,-34.672401,-10.449462,-11.598925,10.772760,2,2021,Riohacha
10,-2.759498,30.629391,-11.425806,36.131900,12.393907,4.376344,3,2021,Riohacha
11,19.339427,51.877061,-2.699283,68.740860,21.120072,2.087814,4,2021,Riohacha

In [117]:
df_sant = df_mob[df_mob['sub_region_2'] == 'Santa Marta'].fillna(0)
df_sant["sub_region_2"][df_sant["sub_region_2"] == "Santa Marta"] = "Santamarta"
df_sant

<ipython-input-117-054a7ad99db4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sant["sub_region_2"][df_sant["sub_region_2"] == "Santa Marta"] = "Santamarta"

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
142864,Magdalena,Santamarta,-8.0,-8.0,-24.0,-34.0,8.0,1.0,2020,02
142865,Magdalena,Santamarta,-12.0,-9.0,-29.0,-32.0,-2.0,2.0,2020,02
142866,Magdalena,Santamarta,-10.0,-6.0,-27.0,-20.0,19.0,-1.0,2020,02
142867,Magdalena,Santamarta,-8.0,-5.0,-28.0,-20.0,18.0,-2.0,2020,02
142868,Magdalena,Santamarta,-7.0,-7.0,-24.0,-20.0,15.0,-2.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
143545,Magdalena,Santamarta,35.0,74.0,18.0,112.0,15.0,2.0,2021,12
143546,Magdalena,Santamarta,43.0,87.0,25.0,113.0,14.0,1.0,2021,12
143547,Magdalena,Santamarta,49.0,104.0,34.0,122.0,10.0,0.0,2021,12
143548,Magdalena,Santamarta,64.0,134.0,45.0,144.0,10.0,-1.0,2021,12
143549,Magdalena,Santamarta,32.0,124.0,33.0,79.0,-11.0,1.0,2021,12

In [118]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Santamarta'

dataset_v

    Mes   Ano      Ciudad
0     1  2020  Santamarta
1     2  2020  Santamarta
2     3  2020  Santamarta
3     4  2020  Santamarta
4     5  2020  Santamarta
5     6  2020  Santamarta
6     7  2020  Santamarta
7     8  2020  Santamarta
8     9  2020  Santamarta
9    10  2020  Santamarta
10   11  2020  Santamarta
11   12  2020  Santamarta
12    1  2021  Santamarta
13    2  2021  Santamarta
14    3  2021  Santamarta
15    4  2021  Santamarta
16    5  2021  Santamarta
17    6  2021  Santamarta
18    7  2021  Santamarta
19    8  2021  Santamarta
20    9  2021  Santamarta
21   10  2021  Santamarta
22   11  2021  Santamarta
23   12  2021  Santamarta

In [119]:
df_sant.info()
df_sant['Mes'] = df_sant['Mes'].astype('float64')
df_sant['Ano'] = df_sant['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 142864 to 143549
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [120]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_sant.loc[(df_sant['Mes'] == n_Mes) & (df_sant['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Santamarta,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Santamarta,-8.533333,-7.800000,-22.200000,-17.466667,6.800000,-0.333333
2,3,2020,Santamarta,-40.354839,-28.870968,-52.225806,-48.580645,-18.258065,10.225806
3,4,2020,Santamarta,-82.200000,-67.933333,-86.033333,-88.533333,-67.400000,26.866667
4,5,2020,Santamarta,-75.354839,-60.483871,-79.935484,-86.193548,-54.838710,23.322581
5,6,2020,Santamarta,-68.400000,-51.266667,-74.333333,-84.000000,-43.633333,20.333333
6,7,2020,Santamarta,-65.838710,-51.838710,-73.967742,-83.967742,-44.870968,20.677419
7,8,2020,Santamarta,-64.903226,-51.741935,-74.000000,-83.032258,-43.064516,19.354839
8,9,2020,Santamarta,-52.700000,-33.266667,-65.166667,-66.100000,-31.933333,14.633333
9,10,2020,Santamarta,-46.580645,-20.516129,-60.225806,-49.193548,-24.806452,12.129032
10,11,2020,Santamarta,-40.566667,-18.200000,-57.066667,-36.566667,-20.600000,11.366667
11,12,2020,Santamarta,-29.290323,-3.451613,-42.903226,-18.903226,-16.225806,8.419355
12,1,2021,Santamarta,-39.645161,-13.548387,-40.677419,-2.225806,-22.548387,9.322581
13,2,2021,Santamarta,-34.714286,-8.035714,-50.178571,0.142857,-15.714286,7.357143
14,3,2021,Santamarta,-40.387097,-10.483871,-53.451613,5.161290,-17.548387,10.032258
15,4,2021,Santamarta,-53.100000,-27.866667,-67.333333,-24.200000,-29.833333,15.966667
16,5,2021,Santamarta,-33.000000,-2.483871,-52.516129,-8.612903,-12.838710,11.677419
17,6,2021,Santamarta,-12.366667,19.966667,-35.166667,31.066667,-9.066667,8.233333
18,7,2021,Santamarta,-2.000000,31.774194,-23.774194,53.290323,-3.548387,7.161290
19,8,2021,Santamarta,-5.870968,30.451613,-27.161290,58.709677,2.419355,6.935484
20,9,2021,Santamarta,-4.900000,35.400000,-27.566667,59.533333,7.433333,5.533333
21,10,2021,Santamarta,1.290323,45.129032,-18.225806,83.516129,11.064516,4.483871
22,11,2021,Santamarta,8.000000,53.300000,-12.700000,93.733333,12.900000,3.500000
23,12,2021,Santamarta,27.483871,77.483871,2.193548,103.645161,16.677419,1.161290

In [121]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-16.296057,-12.223656,-24.808602,-22.015771,-3.819355,3.297491
1,-75.318280,-59.894624,-80.100717,-86.242294,-55.290681,23.507527
2,-75.318280,-59.894624,-80.100717,-86.242294,-55.290681,23.507527
3,-75.318280,-59.894624,-80.100717,-86.242294,-55.290681,23.507527
4,-61.147312,-45.615771,-71.044803,-77.700000,-39.956272,18.221864
5,-61.147312,-45.615771,-71.044803,-77.700000,-39.956272,18.221864
6,-61.147312,-45.615771,-71.044803,-77.700000,-39.956272,18.221864
7,-38.812545,-14.055914,-53.398566,-34.887814,-20.544086,10.638351
8,-38.812545,-14.055914,-53.398566,-34.887814,-20.544086,10.638351
9,-38.812545,-14.055914,-53.398566,-34.887814,-20.544086,10.638351
10,-38.248848,-10.689324,-48.102535,1.026114,-18.603687,8.903994
11,-38.248848,-10.689324,-48.102535,1.026114,-18.603687,8.903994
12,-38.248848,-10.689324,-48.102535,1.026114,-18.603687,8.903994
13,-32.822222,-3.461290,-51.672043,-0.582079,-17.246237,11.959140
14,-32.822222,-3.461290,-51.672043,-0.582079,-17.246237,11.959140
15,-32.822222,-3.461290,-51.672043,-0.582079,-17.246237,11.959140
16,-4.256989,32.541935,-26.167384,57.177778,2.101434,6.543369
17,-4.256989,32.541935,-26.167384,57.177778,2.101434,6.543369
18,-4.256989,32.541935,-26.167384,57.177778,2.101434,6.543369
19,12.258065,58.637634,-9.577419,93.631541,13.547312,3.048387
20,12.258065,58.637634,-9.577419,93.631541,13.547312,3.048387
21,12.258065,58.637634,-9.577419,93.631541,13.547312,3.048387
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Sant = pd.DataFrame()
df_Sant['retail_and_recreation'] = retail_and_recreation
df_Sant['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Sant['parks'] = parks
df_Sant['transit_stations'] = transit_stations
df_Sant['workplaces'] = workplaces
df_Sant['residential'] = residential
df_Sant['Trimestre'] = trimestre
df_Sant['Ano'] = ano
df_Sant['Ciudad'] = "Santamarta"
df_Sant

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Santamarta
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Santamarta
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Santamarta
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Santamarta
4,-16.296057,-12.223656,-24.808602,-22.015771,-3.819355,3.297491,1,2020,Santamarta
5,-75.318280,-59.894624,-80.100717,-86.242294,-55.290681,23.507527,2,2020,Santamarta
6,-61.147312,-45.615771,-71.044803,-77.700000,-39.956272,18.221864,3,2020,Santamarta
7,-38.812545,-14.055914,-53.398566,-34.887814,-20.544086,10.638351,4,2020,Santamarta
8,-38.248848,-10.689324,-48.102535,1.026114,-18.603687,8.903994,1,2021,Santamarta
9,-32.822222,-3.461290,-51.672043,-0.582079,-17.246237,11.959140,2,2021,Santamarta
10,-4.256989,32.541935,-26.167384,57.177778,2.101434,6.543369,3,2021,Santamarta
11,12.258065,58.637634,-9.577419,93.631541,13.547312,3.048387,4,2021,Santamarta

In [123]:
df_sin = df_mob[df_mob['sub_region_2'] == 'Sincelejo'].fillna(0)
df_sin

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
194935,Sucre,Sincelejo,-8.0,-10.0,2.0,-59.0,7.0,2.0,2020,02
194936,Sucre,Sincelejo,-9.0,-4.0,-1.0,-71.0,-2.0,2.0,2020,02
194937,Sucre,Sincelejo,-6.0,0.0,-4.0,-17.0,23.0,-2.0,2020,02
194938,Sucre,Sincelejo,-12.0,-6.0,-6.0,-18.0,19.0,-2.0,2020,02
194939,Sucre,Sincelejo,-7.0,-5.0,-6.0,-7.0,18.0,-3.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
195616,Sucre,Sincelejo,50.0,78.0,29.0,-76.0,0.0,1.0,2021,12
195617,Sucre,Sincelejo,51.0,83.0,36.0,-74.0,-4.0,1.0,2021,12
195618,Sucre,Sincelejo,69.0,97.0,38.0,-68.0,-5.0,-1.0,2021,12
195619,Sucre,Sincelejo,94.0,124.0,56.0,-57.0,-4.0,-2.0,2021,12
195620,Sucre,Sincelejo,38.0,105.0,49.0,-73.0,-18.0,-1.0,2021,12

In [124]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Sincelejo'

dataset_v

    Mes   Ano     Ciudad
0     1  2020  Sincelejo
1     2  2020  Sincelejo
2     3  2020  Sincelejo
3     4  2020  Sincelejo
4     5  2020  Sincelejo
5     6  2020  Sincelejo
6     7  2020  Sincelejo
7     8  2020  Sincelejo
8     9  2020  Sincelejo
9    10  2020  Sincelejo
10   11  2020  Sincelejo
11   12  2020  Sincelejo
12    1  2021  Sincelejo
13    2  2021  Sincelejo
14    3  2021  Sincelejo
15    4  2021  Sincelejo
16    5  2021  Sincelejo
17    6  2021  Sincelejo
18    7  2021  Sincelejo
19    8  2021  Sincelejo
20    9  2021  Sincelejo
21   10  2021  Sincelejo
22   11  2021  Sincelejo
23   12  2021  Sincelejo

In [125]:
df_sin.info()
df_sin['Mes'] = df_sin['Mes'].astype('float64')
df_sin['Ano'] = df_sin['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 194935 to 195620
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [126]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_sin.loc[(df_sin['Mes'] == n_Mes) & (df_sin['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Sincelejo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Sincelejo,-6.333333,-2.266667,-1.266667,-22.733333,15.200000,-1.133333
2,3,2020,Sincelejo,-34.709677,-16.096774,-29.483871,-38.774194,-12.612903,9.451613
3,4,2020,Sincelejo,-80.100000,-55.000000,-69.766667,-26.666667,-59.833333,25.000000
4,5,2020,Sincelejo,-68.548387,-40.516129,-54.322581,-54.935484,-40.193548,21.419355
5,6,2020,Sincelejo,-65.633333,-40.100000,-53.133333,-71.400000,-37.766667,21.600000
6,7,2020,Sincelejo,-64.774194,-38.258065,-53.806452,-76.000000,-39.903226,22.064516
7,8,2020,Sincelejo,-62.096774,-26.709677,-43.677419,-37.225806,-33.935484,19.387097
8,9,2020,Sincelejo,-43.833333,-8.133333,-20.966667,-41.133333,-21.200000,14.333333
9,10,2020,Sincelejo,-39.774194,-2.838710,-23.096774,-54.290323,-15.129032,11.548387
10,11,2020,Sincelejo,-30.000000,4.200000,-22.766667,-49.266667,-11.200000,10.200000
11,12,2020,Sincelejo,-14.645161,22.612903,-10.677419,-28.612903,-6.161290,7.064516
12,1,2021,Sincelejo,-33.548387,-0.612903,-30.258065,-40.548387,-17.225806,8.645161
13,2,2021,Sincelejo,-27.964286,8.392857,-26.464286,-31.750000,-12.500000,6.392857
14,3,2021,Sincelejo,-22.709677,14.580645,-20.387097,-25.806452,-11.354839,5.967742
15,4,2021,Sincelejo,-34.433333,-0.400000,-28.266667,-30.000000,-17.700000,10.033333
16,5,2021,Sincelejo,-18.322581,-19.129032,-16.838710,-29.032258,-13.419355,9.806452
17,6,2021,Sincelejo,-10.700000,-10.500000,-12.766667,-63.566667,-16.000000,8.866667
18,7,2021,Sincelejo,-1.258065,9.903226,-0.419355,-67.193548,-9.741935,6.064516
19,8,2021,Sincelejo,2.354839,17.322581,1.645161,-71.774194,-2.483871,4.935484
20,9,2021,Sincelejo,9.933333,28.500000,8.566667,-84.300000,4.300000,3.500000
21,10,2021,Sincelejo,16.354839,31.129032,12.612903,-84.290323,5.096774,2.677419
22,11,2021,Sincelejo,24.500000,42.100000,15.833333,-82.366667,6.833333,2.000000
23,12,2021,Sincelejo,47.064516,77.161290,36.483871,-73.741935,4.322581,-0.387097

In [127]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.681004,-6.121147,-10.250179,-20.502509,0.862366,2.772760
1,-71.427240,-45.205376,-59.074194,-51.000717,-45.931183,22.673118
2,-71.427240,-45.205376,-59.074194,-51.000717,-45.931183,22.673118
3,-71.427240,-45.205376,-59.074194,-51.000717,-45.931183,22.673118
4,-56.901434,-24.367025,-39.483513,-51.453047,-31.679570,18.594982
5,-56.901434,-24.367025,-39.483513,-51.453047,-31.679570,18.594982
6,-56.901434,-24.367025,-39.483513,-51.453047,-31.679570,18.594982
7,-28.139785,7.991398,-18.846953,-44.056631,-10.830108,9.604301
8,-28.139785,7.991398,-18.846953,-44.056631,-10.830108,9.604301
9,-28.139785,7.991398,-18.846953,-44.056631,-10.830108,9.604301
10,-28.074117,7.453533,-25.703149,-32.701613,-13.693548,7.001920
11,-28.074117,7.453533,-25.703149,-32.701613,-13.693548,7.001920
12,-28.074117,7.453533,-25.703149,-32.701613,-13.693548,7.001920
13,-21.151971,-10.009677,-19.290681,-40.866308,-15.706452,9.568817
14,-21.151971,-10.009677,-19.290681,-40.866308,-15.706452,9.568817
15,-21.151971,-10.009677,-19.290681,-40.866308,-15.706452,9.568817
16,3.676703,18.575269,3.264158,-74.422581,-2.641935,4.833333
17,3.676703,18.575269,3.264158,-74.422581,-2.641935,4.833333
18,3.676703,18.575269,3.264158,-74.422581,-2.641935,4.833333
19,29.306452,50.130108,21.643369,-80.132975,5.417563,1.430108
20,29.306452,50.130108,21.643369,-80.132975,5.417563,1.430108
21,29.306452,50.130108,21.643369,-80.132975,5.417563,1.430108
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Sin = pd.DataFrame()
df_Sin['retail_and_recreation'] = retail_and_recreation
df_Sin['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Sin['parks'] = parks
df_Sin['transit_stations'] = transit_stations
df_Sin['workplaces'] = workplaces
df_Sin['residential'] = residential
df_Sin['Trimestre'] = trimestre
df_Sin['Ano'] = ano
df_Sin['Ciudad'] = "Sincelejo"
df_Sin

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Sincelejo
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Sincelejo
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Sincelejo
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Sincelejo
4,-13.681004,-6.121147,-10.250179,-20.502509,0.862366,2.772760,1,2020,Sincelejo
5,-71.427240,-45.205376,-59.074194,-51.000717,-45.931183,22.673118,2,2020,Sincelejo
6,-56.901434,-24.367025,-39.483513,-51.453047,-31.679570,18.594982,3,2020,Sincelejo
7,-28.139785,7.991398,-18.846953,-44.056631,-10.830108,9.604301,4,2020,Sincelejo
8,-28.074117,7.453533,-25.703149,-32.701613,-13.693548,7.001920,1,2021,Sincelejo
9,-21.151971,-10.009677,-19.290681,-40.866308,-15.706452,9.568817,2,2021,Sincelejo
10,3.676703,18.575269,3.264158,-74.422581,-2.641935,4.833333,3,2021,Sincelejo
11,29.306452,50.130108,21.643369,-80.132975,5.417563,1.430108,4,2021,Sincelejo

In [129]:
df_tun = df_mob[df_mob['sub_region_2'] == 'Tunja'].fillna(0)
df_tun

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
63345,Boyaca,Tunja,6.0,7.0,8.0,52.0,8.0,1.0,2020,02
63346,Boyaca,Tunja,11.0,12.0,3.0,44.0,2.0,4.0,2020,02
63347,Boyaca,Tunja,0.0,1.0,2.0,41.0,25.0,-2.0,2020,02
63348,Boyaca,Tunja,-4.0,-3.0,-2.0,48.0,25.0,-2.0,2020,02
63349,Boyaca,Tunja,-4.0,-7.0,-1.0,42.0,21.0,-3.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
64026,Boyaca,Tunja,21.0,98.0,17.0,50.0,16.0,4.0,2021,12
64027,Boyaca,Tunja,24.0,109.0,16.0,63.0,16.0,4.0,2021,12
64028,Boyaca,Tunja,25.0,114.0,18.0,74.0,14.0,2.0,2021,12
64029,Boyaca,Tunja,39.0,131.0,24.0,63.0,10.0,-1.0,2021,12
64030,Boyaca,Tunja,16.0,144.0,15.0,113.0,-7.0,-2.0,2021,12

In [130]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Tunja'

dataset_v

    Mes   Ano Ciudad
0     1  2020  Tunja
1     2  2020  Tunja
2     3  2020  Tunja
3     4  2020  Tunja
4     5  2020  Tunja
5     6  2020  Tunja
6     7  2020  Tunja
7     8  2020  Tunja
8     9  2020  Tunja
9    10  2020  Tunja
10   11  2020  Tunja
11   12  2020  Tunja
12    1  2021  Tunja
13    2  2021  Tunja
14    3  2021  Tunja
15    4  2021  Tunja
16    5  2021  Tunja
17    6  2021  Tunja
18    7  2021  Tunja
19    8  2021  Tunja
20    9  2021  Tunja
21   10  2021  Tunja
22   11  2021  Tunja
23   12  2021  Tunja

In [131]:
df_tun.info()
df_tun['Mes'] = df_tun['Mes'].astype('float64')
df_tun['Ano'] = df_tun['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 63345 to 64030
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [132]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_tun.loc[(df_tun['Mes'] == n_Mes) & (df_tun['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Tunja,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Tunja,-0.733333,4.000000,-0.600000,48.333333,16.933333,-0.866667
2,3,2020,Tunja,-35.000000,-10.580645,-31.161290,-13.645161,-19.258065,14.419355
3,4,2020,Tunja,-82.100000,-58.933333,-70.700000,-57.033333,-67.100000,35.166667
4,5,2020,Tunja,-74.161290,-40.516129,-60.548387,-69.483871,-50.193548,30.290323
5,6,2020,Tunja,-63.166667,-20.700000,-50.033333,-67.733333,-36.400000,25.266667
6,7,2020,Tunja,-59.387097,-13.129032,-49.129032,-61.193548,-34.290323,23.193548
7,8,2020,Tunja,-61.612903,-16.000000,-50.709677,-33.064516,-36.354839,23.580645
8,9,2020,Tunja,-48.033333,5.066667,-37.933333,-36.400000,-26.300000,17.366667
9,10,2020,Tunja,-45.000000,16.354839,-38.580645,-52.258065,-22.387097,15.451613
10,11,2020,Tunja,-42.733333,10.566667,-39.566667,-45.166667,-20.533333,15.900000
11,12,2020,Tunja,-26.225806,37.903226,-26.677419,-24.741935,-16.225806,9.354839
12,1,2021,Tunja,-52.548387,-3.677419,-47.967742,-45.064516,-29.354839,16.064516
13,2,2021,Tunja,-38.892857,20.392857,-33.571429,-30.571429,-14.750000,12.321429
14,3,2021,Tunja,-31.354839,37.354839,-29.419355,-25.548387,-10.258065,11.000000
15,4,2021,Tunja,-36.733333,27.766667,-27.633333,30.333333,-10.266667,14.000000
16,5,2021,Tunja,-35.483871,35.032258,-25.161290,4.903226,-4.645161,16.838710
17,6,2021,Tunja,-20.800000,55.933333,-16.066667,51.166667,3.333333,12.566667
18,7,2021,Tunja,-13.483871,59.709677,-8.774194,101.387097,10.645161,9.870968
19,8,2021,Tunja,-6.354839,72.806452,-2.322581,121.193548,22.322581,7.870968
20,9,2021,Tunja,-0.200000,79.033333,7.033333,133.366667,32.600000,6.333333
21,10,2021,Tunja,3.935484,86.838710,9.258065,106.193548,33.322581,4.870968
22,11,2021,Tunja,9.766667,87.433333,13.800000,112.733333,37.033333,5.000000
23,12,2021,Tunja,28.064516,110.258065,21.774194,48.580645,29.032258,0.967742

In [133]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-11.911111,-2.193548,-10.587097,11.562724,-0.774910,4.517563
1,-73.142652,-40.049821,-60.427240,-64.750179,-51.231183,30.241219
2,-73.142652,-40.049821,-60.427240,-64.750179,-51.231183,30.241219
3,-73.142652,-40.049821,-60.427240,-64.750179,-51.231183,30.241219
4,-56.344444,-8.020789,-45.924014,-43.552688,-32.315054,21.380287
5,-56.344444,-8.020789,-45.924014,-43.552688,-32.315054,21.380287
6,-56.344444,-8.020789,-45.924014,-43.552688,-32.315054,21.380287
7,-37.986380,21.608244,-34.941577,-40.722222,-19.715412,13.568817
8,-37.986380,21.608244,-34.941577,-40.722222,-19.715412,13.568817
9,-37.986380,21.608244,-34.941577,-40.722222,-19.715412,13.568817
10,-40.932028,18.023425,-36.986175,-33.728111,-18.120968,13.128648
11,-40.932028,18.023425,-36.986175,-33.728111,-18.120968,13.128648
12,-40.932028,18.023425,-36.986175,-33.728111,-18.120968,13.128648
13,-31.005735,39.577419,-22.953763,28.801075,-3.859498,14.468459
14,-31.005735,39.577419,-22.953763,28.801075,-3.859498,14.468459
15,-31.005735,39.577419,-22.953763,28.801075,-3.859498,14.468459
16,-6.679570,70.516487,-1.354480,118.649104,21.855914,8.025090
17,-6.679570,70.516487,-1.354480,118.649104,21.855914,8.025090
18,-6.679570,70.516487,-1.354480,118.649104,21.855914,8.025090
19,13.922222,94.843369,14.944086,89.169176,33.129391,3.612903
20,13.922222,94.843369,14.944086,89.169176,33.129391,3.612903
21,13.922222,94.843369,14.944086,89.169176,33.129391,3.612903
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Tun = pd.DataFrame()
df_Tun['retail_and_recreation'] = retail_and_recreation
df_Tun['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Tun['parks'] = parks
df_Tun['transit_stations'] = transit_stations
df_Tun['workplaces'] = workplaces
df_Tun['residential'] = residential
df_Tun['Trimestre'] = trimestre
df_Tun['Ano'] = ano
df_Tun['Ciudad'] = "Tunja"
df_Tun

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Tunja
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Tunja
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Tunja
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Tunja
4,-11.911111,-2.193548,-10.587097,11.562724,-0.774910,4.517563,1,2020,Tunja
5,-73.142652,-40.049821,-60.427240,-64.750179,-51.231183,30.241219,2,2020,Tunja
6,-56.344444,-8.020789,-45.924014,-43.552688,-32.315054,21.380287,3,2020,Tunja
7,-37.986380,21.608244,-34.941577,-40.722222,-19.715412,13.568817,4,2020,Tunja
8,-40.932028,18.023425,-36.986175,-33.728111,-18.120968,13.128648,1,2021,Tunja
9,-31.005735,39.577419,-22.953763,28.801075,-3.859498,14.468459,2,2021,Tunja
10,-6.679570,70.516487,-1.354480,118.649104,21.855914,8.025090,3,2021,Tunja
11,13.922222,94.843369,14.944086,89.169176,33.129391,3.612903,4,2021,Tunja

In [135]:
df_vall = df_mob[df_mob['sub_region_2'] == 'Valledupar'].fillna(0)
df_vall

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
91671,Cesar,Valledupar,1.0,2.0,-1.0,-37.0,3.0,3.0,2020,02
91672,Cesar,Valledupar,0.0,4.0,-3.0,-51.0,-2.0,4.0,2020,02
91673,Cesar,Valledupar,-4.0,2.0,-3.0,-8.0,22.0,-1.0,2020,02
91674,Cesar,Valledupar,-5.0,-6.0,-4.0,-1.0,19.0,-1.0,2020,02
91675,Cesar,Valledupar,-5.0,-6.0,-1.0,-2.0,21.0,-3.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
92352,Cesar,Valledupar,39.0,71.0,24.0,38.0,5.0,0.0,2021,12
92353,Cesar,Valledupar,46.0,72.0,26.0,50.0,2.0,0.0,2021,12
92354,Cesar,Valledupar,61.0,93.0,40.0,55.0,7.0,-3.0,2021,12
92355,Cesar,Valledupar,65.0,106.0,34.0,59.0,-1.0,-4.0,2021,12
92356,Cesar,Valledupar,25.0,98.0,30.0,34.0,-20.0,-3.0,2021,12

In [136]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Valledupar'

dataset_v

    Mes   Ano      Ciudad
0     1  2020  Valledupar
1     2  2020  Valledupar
2     3  2020  Valledupar
3     4  2020  Valledupar
4     5  2020  Valledupar
5     6  2020  Valledupar
6     7  2020  Valledupar
7     8  2020  Valledupar
8     9  2020  Valledupar
9    10  2020  Valledupar
10   11  2020  Valledupar
11   12  2020  Valledupar
12    1  2021  Valledupar
13    2  2021  Valledupar
14    3  2021  Valledupar
15    4  2021  Valledupar
16    5  2021  Valledupar
17    6  2021  Valledupar
18    7  2021  Valledupar
19    8  2021  Valledupar
20    9  2021  Valledupar
21   10  2021  Valledupar
22   11  2021  Valledupar
23   12  2021  Valledupar

In [137]:
df_vall.info()
df_vall['Mes'] = df_vall['Mes'].astype('float64')
df_vall['Ano'] = df_vall['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 91671 to 92356
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [138]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_vall.loc[(df_vall['Mes'] == n_Mes) & (df_vall['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Valledupar,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Valledupar,-4.200000,-2.133333,-2.666667,-11.866667,14.200000,-0.533333
2,3,2020,Valledupar,-35.225806,-20.548387,-34.548387,-36.354839,-15.774194,9.741935
3,4,2020,Valledupar,-81.333333,-60.666667,-74.100000,-87.333333,-63.500000,26.900000
4,5,2020,Valledupar,-67.354839,-45.451613,-58.774194,-81.290323,-41.806452,21.580645
5,6,2020,Valledupar,-59.766667,-41.266667,-54.533333,-76.200000,-35.633333,20.100000
6,7,2020,Valledupar,-52.580645,-32.548387,-46.225806,-71.870968,-28.838710,15.225806
7,8,2020,Valledupar,-55.000000,-33.419355,-49.129032,-37.419355,-29.419355,17.580645
8,9,2020,Valledupar,-52.633333,-28.500000,-46.400000,-38.900000,-26.966667,16.766667
9,10,2020,Valledupar,-45.419355,-14.645161,-43.096774,-52.161290,-17.677419,12.419355
10,11,2020,Valledupar,-35.533333,5.333333,-39.100000,-48.366667,-12.833333,10.366667
11,12,2020,Valledupar,-19.322581,23.000000,-27.354839,-41.903226,-8.225806,7.000000
12,1,2021,Valledupar,-30.064516,-2.838710,-36.161290,-42.806452,-17.451613,8.096774
13,2,2021,Valledupar,-25.142857,0.571429,-30.857143,-43.178571,-11.392857,5.500000
14,3,2021,Valledupar,-21.903226,9.419355,-23.161290,-38.129032,-9.290323,5.000000
15,4,2021,Valledupar,-43.266667,-11.566667,-41.400000,-44.200000,-21.433333,12.033333
16,5,2021,Valledupar,-39.322581,-8.548387,-39.258065,-45.129032,-19.516129,12.387097
17,6,2021,Valledupar,-11.366667,20.633333,-22.033333,-24.733333,-11.166667,6.333333
18,7,2021,Valledupar,-0.032258,30.258065,-11.225806,-12.225806,-5.548387,4.516129
19,8,2021,Valledupar,-0.516129,30.741935,-7.354839,-17.935484,1.258065,3.806452
20,9,2021,Valledupar,2.833333,36.633333,-3.866667,-6.233333,8.400000,2.466667
21,10,2021,Valledupar,10.225806,44.258065,5.419355,-0.129032,8.580645,1.774194
22,11,2021,Valledupar,16.733333,47.500000,4.933333,17.666667,12.166667,1.266667
23,12,2021,Valledupar,39.322581,70.225806,22.258065,34.193548,9.903226,-1.225806

In [139]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.141935,-7.560573,-12.405018,-16.073835,-0.524731,3.069534
1,-69.484946,-49.128315,-62.469176,-81.607885,-46.979928,22.860215
2,-69.484946,-49.128315,-62.469176,-81.607885,-46.979928,22.860215
3,-69.484946,-49.128315,-62.469176,-81.607885,-46.979928,22.860215
4,-53.404659,-31.489247,-47.251613,-49.396774,-28.408244,16.524373
5,-53.404659,-31.489247,-47.251613,-49.396774,-28.408244,16.524373
6,-53.404659,-31.489247,-47.251613,-49.396774,-28.408244,16.524373
7,-33.425090,4.562724,-36.517204,-47.477061,-12.912186,9.928674
8,-33.425090,4.562724,-36.517204,-47.477061,-12.912186,9.928674
9,-33.425090,4.562724,-36.517204,-47.477061,-12.912186,9.928674
10,-25.703533,2.384025,-30.059908,-41.371352,-12.711598,6.198925
11,-25.703533,2.384025,-30.059908,-41.371352,-12.711598,6.198925
12,-25.703533,2.384025,-30.059908,-41.371352,-12.711598,6.198925
13,-31.318638,0.172760,-34.230466,-38.020789,-17.372043,10.251254
14,-31.318638,0.172760,-34.230466,-38.020789,-17.372043,10.251254
15,-31.318638,0.172760,-34.230466,-38.020789,-17.372043,10.251254
16,0.761649,32.544444,-7.482437,-12.131541,1.369892,3.596416
17,0.761649,32.544444,-7.482437,-12.131541,1.369892,3.596416
18,0.761649,32.544444,-7.482437,-12.131541,1.369892,3.596416
19,22.093907,53.994624,10.870251,17.243728,10.216846,0.605018
20,22.093907,53.994624,10.870251,17.243728,10.216846,0.605018
21,22.093907,53.994624,10.870251,17.243728,10.216846,0.605018
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Vall = pd.DataFrame()
df_Vall['retail_and_recreation'] = retail_and_recreation
df_Vall['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Vall['parks'] = parks
df_Vall['transit_stations'] = transit_stations
df_Vall['workplaces'] = workplaces
df_Vall['residential'] = residential
df_Vall['Trimestre'] = trimestre
df_Vall['Ano'] = ano
df_Vall['Ciudad'] = "Valledupar"
df_Vall

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Valledupar
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Valledupar
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Valledupar
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Valledupar
4,-13.141935,-7.560573,-12.405018,-16.073835,-0.524731,3.069534,1,2020,Valledupar
5,-69.484946,-49.128315,-62.469176,-81.607885,-46.979928,22.860215,2,2020,Valledupar
6,-53.404659,-31.489247,-47.251613,-49.396774,-28.408244,16.524373,3,2020,Valledupar
7,-33.425090,4.562724,-36.517204,-47.477061,-12.912186,9.928674,4,2020,Valledupar
8,-25.703533,2.384025,-30.059908,-41.371352,-12.711598,6.198925,1,2021,Valledupar
9,-31.318638,0.172760,-34.230466,-38.020789,-17.372043,10.251254,2,2021,Valledupar
10,0.761649,32.544444,-7.482437,-12.131541,1.369892,3.596416,3,2021,Valledupar
11,22.093907,53.994624,10.870251,17.243728,10.216846,0.605018,4,2021,Valledupar

In [141]:
df_vill = df_mob[df_mob['sub_region_2'] == 'Villavicencio'].fillna(0)
df_vill

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
152137,Meta,Villavicencio,2.0,2.0,2.0,-14.0,8.0,0.0,2020,02
152138,Meta,Villavicencio,4.0,11.0,2.0,-10.0,7.0,2.0,2020,02
152139,Meta,Villavicencio,-1.0,4.0,7.0,4.0,17.0,-2.0,2020,02
152140,Meta,Villavicencio,-6.0,2.0,3.0,-2.0,16.0,-1.0,2020,02
152141,Meta,Villavicencio,-8.0,-5.0,2.0,-1.0,14.0,-1.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
152818,Meta,Villavicencio,46.0,70.0,32.0,53.0,16.0,2.0,2021,12
152819,Meta,Villavicencio,47.0,69.0,33.0,50.0,17.0,1.0,2021,12
152820,Meta,Villavicencio,57.0,78.0,35.0,45.0,16.0,-1.0,2021,12
152821,Meta,Villavicencio,75.0,111.0,61.0,138.0,13.0,-3.0,2021,12
152822,Meta,Villavicencio,55.0,133.0,68.0,156.0,-14.0,-1.0,2021,12

In [142]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Villavicencio'

dataset_v

    Mes   Ano         Ciudad
0     1  2020  Villavicencio
1     2  2020  Villavicencio
2     3  2020  Villavicencio
3     4  2020  Villavicencio
4     5  2020  Villavicencio
5     6  2020  Villavicencio
6     7  2020  Villavicencio
7     8  2020  Villavicencio
8     9  2020  Villavicencio
9    10  2020  Villavicencio
10   11  2020  Villavicencio
11   12  2020  Villavicencio
12    1  2021  Villavicencio
13    2  2021  Villavicencio
14    3  2021  Villavicencio
15    4  2021  Villavicencio
16    5  2021  Villavicencio
17    6  2021  Villavicencio
18    7  2021  Villavicencio
19    8  2021  Villavicencio
20    9  2021  Villavicencio
21   10  2021  Villavicencio
22   11  2021  Villavicencio
23   12  2021  Villavicencio

In [143]:
df_vill.info()
df_vill['Mes'] = df_vill['Mes'].astype('float64')
df_vill['Ano'] = df_vill['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 152137 to 152822
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [144]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_vill.loc[(df_vill['Mes'] == n_Mes) & (df_vill['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Villavicencio,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Villavicencio,-3.133333,0.466667,4.333333,-2.133333,12.866667,-0.666667
2,3,2020,Villavicencio,-37.000000,-20.838710,-28.709677,-28.870968,-20.903226,13.677419
3,4,2020,Villavicencio,-79.866667,-61.433333,-69.366667,-58.466667,-63.733333,32.366667
4,5,2020,Villavicencio,-67.806452,-45.741935,-53.645161,-45.838710,-43.193548,26.387097
5,6,2020,Villavicencio,-51.000000,-25.233333,-36.200000,-36.733333,-25.333333,19.900000
6,7,2020,Villavicencio,-46.193548,-22.419355,-34.258065,-36.516129,-22.580645,18.032258
7,8,2020,Villavicencio,-55.387097,-30.870968,-41.838710,-20.774194,-31.387097,21.290323
8,9,2020,Villavicencio,-39.666667,-14.000000,-23.933333,-13.500000,-16.366667,13.866667
9,10,2020,Villavicencio,-30.677419,-1.774194,-18.032258,-6.387097,-9.935484,11.000000
10,11,2020,Villavicencio,-23.933333,-0.800000,-20.833333,-3.266667,-6.400000,10.300000
11,12,2020,Villavicencio,-16.419355,13.774194,-10.161290,-4.225806,-3.903226,6.935484
12,1,2021,Villavicencio,-37.483871,-10.096774,-28.419355,-7.741935,-15.806452,10.903226
13,2,2021,Villavicencio,-24.321429,3.678571,-19.535714,-2.892857,-2.714286,6.464286
14,3,2021,Villavicencio,-16.451613,13.580645,-15.225806,6.677419,0.709677,5.967742
15,4,2021,Villavicencio,-25.300000,4.233333,-21.033333,5.000000,-4.933333,10.166667
16,5,2021,Villavicencio,-16.612903,12.225806,-16.774194,12.774194,4.741935,9.709677
17,6,2021,Villavicencio,-4.166667,20.366667,-6.266667,28.700000,5.333333,8.066667
18,7,2021,Villavicencio,4.290323,26.129032,-2.483871,30.806452,11.290323,6.806452
19,8,2021,Villavicencio,9.129032,29.161290,4.161290,40.322581,19.612903,4.838710
20,9,2021,Villavicencio,12.033333,32.066667,7.200000,48.833333,26.700000,3.500000
21,10,2021,Villavicencio,21.774194,38.225806,14.935484,46.064516,26.741935,2.290323
22,11,2021,Villavicencio,25.900000,43.233333,17.800000,40.000000,27.000000,1.833333
23,12,2021,Villavicencio,42.903226,68.387097,33.645161,57.193548,24.000000,-0.645161

In [145]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-13.377778,-6.790681,-8.125448,-10.334767,-2.678853,4.336918
1,-66.224373,-44.136201,-53.070609,-47.012903,-44.086738,26.217921
2,-66.224373,-44.136201,-53.070609,-47.012903,-44.086738,26.217921
3,-66.224373,-44.136201,-53.070609,-47.012903,-44.086738,26.217921
4,-47.082437,-22.430108,-33.343369,-23.596774,-23.444803,17.729749
5,-47.082437,-22.430108,-33.343369,-23.596774,-23.444803,17.729749
6,-47.082437,-22.430108,-33.343369,-23.596774,-23.444803,17.729749
7,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828
8,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828
9,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828
10,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418
11,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418
12,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418
13,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337
14,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337
15,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337
16,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387
17,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387
18,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387
19,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498
20,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498
21,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Vill = pd.DataFrame()
df_Vill['retail_and_recreation'] = retail_and_recreation
df_Vill['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Vill['parks'] = parks
df_Vill['transit_stations'] = transit_stations
df_Vill['workplaces'] = workplaces
df_Vill['residential'] = residential
df_Vill['Trimestre'] = trimestre
df_Vill['Ano'] = ano
df_Vill['Ciudad'] = "Villavicencio"
df_Vill

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Villavicencio
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Villavicencio
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Villavicencio
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Villavicencio
4,-13.377778,-6.790681,-8.125448,-10.334767,-2.678853,4.336918,1,2020,Villavicencio
5,-66.224373,-44.136201,-53.070609,-47.012903,-44.086738,26.217921,2,2020,Villavicencio
6,-47.082437,-22.430108,-33.343369,-23.596774,-23.444803,17.729749,3,2020,Villavicencio
7,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828,4,2020,Villavicencio
8,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418,1,2021,Villavicencio
9,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337,2,2021,Villavicencio
10,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387,3,2021,Villavicencio
11,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498,4,2021,Villavicencio

In [147]:
df_sana = df_mob[df_mob['sub_region_2'] == 'San Andr√©s'].fillna(0)
df_sana["sub_region_2"][df_sana["sub_region_2"] == "San Andr√©s"] = "Sanandres"
df_sana

<ipython-input-147-8f80f741f973>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sana["sub_region_2"][df_sana["sub_region_2"] == "San Andr√©s"] = "Sanandres"

,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,Ano,Mes
179419,San Andres and Providencia,Sanandres,-6.0,-3.0,-10.0,-2.0,4.0,0.0,2020,02
179420,San Andres and Providencia,Sanandres,-8.0,0.0,-8.0,-2.0,-1.0,0.0,2020,02
179421,San Andres and Providencia,Sanandres,-4.0,-9.0,-9.0,0.0,13.0,0.0,2020,02
179422,San Andres and Providencia,Sanandres,-4.0,-6.0,-13.0,-4.0,14.0,0.0,2020,02
179423,San Andres and Providencia,Sanandres,-5.0,-6.0,-8.0,-6.0,11.0,-1.0,2020,02
...,...,...,...,...,...,...,...,...,...,...
180100,San Andres and Providencia,Sanandres,41.0,49.0,-14.0,85.0,6.0,5.0,2021,12
180101,San Andres and Providencia,Sanandres,49.0,46.0,-15.0,71.0,6.0,5.0,2021,12
180102,San Andres and Providencia,Sanandres,46.0,0.0,-14.0,47.0,3.0,5.0,2021,12
180103,San Andres and Providencia,Sanandres,58.0,0.0,-14.0,86.0,3.0,3.0,2021,12
180104,San Andres and Providencia,Sanandres,38.0,0.0,-10.0,37.0,-12.0,6.0,2021,12

In [148]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = 'Sanandres'

dataset_v

    Mes   Ano     Ciudad
0     1  2020  Sanandres
1     2  2020  Sanandres
2     3  2020  Sanandres
3     4  2020  Sanandres
4     5  2020  Sanandres
5     6  2020  Sanandres
6     7  2020  Sanandres
7     8  2020  Sanandres
8     9  2020  Sanandres
9    10  2020  Sanandres
10   11  2020  Sanandres
11   12  2020  Sanandres
12    1  2021  Sanandres
13    2  2021  Sanandres
14    3  2021  Sanandres
15    4  2021  Sanandres
16    5  2021  Sanandres
17    6  2021  Sanandres
18    7  2021  Sanandres
19    8  2021  Sanandres
20    9  2021  Sanandres
21   10  2021  Sanandres
22   11  2021  Sanandres
23   12  2021  Sanandres

In [149]:
df_sana.info()
df_sana['Mes'] = df_sana['Mes'].astype('float64')
df_sana['Ano'] = df_sana['Ano'].astype('float64')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 179419 to 180104
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        686 non-null    object
 1   sub_region_2                                        686 non-null    object
 2   retail_and_recreation_percent_change_from_baseline  686 non-null    float64
 3   grocery_and_pharmacy_percent_change_from_baseline   686 non-null    float64
 4   parks_percent_change_from_baseline                  686 non-null    float64
 5   transit_stations_percent_change_from_baseline       686 non-null    float64
 6   workplaces_percent_change_from_baseline             686 non-null    float64
 7   residential_percent_change_from_baseline            686 non-null    float64
 8   Ano                                                 686 non-null    object
 9   Mes                                                 686 non-null    object
dtypes: float64(6), object(4)
memory usage: 59.0+ KB

In [150]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vac√≠o
vect_b = [] #Se crea un vector vac√≠o
vect_c = [] #Se crea un vector vac√≠o
vect_d = [] #Se crea un vector vac√≠o
vect_e = [] #Se crea un vector vac√≠o
vect_f = [] #Se crea un vector vac√≠o

for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_b.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_c.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'parks_percent_change_from_baseline'].mean())
    vect_d.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'transit_stations_percent_change_from_baseline'].mean())
    vect_e.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'workplaces_percent_change_from_baseline'].mean())
    vect_f.append(df_sana.loc[(df_sana['Mes'] == n_Mes) & (df_sana['Ano'] == n_Ano) , 'residential_percent_change_from_baseline'].mean())


dataset_v['retail_and_recreation_percent_change_from_baseline'] = vect_a
dataset_v['grocery_and_pharmacy_percent_change_from_baseline'] = vect_b
dataset_v['parks_percent_change_from_baseline'] = vect_c
dataset_v['transit_stations_percent_change_from_baseline'] = vect_d
dataset_v['workplaces_percent_change_from_baseline'] = vect_e
dataset_v['residential_percent_change_from_baseline'] = vect_f

dataset_v = dataset_v.fillna(0)
dataset_v

,Mes,Ano,Ciudad,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,1,2020,Sanandres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,2020,Sanandres,-6.066667,-5.066667,-7.266667,-4.733333,6.533333,0.133333
2,3,2020,Sanandres,-36.774194,-26.483871,-36.870968,-32.516129,-19.516129,1.419355
3,4,2020,Sanandres,-82.933333,-67.633333,-81.700000,-81.300000,-61.133333,0.000000
4,5,2020,Sanandres,-78.838710,-67.935484,-79.419355,-81.129032,-53.354839,2.516129
5,6,2020,Sanandres,-71.133333,-58.533333,-75.333333,-78.366667,-43.066667,15.266667
6,7,2020,Sanandres,-70.741935,-51.838710,-74.096774,-76.709677,-39.967742,16.677419
7,8,2020,Sanandres,-40.322581,-31.387097,-76.806452,-71.903226,-27.548387,10.451613
8,9,2020,Sanandres,-51.166667,-39.500000,-75.266667,-57.266667,-34.133333,12.033333
9,10,2020,Sanandres,-69.354839,-38.741935,-63.838710,-58.225806,-35.967742,18.258065
10,11,2020,Sanandres,-60.233333,-32.266667,-61.966667,-41.133333,-34.566667,12.466667
11,12,2020,Sanandres,-44.225806,-16.709677,-57.193548,-25.516129,-25.903226,10.838710
12,1,2021,Sanandres,-39.548387,-20.000000,-51.225806,-17.064516,-27.322581,12.387097
13,2,2021,Sanandres,-39.107143,-9.857143,-49.142857,-18.821429,-21.250000,8.785714
14,3,2021,Sanandres,-31.806452,-5.806452,-44.290323,-11.129032,-17.032258,7.419355
15,4,2021,Sanandres,-29.000000,-8.900000,-45.866667,-9.333333,-16.933333,9.800000
16,5,2021,Sanandres,-32.064516,-6.967742,-53.612903,-10.322581,-17.935484,13.741935
17,6,2021,Sanandres,-9.233333,5.500000,-41.866667,16.766667,-15.433333,12.100000
18,7,2021,Sanandres,5.935484,15.129032,-36.387097,31.645161,-10.064516,8.516129
19,8,2021,Sanandres,-0.064516,8.548387,-38.548387,31.870968,-7.774194,5.645161
20,9,2021,Sanandres,-0.433333,12.133333,-39.766667,31.733333,-3.800000,5.266667
21,10,2021,Sanandres,13.064516,17.387097,-33.290323,47.290323,-2.096774,6.322581
22,11,2021,Sanandres,26.366667,18.300000,-27.166667,62.900000,-2.000000,7.033333
23,12,2021,Sanandres,32.290323,12.096774,-21.354839,62.387097,0.935484,4.451613

In [151]:
vect_tri_a = []
vect_tri_b = []
vect_tri_c = []
vect_tri_d = []
vect_tri_e = []
vect_tri_f = []

df_agr = pd.DataFrame()
df_agr['retail_and_recreation'] = None
df_agr['grocery_and_pharmacy'] = None
df_agr['parks'] = None
df_agr['transit_stations'] = None
df_agr['workplaces'] = None
df_agr['residential'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'retail_and_recreation_percent_change_from_baseline'].mean())
    vect_tri_b.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'grocery_and_pharmacy_percent_change_from_baseline'].mean())
    vect_tri_c.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'parks_percent_change_from_baseline'].mean())
    vect_tri_d.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'transit_stations_percent_change_from_baseline'].mean())
    vect_tri_e.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'workplaces_percent_change_from_baseline'].mean())
    vect_tri_f.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'residential_percent_change_from_baseline'].mean())
    if n == c[i]:
        i = 1+i
df_agr['retail_and_recreation'] = vect_tri_a
df_agr['grocery_and_pharmacy'] = vect_tri_b
df_agr['parks'] = vect_tri_c
df_agr['transit_stations'] = vect_tri_d
df_agr['workplaces'] = vect_tri_e
df_agr['residential'] = vect_tri_f

df_agr

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,-14.280287,-10.516846,-14.712545,-12.416487,-4.327599,0.517563
1,-77.635125,-64.700717,-78.817563,-80.265233,-52.518280,5.927599
2,-77.635125,-64.700717,-78.817563,-80.265233,-52.518280,5.927599
3,-77.635125,-64.700717,-78.817563,-80.265233,-52.518280,5.927599
4,-54.077061,-40.908602,-75.389964,-68.626523,-33.883154,13.054122
5,-54.077061,-40.908602,-75.389964,-68.626523,-33.883154,13.054122
6,-54.077061,-40.908602,-75.389964,-68.626523,-33.883154,13.054122
7,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480
8,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480
9,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480
10,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722
11,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722
12,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722
13,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645
14,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645
15,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645
16,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986
17,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986
18,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986
19,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842
20,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842
21,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
retail_and_recreation = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]
grocery_and_pharmacy = [0,0,0,0,vect_tri_b[0],vect_tri_b[1],vect_tri_b[4],vect_tri_b[7],
                 vect_tri_b[10],vect_tri_b[13],vect_tri_b[16],vect_tri_b[19]]
parks = [0,0,0,0,vect_tri_c[0],vect_tri_c[1],vect_tri_c[4],vect_tri_c[7],
                 vect_tri_c[10],vect_tri_c[13],vect_tri_c[16],vect_tri_c[19]]
transit_stations = [0,0,0,0,vect_tri_d[0],vect_tri_d[1],vect_tri_d[4],vect_tri_d[7],
                 vect_tri_d[10],vect_tri_d[13],vect_tri_d[16],vect_tri_d[19]]
workplaces = [0,0,0,0,vect_tri_e[0],vect_tri_e[1],vect_tri_e[4],vect_tri_e[7],
                 vect_tri_e[10],vect_tri_e[13],vect_tri_e[16],vect_tri_e[19]]
residential = [0,0,0,0,vect_tri_f[0],vect_tri_f[1],vect_tri_f[4],vect_tri_f[7],
                 vect_tri_f[10],vect_tri_f[13],vect_tri_f[16],vect_tri_f[19]]
df_Sana = pd.DataFrame()
df_Sana['retail_and_recreation'] = retail_and_recreation
df_Sana['grocery_and_pharmacy'] = grocery_and_pharmacy
df_Sana['parks'] = parks
df_Sana['transit_stations'] = transit_stations
df_Sana['workplaces'] = workplaces
df_Sana['residential'] = residential
df_Sana['Trimestre'] = trimestre
df_Sana['Ano'] = ano
df_Sana['Ciudad'] = "Sanandres"
df_Sana

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Sanandres
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Sanandres
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Sanandres
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Sanandres
4,-14.280287,-10.516846,-14.712545,-12.416487,-4.327599,0.517563,1,2020,Sanandres
5,-77.635125,-64.700717,-78.817563,-80.265233,-52.518280,5.927599,2,2020,Sanandres
6,-54.077061,-40.908602,-75.389964,-68.626523,-33.883154,13.054122,3,2020,Sanandres
7,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480,4,2020,Sanandres
8,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722,1,2021,Sanandres
9,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645,2,2021,Sanandres
10,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,3,2021,Sanandres
11,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,4,2021,Sanandres

In [153]:
frames = [df_Arm, df_Bar, df_Bog, df_Buc,
                   df_Cal, df_Car, df_Cuc, df_Flo, 
                    df_Iba, df_Man, df_Med, df_Mon,
                   df_Nei, df_Pas, df_Per, df_Pop,
                   df_Qui, df_Rio, df_Sana, df_Sant,
                   df_Sin, df_Tun, df_Vall, df_Vill]
df_new = pd.concat(frames)
df_new

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Armenia
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Armenia
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Armenia
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Armenia
4,-16.145520,-9.952688,-14.317563,0.000000,-3.747670,4.060215,1,2020,Armenia
...,...,...,...,...,...,...,...,...,...
7,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828,4,2020,Villavicencio
8,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418,1,2021,Villavicencio
9,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337,2,2021,Villavicencio
10,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387,3,2021,Villavicencio
11,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498,4,2021,Villavicencio

In [154]:
df_new.reset_index(drop=True, inplace=True)
df_new

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,Trimestre,Ano,Ciudad
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,2019,Armenia
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,2019,Armenia
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,2019,Armenia
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,2019,Armenia
4,-16.145520,-9.952688,-14.317563,0.000000,-3.747670,4.060215,1,2020,Armenia
...,...,...,...,...,...,...,...,...,...
283,-23.676703,3.733333,-16.342294,-4.626523,-6.746237,9.411828,4,2020,Villavicencio
284,-26.085637,2.387481,-21.060292,-1.319124,-5.937020,7.778418,1,2021,Villavicencio
285,-15.359857,12.275269,-14.691398,15.491398,1.713978,9.314337,2,2021,Villavicencio
286,8.484229,29.118996,2.959140,39.987455,19.201075,5.048387,3,2021,Villavicencio
287,30.192473,49.948746,22.126882,47.752688,25.913978,1.159498,4,2021,Villavicencio

In [156]:
export_dir = 'MOB_PRO/Mobi_Ciudades.csv'
df_new.to_csv(export_dir, index=False, header=True)

In [157]:
df_new['Ciudad'].unique().tolist()

['Armenia',
 'Barranquilla',
 'Bogota',
 'Bucaramanga',
 'Cali',
 'Cartagena',
 'Cucuta',
 'Florencia',
 'Ibague',
 'Manizales',
 'Medellin',
 'Monteria',
 'Neiva',
 'Pasto',
 'Pereira',
 'Popayan',
 'Quibdo',
 'Riohacha',
 'Sanandres',
 'Santamarta',
 'Sincelejo',
 'Tunja',
 'Valledupar',
 'Villavicencio']