In [1]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np


# Configuración warnings
# ==============================================================================
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

Fin_df = pd.DataFrame() #Se establece la variable como DataFrame

# Dataset Precipitacion

In [2]:
#Se crea un vector con los nombres de las ciudades
ciudad = ['Armenia','Barranquilla','Bogota','Bucaramanga',
       'Cali','Cartagena','Cucuta','Florencia','Ibague',
       'Manizales','Medellin','Monteria','Neiva','Pasto',
       'Pereira','Popayan','Quibdo','Riohacha',
       'Santamarta','Sincelejo','Tunja','Valledupar',
          'Villavicencio']
ci = 22 #Esta variable indica el número de ciudades
dataset_dir = 'PRECSV/'+ ciudad[ci] +'.csv' #Se carga el dataset
df_pre = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_pre['Ciudad'] = ciudad[ci] #Se asigna el nombre de la ciudad a la columna "ciudad" del dataset
df_pre.isnull().sum() #Se imprime la suma de filas nulas del dataset

system:time_start    0
precipitation        0
Ciudad               0
dtype: int64

In [3]:
df_pre #Se imprime el dataset

     system:time_start  precipitation         Ciudad
0         Dec 31, 2018          0.000  Villavicencio
1          Jan 1, 2019          0.000  Villavicencio
2          Jan 2, 2019          0.000  Villavicencio
3          Jan 3, 2019          0.000  Villavicencio
4          Jan 4, 2019          4.172  Villavicencio
...                ...            ...            ...
1091      Dec 26, 2021          2.678  Villavicencio
1092      Dec 27, 2021          0.000  Villavicencio
1093      Dec 28, 2021          0.000  Villavicencio
1094      Dec 29, 2021          3.386  Villavicencio
1095      Dec 30, 2021          0.000  Villavicencio

[1096 rows x 3 columns]

In [4]:
date = df_pre["system:time_start"].str.split('[ ,]', expand=True) #Se divide la columna "system:time_start"
date.columns = ['Mes','dia','DEL','Ano'] # en año, mes y día //'DEL' es una coluna que se borra

df_pre = pd.concat([df_pre, date], axis=1) # Se agregan las columnas creadas al dataset
del(df_pre['DEL']) # Se borran las siguientes columnas porque no aportan información importante para este trabajo
del(df_pre['system:time_start'])
del(df_pre['dia'])

df_pre#Se imprime el dataset

      precipitation         Ciudad  Mes   Ano
0             0.000  Villavicencio  Dec  2018
1             0.000  Villavicencio  Jan  2019
2             0.000  Villavicencio  Jan  2019
3             0.000  Villavicencio  Jan  2019
4             4.172  Villavicencio  Jan  2019
...             ...            ...  ...   ...
1091          2.678  Villavicencio  Dec  2021
1092          0.000  Villavicencio  Dec  2021
1093          0.000  Villavicencio  Dec  2021
1094          3.386  Villavicencio  Dec  2021
1095          0.000  Villavicencio  Dec  2021

[1096 rows x 4 columns]

In [5]:
#Para crear la base del nuevo dataset
df_agrup = df_pre.drop_duplicates(subset=['Mes','Ano'],keep='last', inplace=False) #Se borran todas las filas duplicadas

del(df_agrup['precipitation']) #Esta columna tambien se elimina
df_agrupado = df_agrup.drop(df_agrup[df_agrup['Ano']=='2018'].index) #Se eliminan las filas cuyo año es 2018
df_agrupado.reset_index(drop=True, inplace=True)#Se reinicia el index, con el fin de que el número de cada fila quede ordenado
df_agrupado #Se imprime el dataset

           Ciudad  Mes   Ano
0   Villavicencio  Jan  2019
1   Villavicencio  Feb  2019
2   Villavicencio  Mar  2019
3   Villavicencio  Apr  2019
4   Villavicencio  May  2019
5   Villavicencio  Jun  2019
6   Villavicencio  Jul  2019
7   Villavicencio  Aug  2019
8   Villavicencio  Sep  2019
9   Villavicencio  Oct  2019
10  Villavicencio  Nov  2019
11  Villavicencio  Dec  2019
12  Villavicencio  Jan  2020
13  Villavicencio  Feb  2020
14  Villavicencio  Mar  2020
15  Villavicencio  Apr  2020
16  Villavicencio  May  2020
17  Villavicencio  Jun  2020
18  Villavicencio  Jul  2020
19  Villavicencio  Aug  2020
20  Villavicencio  Sep  2020
21  Villavicencio  Oct  2020
22  Villavicencio  Nov  2020
23  Villavicencio  Dec  2020
24  Villavicencio  Jan  2021
25  Villavicencio  Feb  2021
26  Villavicencio  Mar  2021
27  Villavicencio  Apr  2021
28  Villavicencio  May  2021
29  Villavicencio  Jun  2021
30  Villavicencio  Jul  2021
31  Villavicencio  Aug  2021
32  Villavicencio  Sep  2021
33  Villavicencio  Oct  2021
34  Villavicencio  Nov  2021
35  Villavicencio  Dec  2021

In [6]:
df_pre = df_pre.drop(df_pre[df_pre['precipitation']==0].index) #Se eliminan las filas cuyo columna indicada sea igual a 0
df_pre.head(10)

    precipitation         Ciudad  Mes   Ano
4           4.172  Villavicencio  Jan  2019
9           0.270  Villavicencio  Jan  2019
10          5.011  Villavicencio  Jan  2019
11          2.451  Villavicencio  Jan  2019
18          0.013  Villavicencio  Jan  2019
28          2.347  Villavicencio  Jan  2019
29         10.303  Villavicencio  Jan  2019
36          0.372  Villavicencio  Feb  2019
38          1.536  Villavicencio  Feb  2019
45          0.006  Villavicencio  Feb  2019

In [7]:
df_agrup = df_pre.drop_duplicates(subset=['Mes','Ano'],keep='last', inplace=False) #Se borran todas las filas duplicadas

df_agrup.reset_index(drop=True, inplace=True) #Se reinicia el index, con el fin de que el número de cada fila quede ordenado
df_agrup #Se imprime el dataset

    precipitation         Ciudad  Mes   Ano
0          10.303  Villavicencio  Jan  2019
1           0.299  Villavicencio  Feb  2019
2          15.755  Villavicencio  Mar  2019
3           2.314  Villavicencio  Apr  2019
4          26.434  Villavicencio  May  2019
5          38.351  Villavicencio  Jun  2019
6           0.721  Villavicencio  Jul  2019
7           5.011  Villavicencio  Aug  2019
8           0.525  Villavicencio  Sep  2019
9          34.859  Villavicencio  Oct  2019
10          2.411  Villavicencio  Nov  2019
11          0.054  Villavicencio  Dec  2019
12          0.891  Villavicencio  Jan  2020
13          0.132  Villavicencio  Feb  2020
14          3.749  Villavicencio  Mar  2020
15         15.858  Villavicencio  Apr  2020
16         12.302  Villavicencio  May  2020
17         39.157  Villavicencio  Jun  2020
18         90.077  Villavicencio  Jul  2020
19          1.078  Villavicencio  Aug  2020
20         26.817  Villavicencio  Sep  2020
21         18.802  Villavicencio  Oct  2020
22         32.030  Villavicencio  Nov  2020
23         16.908  Villavicencio  Dec  2020
24          0.129  Villavicencio  Jan  2021
25          0.686  Villavicencio  Feb  2021
26          3.131  Villavicencio  Mar  2021
27         79.005  Villavicencio  Apr  2021
28         24.693  Villavicencio  May  2021
29         58.041  Villavicencio  Jun  2021
30          3.618  Villavicencio  Jul  2021
31         25.095  Villavicencio  Aug  2021
32         14.713  Villavicencio  Sep  2021
33         18.186  Villavicencio  Oct  2021
34          5.362  Villavicencio  Nov  2021
35          3.386  Villavicencio  Dec  2021

In [8]:
df_agrup = df_agrupado.merge(df_agrup, on=["Mes","Ano",'Ciudad'], how="left").fillna(0) #Se unen y se organizan las columnas, ademas se cambian las filas nulas por 0
df_agrup #Se imprime el dataset

           Ciudad  Mes   Ano  precipitation
0   Villavicencio  Jan  2019         10.303
1   Villavicencio  Feb  2019          0.299
2   Villavicencio  Mar  2019         15.755
3   Villavicencio  Apr  2019          2.314
4   Villavicencio  May  2019         26.434
5   Villavicencio  Jun  2019         38.351
6   Villavicencio  Jul  2019          0.721
7   Villavicencio  Aug  2019          5.011
8   Villavicencio  Sep  2019          0.525
9   Villavicencio  Oct  2019         34.859
10  Villavicencio  Nov  2019          2.411
11  Villavicencio  Dec  2019          0.054
12  Villavicencio  Jan  2020          0.891
13  Villavicencio  Feb  2020          0.132
14  Villavicencio  Mar  2020          3.749
15  Villavicencio  Apr  2020         15.858
16  Villavicencio  May  2020         12.302
17  Villavicencio  Jun  2020         39.157
18  Villavicencio  Jul  2020         90.077
19  Villavicencio  Aug  2020          1.078
20  Villavicencio  Sep  2020         26.817
21  Villavicencio  Oct  2020         18.802
22  Villavicencio  Nov  2020         32.030
23  Villavicencio  Dec  2020         16.908
24  Villavicencio  Jan  2021          0.129
25  Villavicencio  Feb  2021          0.686
26  Villavicencio  Mar  2021          3.131
27  Villavicencio  Apr  2021         79.005
28  Villavicencio  May  2021         24.693
29  Villavicencio  Jun  2021         58.041
30  Villavicencio  Jul  2021          3.618
31  Villavicencio  Aug  2021         25.095
32  Villavicencio  Sep  2021         14.713
33  Villavicencio  Oct  2021         18.186
34  Villavicencio  Nov  2021          5.362
35  Villavicencio  Dec  2021          3.386

In [9]:
val_mes = df_agrup['Mes'] #Se guardan los valores de la columna 
val_ano = df_agrup['Ano'] 

vect_a = [] #Se crean vectores vacíos para cada variable
vect_b = [] 
vect_c = [] 
vect_d = [] 

# Se crea un ciclo for para obtener un promedio para la variable segun las opciones de Mes y Ano
for n_Mes,n_Ano in zip(val_mes,val_ano): 
    vect_a.append(df_pre.loc[(df_pre['Mes'] == n_Mes) & (df_pre['Ano'] == n_Ano) ,'precipitation'].mean())

# Se asigna el resultado a la variable del nuevo dataset
df_agrup['precipitation'] = vect_a

df_agrup #Se imprime el dataset

           Ciudad  Mes   Ano  precipitation
0   Villavicencio  Jan  2019       3.509571
1   Villavicencio  Feb  2019       2.175545
2   Villavicencio  Mar  2019       8.565000
3   Villavicencio  Apr  2019      19.644167
4   Villavicencio  May  2019      25.471591
5   Villavicencio  Jun  2019      17.267333
6   Villavicencio  Jul  2019      22.939833
7   Villavicencio  Aug  2019      24.325571
8   Villavicencio  Sep  2019      10.332296
9   Villavicencio  Oct  2019      12.754000
10  Villavicencio  Nov  2019      10.446400
11  Villavicencio  Dec  2019       8.280000
12  Villavicencio  Jan  2020       2.272615
13  Villavicencio  Feb  2020       1.978900
14  Villavicencio  Mar  2020      12.449455
15  Villavicencio  Apr  2020      17.132909
16  Villavicencio  May  2020      19.617148
17  Villavicencio  Jun  2020      20.140333
18  Villavicencio  Jul  2020      21.893960
19  Villavicencio  Aug  2020      16.917235
20  Villavicencio  Sep  2020      10.554522
21  Villavicencio  Oct  2020      10.009154
22  Villavicencio  Nov  2020      12.564667
23  Villavicencio  Dec  2020       8.519444
24  Villavicencio  Jan  2021       6.213556
25  Villavicencio  Feb  2021       2.500909
26  Villavicencio  Mar  2021      10.184438
27  Villavicencio  Apr  2021      27.285857
28  Villavicencio  May  2021      16.078708
29  Villavicencio  Jun  2021      21.187667
30  Villavicencio  Jul  2021      23.656556
31  Villavicencio  Aug  2021      22.761526
32  Villavicencio  Sep  2021      13.778050
33  Villavicencio  Oct  2021       9.939808
34  Villavicencio  Nov  2021       9.650625
35  Villavicencio  Dec  2021       2.038364

In [10]:
#Se realiza la agrupación trimestral de los datos
vect_tri = [] #Se crea un vector vacío para la variable
df_agr = pd.DataFrame() #Se establece la variable como DataFrame
df_agr['precipitation1'] = None #Se crea la columna vacia para el nuevo dataset
c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39] #Se crea un vector para el resultado trimestral
i = 0 #Se inicializa el contador

#Se crea un ciclo for para obtener un promedio de los datos agrupandolos trimestralmente
for n in df_agrup['Mes'].index:
    
    vect_tri.append(df_agrup.loc[(df_agrup['Mes'].index >= c[i]) & (df_agrup['Mes'].index < c[i+1]),'precipitation'].mean())
    if n == c[i]: #Incremento del contador
        i = 1+i
        
# Se asigna el resultado a cada columna del nuevo dataset
df_agr['precipitation1'] = vect_tri
df_agr = df_agr
df_agr #Se imprime el dataset

    precipitation1
0         4.750039
1        20.794364
2        20.794364
3        20.794364
4        19.199234
5        19.199234
6        19.199234
7        10.493467
8        10.493467
9        10.493467
10        5.566990
11        5.566990
12        5.566990
13       18.963464
14       18.963464
15       18.963464
16       16.455239
17       16.455239
18       16.455239
19       10.364422
20       10.364422
21       10.364422
22        6.299634
23        6.299634
24        6.299634
25       21.517411
26       21.517411
27       21.517411
28       20.065377
29       20.065377
30       20.065377
31        7.209599
32        7.209599
33        7.209599
34             NaN
35             NaN

In [11]:
#Se crea el dataset con información trimestral
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4] # Se crea un vector para el nuevo valor por trimestre
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021] #Se crea un vector para el nuevo vector de trimestre segun el año
#Se crea un vector con la información resultante de cada trimestre
precipitacion = [vect_tri[0],vect_tri[1],vect_tri[4],vect_tri[7],
                 vect_tri[10],vect_tri[13],vect_tri[16],vect_tri[19],
                 vect_tri[22],vect_tri[25],vect_tri[28],vect_tri[31]]
Fin_df = pd.DataFrame()#Se establece la variable como DataFrame

#En cada columna del nuevo dataset se le asigna su correspondiente vector
Fin_df['Precipitacion'] = precipitacion
Fin_df['Trimestre'] = trimestre
Fin_df['Ano'] = ano
Fin_df['Ciudad'] = ciudad[ci] #El resultado obtiene el contenido de cada ciudad
Fin_df = Fin_df
Fin_df #Se imprime el dataset

    Precipitacion  Trimestre   Ano         Ciudad
0        4.750039          1  2019  Villavicencio
1       20.794364          2  2019  Villavicencio
2       19.199234          3  2019  Villavicencio
3       10.493467          4  2019  Villavicencio
4        5.566990          1  2020  Villavicencio
5       18.963464          2  2020  Villavicencio
6       16.455239          3  2020  Villavicencio
7       10.364422          4  2020  Villavicencio
8        6.299634          1  2021  Villavicencio
9       21.517411          2  2021  Villavicencio
10      20.065377          3  2021  Villavicencio
11       7.209599          4  2021  Villavicencio

In [12]:
export_dir = 'PRE_PRO/'+ ciudad[ci] +'_Pre.csv' #Se establece la dirección y nombre para exportar el dataset resultante
Fin_df.to_csv(export_dir, index=False, header=False) #Se exporta el dataset en formato CSV