# Dataset Desempleo

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [2]:
dataset_dir = 'Desempleo/desempleo.csv' #Se carga el dataset
df_des = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_des.isnull().sum() #Se imprime el dataset

CodDepartamento        0
CodCiudad              0
Departamento           0
Ciudad                 0
Ano                    0
Trimestre              0
PorcentajeDesempleo    0
dtype: int64

In [3]:
df_des

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo
0,44,1,Guajira,Riohacha,2021,1,23.2
1,54,1,Norte de Santander,Cucuta,2021,1,22.5
2,27,1,Choco,Quibdo,2021,1,21.9
3,73,1,Tolima,Ibague,2021,1,21.7
4,41,1,Huila,Neiva,2021,1,20.6
...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2
284,68,1,Santander,Bucaramanga,2019,4,9.9
285,8,1,Atlantico,Barranquilla,2019,4,8.0
286,13,1,Bolivar,Cartagena,2019,4,6.7
287,88,1,Archipielago de San Andres,San Andres,2019,4,6.7

In [4]:
df_des['Ciudad'].unique().tolist()

['Riohacha',
 'Cucuta',
 'Quibdo',
 'Ibague',
 'Neiva',
 'Valledupar',
 'Bogota D.C',
 'Tunja',
 'Villavicencio',
 'Popayan',
 'Manizales',
 'Cali',
 'Armenia',
 'Medellin',
 'Monteria',
 'Florencia',
 'Santa Marta',
 'Pereira',
 'Sincelejo',
 'Pasto',
 'Bucaramanga',
 'Barranquilla',
 'Cartagena',
 'San Andres']

In [5]:
df_des["Ciudad"][df_des["Ciudad"] == "Bogota D.C"] = "Bogota"
df_des["Ciudad"][df_des["Ciudad"] == "Santa Marta"] = "Santamarta"
df_des["Ciudad"][df_des["Ciudad"] == "San Andres"] = "Sanandres"

<ipython-input-5-5d4340dc0b8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_des["Ciudad"][df_des["Ciudad"] == "Bogota D.C"] = "Bogota"
<ipython-input-5-5d4340dc0b8c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_des["Ciudad"][df_des["Ciudad"] == "Santa Marta"] = "Santamarta"
<ipython-input-5-5d4340dc0b8c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_des["Ciudad"][df_des["Ciudad"] == "San Andres"] = "Sanandres"

In [6]:
df_des['Ciudad'].unique().tolist()

['Riohacha',
 'Cucuta',
 'Quibdo',
 'Ibague',
 'Neiva',
 'Valledupar',
 'Bogota',
 'Tunja',
 'Villavicencio',
 'Popayan',
 'Manizales',
 'Cali',
 'Armenia',
 'Medellin',
 'Monteria',
 'Florencia',
 'Santamarta',
 'Pereira',
 'Sincelejo',
 'Pasto',
 'Bucaramanga',
 'Barranquilla',
 'Cartagena',
 'Sanandres']

In [7]:
df_dese = df_des.loc[df_des.Ciudad == 'Santamarta', ('PorcentajeDesempleo','Trimestre')] 
df_dese

     PorcentajeDesempleo  Trimestre
16                  15.6          1
40                  16.1          2
64                  14.2          3
88                  13.4          4
112                 13.4          1
136                 21.8          2
160                 20.7          3
184                 16.4          4
208                 11.3          1
232                 11.4          2
256                 11.7          3
280                 12.9          4

# Dataset Temperatura

In [8]:
dataset_dir = 'TEMP_PRO/Temp_Ciudades.csv' #Se carga el dataset
df_temp = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_temp.isnull().sum() #Se imprime el dataset

Temperatura    0
Trimestre      0
Ano            0
Ciudad         0
dtype: int64

In [9]:
df_temp #Se imprime el dataset

     Temperatura  Trimestre   Ano         Ciudad
0      25.477321          1  2019        Armenia
1      25.305828          2  2019        Armenia
2      27.580615          3  2019        Armenia
3      25.338460          4  2019        Armenia
4      26.535897          1  2020        Armenia
..           ...        ...   ...            ...
283    25.909224          4  2020  Villavicencio
284    28.580454          1  2021  Villavicencio
285    22.871395          2  2021  Villavicencio
286    24.068472          3  2021  Villavicencio
287    27.394224          4  2021  Villavicencio

[288 rows x 4 columns]

In [10]:
df_temp['Ciudad'].unique().tolist()

['Armenia',
 'Barranquilla',
 'Bogota',
 'Bucaramanga',
 'Cali',
 'Cartagena',
 'Cucuta',
 'Florencia',
 'Ibague',
 'Manizales',
 'Medellin',
 'Monteria',
 'Neiva',
 'Pasto',
 'Pereira',
 'Popayan',
 'Quibdo',
 'Riohacha',
 'Sanandres',
 'Santamarta',
 'Sincelejo',
 'Tunja',
 'Valledupar',
 'Villavicencio']

In [11]:
df_des_temp = df_des.merge(df_temp, on=["Ciudad","Ano","Trimestre"], how="outer").fillna(0)
df_des_temp

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873
4,41,1,Huila,Neiva,2021,1,20.6,23.548013
...,...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2,15.888510
284,68,1,Santander,Bucaramanga,2019,4,9.9,27.531085
285,8,1,Atlantico,Barranquilla,2019,4,8.0,31.836689
286,13,1,Bolivar,Cartagena,2019,4,6.7,26.717944
287,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995

In [12]:
df_des_tempe = df_des_temp.loc[df_des_temp.Ciudad == 'Riohacha', ('PorcentajeDesempleo','Trimestre','Temperatura')] 
df_des_tempe

     PorcentajeDesempleo  Trimestre  Temperatura
0                   23.2          1    28.065724
24                  18.6          2    27.593695
48                  19.1          3    27.749413
72                  15.6          4    26.675429
96                  17.6          1    30.128272
120                 31.5          2    29.332812
144                 21.4          3    27.028815
168                 19.3          4    25.768921
192                 17.1          1    29.412560
216                 14.4          2    27.944610
240                 14.9          3    29.253872
264                 14.6          4    25.806619

# Dataset Precipitacion

In [13]:
dataset_dir = 'PRE_PRO/Prec_Ciudades.csv' #Se carga el dataset
df_prec = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_prec.isnull().sum() #Se imprime el dataset

Precipitacion    1
Trimestre        0
Ano              0
Ciudad           0
dtype: int64

In [14]:
df_prec #Se imprime el dataset

     Precipitacion  Trimestre   Ano         Ciudad
0        16.237449          1  2019        Armenia
1        10.558758          2  2019        Armenia
2         7.700481          3  2019        Armenia
3        13.061067          4  2019        Armenia
4        14.272157          1  2020        Armenia
..             ...        ...   ...            ...
271      10.364422          4  2020  Villavicencio
272       6.299634          1  2021  Villavicencio
273      21.517411          2  2021  Villavicencio
274      20.065377          3  2021  Villavicencio
275       7.209599          4  2021  Villavicencio

[276 rows x 4 columns]

In [15]:
df_prec['Ciudad'].unique().tolist()

['Armenia',
 'Barranquilla',
 'Bogota',
 'Bucaramanga',
 'Cali',
 'Cartagena',
 'Cucuta',
 'Florencia',
 'Ibague',
 'Manizales',
 'Medellin',
 'Monteria',
 'Neiva',
 'Pasto',
 'Pereira',
 'Popayan',
 'Quibdo',
 'Riohacha',
 'Santamarta',
 'Sincelejo',
 'Tunja',
 'Valledupar',
 'Villavicencio']

In [16]:
df_des_temp_prec = df_des_temp.merge(df_prec, on=["Ciudad","Ano","Trimestre"], how="outer").fillna(0)
df_des_temp_prec

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340,6.872129
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721,16.377159
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360
4,41,1,Huila,Neiva,2021,1,20.6,23.548013,9.718639
...,...,...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2,15.888510,9.075442
284,68,1,Santander,Bucaramanga,2019,4,9.9,27.531085,8.175400
285,8,1,Atlantico,Barranquilla,2019,4,8.0,31.836689,3.796820
286,13,1,Bolivar,Cartagena,2019,4,6.7,26.717944,4.653837
287,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995,0.000000

In [17]:
df_des_temp_preci = df_des_temp_prec.loc[df_des_temp_prec.Ciudad == 'Santamarta', ('PorcentajeDesempleo','Trimestre','Temperatura','Precipitacion')] 
df_des_temp_preci

     PorcentajeDesempleo  Trimestre  Temperatura  Precipitacion
16                  15.6          1    23.433819       2.484956
40                  16.1          2    22.109009       4.633217
64                  14.2          3    21.636041       4.975951
88                  13.4          4    21.529404       5.520474
112                 13.4          1    25.002125       2.118306
136                 21.8          2    23.068986       3.184300
160                 20.7          3    20.676671       7.539848
184                 16.4          4    20.639401      10.336444
208                 11.3          1    24.538559       1.859167
232                 11.4          2    21.566788       2.561149
256                 11.7          3    22.288756       4.827149
280                 12.9          4    20.296967       5.486858

# Dataset PIB

In [18]:
dataset_dir = 'PIB/PIB2.csv' #Se carga el dataset
df_pib = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_pib.isnull().sum() #Se imprime el dataset

CodDepartamento    0
CodCiudad          0
Departamento       0
Ciudad             0
Ano                0
Trimestre          0
PIB                0
dtype: int64

In [19]:
df_pib #Se imprime el dataset

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PIB
0,44,1,Guajira,Riohacha,2021,1,1851
1,54,1,Norte de Santander,Cucuta,2021,1,6790
2,27,1,Choco,Quibdo,2021,1,842
3,73,1,Tolima,Ibague,2021,1,7604
4,41,1,Huila,Neiva,2021,1,4616
...,...,...,...,...,...,...,...
187,52,1,Narino,Pasto,2020,4,3015
188,68,1,Santander,Bucaramanga,2020,4,13763
189,8,1,Atlantico,Barranquilla,2020,4,16933
190,13,1,Bolivar,Cartagena,2020,4,13501
191,88,1,Archipielago de San Andres,San Andres,2020,4,1027

In [20]:
df_pib['Ciudad'].unique().tolist()

['Riohacha',
 'Cucuta',
 'Quibdo',
 'Ibague',
 'Neiva',
 'Valledupar',
 'Bogota D.C',
 'Tunja',
 'Villavicencio',
 'Popayan',
 'Manizales',
 'Cali',
 'Armenia',
 'Medellin',
 'Monteria',
 'Florencia',
 'Santa Marta',
 'Pereira',
 'Sincelejo',
 'Pasto',
 'Bucaramanga',
 'Barranquilla',
 'Cartagena',
 'San Andres']

In [21]:
df_pib['Ano'].unique().tolist()

[2021, 2020]

In [22]:
df_pib_b = df_pib[df_pib['Ciudad'] == 'Bogota D.C']
df_pib["Ciudad"][df_pib["Ciudad"] == "Bogota D.C"] = "Bogota"
df_pib["Ciudad"][df_pib["Ciudad"] == "Santa Marta"] = "Santamarta"
df_pib["Ciudad"][df_pib["Ciudad"] == "San Andres"] = "Sanandres"
#df_pib["Departamento"][df_pib["Departamento"] == "Bogota D.C"] = "Bogota"
df_pib

<ipython-input-22-e7a501600774>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pib["Ciudad"][df_pib["Ciudad"] == "Bogota D.C"] = "Bogota"
<ipython-input-22-e7a501600774>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pib["Ciudad"][df_pib["Ciudad"] == "Santa Marta"] = "Santamarta"
<ipython-input-22-e7a501600774>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pib["Ciudad"][df_pib["Ciudad"] == "San Andres"] = "Sanandres"

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PIB
0,44,1,Guajira,Riohacha,2021,1,1851
1,54,1,Norte de Santander,Cucuta,2021,1,6790
2,27,1,Choco,Quibdo,2021,1,842
3,73,1,Tolima,Ibague,2021,1,7604
4,41,1,Huila,Neiva,2021,1,4616
...,...,...,...,...,...,...,...
187,52,1,Narino,Pasto,2020,4,3015
188,68,1,Santander,Bucaramanga,2020,4,13763
189,8,1,Atlantico,Barranquilla,2020,4,16933
190,13,1,Bolivar,Cartagena,2020,4,13501
191,88,1,Archipielago de San Andres,Sanandres,2020,4,1027

In [23]:
df_des_temp_prec_pib = df_des_temp_prec.merge(df_pib, on=["Ciudad","Ano","Trimestre","CodDepartamento","CodCiudad","Departamento"], how="outer").fillna(0)
df_des_temp_prec_pib

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383,1851.0
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340,6.872129,6790.0
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721,16.377159,842.0
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360,7604.0
4,41,1,Huila,Neiva,2021,1,20.6,23.548013,9.718639,4616.0
...,...,...,...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2,15.888510,9.075442,0.0
284,68,1,Santander,Bucaramanga,2019,4,9.9,27.531085,8.175400,0.0
285,8,1,Atlantico,Barranquilla,2019,4,8.0,31.836689,3.796820,0.0
286,13,1,Bolivar,Cartagena,2019,4,6.7,26.717944,4.653837,0.0
287,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995,0.000000,0.0

In [24]:
df_des_temp_prec_pib['Ano'].unique().tolist()

[2021, 2020, 2019]

In [25]:
df_des_temp_prec_pibi = df_des_temp_prec_pib.loc[df_des_temp_prec_pib.Ciudad == 'Bogota', ('PorcentajeDesempleo','Trimestre','Ano','Temperatura','Precipitacion','PIB')] 
df_des_temp_prec_pibi

,PorcentajeDesempleo,Trimestre,Ano,Temperatura,Precipitacion,PIB
6,20.1,1,2021,19.989400,3.990287,237244.0
30,18.1,2,2021,16.620689,6.277958,237244.0
54,14.4,3,2021,16.012740,5.815894,237244.0
78,11.3,4,2021,19.065336,5.417185,237244.0
102,11.8,1,2020,22.723783,4.945249,214485.0
126,23.6,2,2020,17.397859,5.342135,214485.0
150,22.0,3,2020,17.546153,6.109085,214485.0
174,16.3,4,2020,19.471980,4.959516,214485.0
198,13.4,1,2019,19.857304,4.382859,0.0
222,10.3,2,2019,17.362795,5.238121,0.0
246,10.0,3,2019,16.392629,3.219855,0.0
270,9.9,4,2019,18.032462,5.560449,0.0

In [26]:
df_des_temp_prec_pib = df_des_temp_prec_pib.replace([0], [np.nan])
df_des_temp_prec_pib

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383,1851.0
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340,6.872129,6790.0
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721,16.377159,842.0
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360,7604.0
4,41,1,Huila,Neiva,2021,1,20.6,23.548013,9.718639,4616.0
...,...,...,...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2,15.888510,9.075442,NaN
284,68,1,Santander,Bucaramanga,2019,4,9.9,27.531085,8.175400,NaN
285,8,1,Atlantico,Barranquilla,2019,4,8.0,31.836689,3.796820,NaN
286,13,1,Bolivar,Cartagena,2019,4,6.7,26.717944,4.653837,NaN
287,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995,NaN,NaN

In [27]:
df_des_temp_prec_pib.isnull().sum() #Se imprime el dataset

CodDepartamento         0
CodCiudad               0
Departamento            0
Ciudad                  0
Ano                     0
Trimestre               0
PorcentajeDesempleo     0
Temperatura             0
Precipitacion          13
PIB                    96
dtype: int64

In [28]:
#df_des_temp_prec_pibr = df_des_temp_prec_pib.drop(df_des_temp_prec_pib[df_des_temp_prec_pib['PIB'] != 'NaN'].index)
#df_des_temp_prec_pibr = df_des_temp_prec_pib['PIB'] != np.NaN
#df_des_temp_prec_pibr = df_des_temp_prec_pib[df_des_temp_prec_pibr]
#df_des_temp_prec_pibr = df_des_temp_prec_pib
#df_des_temp_prec_pibr = df_des_temp_prec_pibr.dropna()
#df_des_temp_prec_pibr

# Mobility

In [29]:
dataset_dir = 'MOB_PRO/Mobi_Ciudades.csv' #Se carga el dataset
df_mobi = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_mobi.isnull().sum() #Se imprime el dataset

retail_and_recreation    0
grocery_and_pharmacy     0
parks                    0
transit_stations         0
workplaces               0
residential              0
Trimestre                0
Ano                      0
Ciudad                   0
dtype: int64

In [30]:
df_des_temp_prec_pib_mob = df_des_temp_prec_pib.merge(df_mobi, on=["Ciudad","Ano","Trimestre"], how="outer").fillna(0)
df_des_temp_prec_pib_mob

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383,1851.0,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340,6.872129,6790.0,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721,16.377159,842.0,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360,7604.0,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336
4,41,1,Huila,Neiva,2021,1,20.6,23.548013,9.718639,4616.0,-33.388633,-4.721198,-35.167819,0.000000,-15.751536,8.357527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,52,1,Narino,Pasto,2019,4,10.2,15.888510,9.075442,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
284,68,1,Santander,Bucaramanga,2019,4,9.9,27.531085,8.175400,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
285,8,1,Atlantico,Barranquilla,2019,4,8.0,31.836689,3.796820,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
286,13,1,Bolivar,Cartagena,2019,4,6.7,26.717944,4.653837,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
287,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [31]:
df_des_temp_prec_pib_mobi = df_des_temp_prec_pib_mob.loc[df_des_temp_prec_pib_mob.Ciudad == 'Quibdo', ('PorcentajeDesempleo','Trimestre','Temperatura','Precipitacion','PIB','parks')] 
df_des_temp_prec_pib_mobi

,PorcentajeDesempleo,Trimestre,Temperatura,Precipitacion,PIB,parks
2,21.9,1,19.581721,16.377159,842.0,18.042243
26,21.9,2,19.564816,17.580874,842.0,7.915412
50,18.6,3,20.526362,14.488672,842.0,16.990681
74,19.9,4,18.334506,19.801086,842.0,28.369892
98,22.5,1,19.108803,7.459441,784.0,-22.068100
122,18.0,2,20.529986,20.158935,784.0,-50.349821
146,21.2,3,20.523398,20.473434,784.0,-23.668217
170,20.0,4,18.812696,19.846019,784.0,11.257348
194,21.6,1,18.158435,8.379369,0.0,0.000000
218,20.3,2,19.388668,22.994865,0.0,0.000000
242,18.4,3,19.524672,21.672899,0.0,0.000000
266,18.9,4,17.773071,24.114349,0.0,0.000000

# Vacunacion

In [32]:
dataset_dir = 'Vacunacion/Vacunacion.csv' #Se carga el dataset
df_vac = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_vac.isnull().sum() #Se imprime el dataset

CodDepartamento         0
CodCiudad               0
Departamento            0
Ciudad                  0
Ano                     0
Trimestre               0
PorcentajeVacunacion    0
dtype: int64

In [33]:
df_vac

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeVacunacion
0,44,1,Guajira,Riohacha,2020,1,0.00
1,54,1,Norte de Santander,Cucuta,2020,1,0.00
2,27,1,Choco,Quibdo,2020,1,0.00
3,73,1,Tolima,Ibague,2020,1,0.00
4,41,1,Huila,Neiva,2020,1,0.00
...,...,...,...,...,...,...,...
259,52,1,Narino,Pasto,2022,3,74.37
260,68,1,Santander,Bucaramanga,2022,3,75.73
261,8,1,Atlantico,Barranquilla,2022,3,72.08
262,13,1,Bolivar,Cartagena,2022,3,61.01
263,88,1,Archipielago de San Andres,San Andres,2022,3,78.06

In [34]:
df_vacuna = df_vac.loc[df_vac.Ciudad == 'Popayan', ('Ciudad','Departamento','Ano','Trimestre','PorcentajeVacunacion')] 
df_vacuna

      Ciudad Departamento   Ano  Trimestre  PorcentajeVacunacion
9    Popayan        Cauca  2020          1                  0.00
33   Popayan        Cauca  2020          2                  0.00
57   Popayan        Cauca  2020          3                  0.00
81   Popayan        Cauca  2020          4                  0.00
105  Popayan        Cauca  2021          1                  0.92
129  Popayan        Cauca  2021          2                 18.05
153  Popayan        Cauca  2021          3                 39.46
177  Popayan        Cauca  2021          4                 59.48
201  Popayan        Cauca  2022          1                 67.62
225  Popayan        Cauca  2022          2                 69.72
249  Popayan        Cauca  2022          3                 70.58

In [35]:
df_vac["Ciudad"][df_vac["Ciudad"] == "Bogota D.C"] = "Bogota"
df_vac["Ciudad"][df_vac["Ciudad"] == "Santa Marta"] = "Santamarta"
df_vac["Ciudad"][df_vac["Ciudad"] == "San Andres"] = "Sanandres"
#df_pib["Departamento"][df_pib["Departamento"] == "Bogota D.C"] = "Bogota"
df_vac

<ipython-input-35-5012ec589c3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac["Ciudad"][df_vac["Ciudad"] == "Bogota D.C"] = "Bogota"
<ipython-input-35-5012ec589c3b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac["Ciudad"][df_vac["Ciudad"] == "Santa Marta"] = "Santamarta"
<ipython-input-35-5012ec589c3b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac["Ciudad"][df_vac["Ciudad"] == "San Andres"] = "Sanandres"

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeVacunacion
0,44,1,Guajira,Riohacha,2020,1,0.00
1,54,1,Norte de Santander,Cucuta,2020,1,0.00
2,27,1,Choco,Quibdo,2020,1,0.00
3,73,1,Tolima,Ibague,2020,1,0.00
4,41,1,Huila,Neiva,2020,1,0.00
...,...,...,...,...,...,...,...
259,52,1,Narino,Pasto,2022,3,74.37
260,68,1,Santander,Bucaramanga,2022,3,75.73
261,8,1,Atlantico,Barranquilla,2022,3,72.08
262,13,1,Bolivar,Cartagena,2022,3,61.01
263,88,1,Archipielago de San Andres,Sanandres,2022,3,78.06

In [36]:
df_des_temp_prec_pib_mob_vac = df_des_temp_prec_pib_mob.merge(df_vac, on=["Ciudad","Ano","Trimestre","CodDepartamento","CodCiudad","Departamento"], how="outer").fillna(0)
df_des_temp_prec_pib_mob_vac

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383,1851.0,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376,0.49
1,54,1,Norte de Santander,Cucuta,2021,1,22.5,27.472340,6.872129,6790.0,-35.218510,-6.312596,-29.066820,-31.155530,-13.213518,9.492320,0.68
2,27,1,Choco,Quibdo,2021,1,21.9,19.581721,16.377159,842.0,-27.355607,-15.622120,18.042243,-42.970046,-17.121352,6.549539,0.60
3,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360,7604.0,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336,0.82
4,41,1,Huila,Neiva,2021,1,20.6,23.548013,9.718639,4616.0,-33.388633,-4.721198,-35.167819,0.000000,-15.751536,8.357527,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,52,1,Narino,Pasto,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.37
356,68,1,Santander,Bucaramanga,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.73
357,8,1,Atlantico,Barranquilla,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,72.08
358,13,1,Bolivar,Cartagena,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,61.01
359,88,1,Archipielago de San Andres,Sanandres,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.06

In [37]:
df_des_temp_prec_pib_mob_vacu = df_des_temp_prec_pib_mob_vac.loc[df_des_temp_prec_pib_mob_vac.Ciudad == 'Medellin', ('PorcentajeDesempleo','Trimestre','Temperatura','Precipitacion','PIB','Ano')] 
df_des_temp_prec_pib_mob_vacu

     PorcentajeDesempleo  Trimestre  Temperatura  Precipitacion      PIB   Ano
13                  17.9          1    22.285123       6.276447  52347.0  2021
37                  16.1          2    21.641045       6.918125  52347.0  2021
61                  15.1          3    22.108254       5.659602  52347.0  2021
85                  13.0          4    21.652813       7.864118  52347.0  2021
109                 12.9          1    24.149651       7.957837  46018.0  2020
133                 25.2          2    22.286968       5.173339  46018.0  2020
157                 20.0          3    22.739094       7.672982  46018.0  2020
181                 15.2          4    23.157370       8.176094  46018.0  2020
205                 13.5          1    22.628148       7.196210      0.0  2019
229                 12.6          2    22.486640       7.895154      0.0  2019
253                 12.0          3    23.582326       3.777443      0.0  2019
277                 10.9          4    23.072308       6.030338      0.0  2019
301                  0.0          1     0.000000       0.000000      0.0  2022
325                  0.0          2     0.000000       0.000000      0.0  2022
349                  0.0          3     0.000000       0.000000      0.0  2022

# Indice vulnerabilidad DANE

In [38]:
dataset_dir = 'Indice_DANE\\vulnerabilidad_median_filtered_municipalities_no_0.CSV' #Se carga el dataset
df_dataset_y = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_dataset_y

    COD_MPIO  CATEGORIA        ipm  Vulnerabilidad_numero
0       5001        4.0   8.900000                      2
1       8001        4.0  10.800000                      2
2      11001        3.0   7.400000                      2
3      13001        1.0  12.100000                      1
4      15001        4.0   4.240336                      1
5      17001        4.0   8.200000                      1
6      18001        4.0  18.644068                      1
7      19001        2.0  10.000000                      4
8      20001        1.0  17.465098                      1
9      23001        4.0  12.096774                      1
10     27001        1.0  33.215649                      1
11     41001        4.0   7.692308                      1
12     44001        4.0  24.210526                      2
13     47001        3.0  12.272426                      1
14     50001        3.0   9.700000                      2
15     52001        1.0   7.300000                      1
16     54001        2.0  20.400000                      1
17     63001        1.0   8.300000                      1
18     66001        4.0   7.900000                      1
19     68001        4.0  10.550000                      1
20     70001        2.0  22.200000                      1
21     73001        3.0   8.831654                      1
22     76001        2.0   7.900000                      1
23     88001        3.0  12.543706                      1

In [39]:
df_dataset_y = df_dataset_y.astype(str)

In [40]:
df_dataset_y["CodCiudad"] = df_dataset_y['COD_MPIO'].apply(lambda x: x[-3:])
df_dataset_y["CodDepartamento"] = df_dataset_y['COD_MPIO'].apply(lambda x: x[:-3])
df_dataset_y

,COD_MPIO,CATEGORIA,ipm,Vulnerabilidad_numero,CodCiudad,CodDepartamento
0,5001,4.0,8.9,2,001,5
1,8001,4.0,10.8,2,001,8
2,11001,3.0,7.4,2,001,11
3,13001,1.0,12.1,1,001,13
4,15001,4.0,4.240335631000001,1,001,15
5,17001,4.0,8.2,1,001,17
6,18001,4.0,18.644067800000002,1,001,18
7,19001,2.0,10.0,4,001,19
8,20001,1.0,17.46509849,1,001,20
9,23001,4.0,12.09677419,1,001,23
10,27001,1.0,33.215649225,1,001,27
11,41001,4.0,7.692307692000001,1,001,41
12,44001,4.0,24.21052632,2,001,44
13,47001,3.0,12.272426345,1,001,47
14,50001,3.0,9.7,2,001,50
15,52001,1.0,7.3,1,001,52
16,54001,2.0,20.4,1,001,54
17,63001,1.0,8.3,1,001,63
18,66001,4.0,7.9,1,001,66
19,68001,4.0,10.55,1,001,68
20,70001,2.0,22.2,1,001,70
21,73001,3.0,8.831654209,1,001,73
22,76001,2.0,7.9,1,001,76
23,88001,3.0,12.543706295,1,001,88

In [41]:
df_dataset_y.CodCiudad = df_dataset_y.CodCiudad.astype(int) 
df_dataset_y.CodDepartamento = df_dataset_y.CodDepartamento.astype(int)  
print(df_dataset_y.dtypes)
df_dataset_y =df_dataset_y.loc[:,["Vulnerabilidad_numero","CodCiudad","CodDepartamento"]]
df_dataset_y

COD_MPIO                 object
CATEGORIA                object
ipm                      object
Vulnerabilidad_numero    object
CodCiudad                 int32
CodDepartamento           int32
dtype: object

   Vulnerabilidad_numero  CodCiudad  CodDepartamento
0                      2          1                5
1                      2          1                8
2                      2          1               11
3                      1          1               13
4                      1          1               15
5                      1          1               17
6                      1          1               18
7                      4          1               19
8                      1          1               20
9                      1          1               23
10                     1          1               27
11                     1          1               41
12                     2          1               44
13                     1          1               47
14                     2          1               50
15                     1          1               52
16                     1          1               54
17                     1          1               63
18                     1          1               66
19                     1          1               68
20                     1          1               70
21                     1          1               73
22                     1          1               76
23                     1          1               88

In [42]:
df_fin = df_des_temp_prec_pib_mob_vac.merge(df_dataset_y, on=["CodCiudad","CodDepartamento"], how="outer").fillna(0)
df_fin

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero
0,44,1,Guajira,Riohacha,2021,1,23.2,28.065724,1.836383,1851.0,-31.972734,-31.252688,-35.183180,-15.435100,-12.097926,7.755376,0.49,2
1,44,1,Guajira,Riohacha,2021,2,18.6,27.593695,4.058512,1851.0,-37.916846,-9.102509,-34.672401,-10.449462,-11.598925,10.772760,7.40,2
2,44,1,Guajira,Riohacha,2021,3,19.1,27.749413,3.507773,1851.0,-2.759498,30.629391,-11.425806,36.131900,12.393907,4.376344,26.11,2
3,44,1,Guajira,Riohacha,2021,4,15.6,26.675429,5.066084,1851.0,19.339427,51.877061,-2.699283,68.740860,21.120072,2.087814,36.89,2
4,44,1,Guajira,Riohacha,2020,1,17.6,30.128272,1.598111,1397.0,-13.910394,-8.156272,-12.222222,-17.445161,-2.074552,2.658781,0.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,88,1,Archipielago de San Andres,Sanandres,2019,3,6.7,26.148511,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1
356,88,1,Archipielago de San Andres,Sanandres,2019,4,6.7,24.538995,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1
357,88,1,Archipielago de San Andres,Sanandres,2022,1,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.66,1
358,88,1,Archipielago de San Andres,Sanandres,2022,2,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.05,1
359,88,1,Archipielago de San Andres,Sanandres,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.06,1

In [43]:
df_fin = df_fin.sort_values(['CodDepartamento','Ano','Trimestre'])
df_fin

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero
203,5,1,Antioquia,Medellin,2019,1,13.5,22.628148,7.196210,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
204,5,1,Antioquia,Medellin,2019,2,12.6,22.486640,7.895154,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
205,5,1,Antioquia,Medellin,2019,3,12.0,23.582326,3.777443,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
206,5,1,Antioquia,Medellin,2019,4,10.9,23.072308,6.030338,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
199,5,1,Antioquia,Medellin,2020,1,12.9,24.149651,7.957837,46018.0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,0.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,88,1,Archipielago de San Andres,Sanandres,2021,3,11.9,23.849370,0.000000,1300.0,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,56.77,1
348,88,1,Archipielago de San Andres,Sanandres,2021,4,11.9,25.257434,0.000000,1300.0,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,67.23,1
357,88,1,Archipielago de San Andres,Sanandres,2022,1,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.66,1
358,88,1,Archipielago de San Andres,Sanandres,2022,2,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.05,1
359,88,1,Archipielago de San Andres,Sanandres,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.06,1

In [44]:
df_fin.reset_index(drop=True)

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero
0,5,1,Antioquia,Medellin,2019,1,13.5,22.628148,7.196210,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
1,5,1,Antioquia,Medellin,2019,2,12.6,22.486640,7.895154,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
2,5,1,Antioquia,Medellin,2019,3,12.0,23.582326,3.777443,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
3,5,1,Antioquia,Medellin,2019,4,10.9,23.072308,6.030338,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2
4,5,1,Antioquia,Medellin,2020,1,12.9,24.149651,7.957837,46018.0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,0.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,88,1,Archipielago de San Andres,Sanandres,2021,3,11.9,23.849370,0.000000,1300.0,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,56.77,1
356,88,1,Archipielago de San Andres,Sanandres,2021,4,11.9,25.257434,0.000000,1300.0,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,67.23,1
357,88,1,Archipielago de San Andres,Sanandres,2022,1,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.66,1
358,88,1,Archipielago de San Andres,Sanandres,2022,2,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.05,1
359,88,1,Archipielago de San Andres,Sanandres,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.06,1

# Incidencia

In [45]:
dataset_dir = 'Incidencia/Incidencia.csv' #Se carga el dataset
df_inc = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_inc

     Trimestre   Ano         Ciudad  Incidencia
0            1  2019        Armenia    0.000000
1            2  2019        Armenia    0.000000
2            3  2019        Armenia    0.000000
3            4  2019        Armenia    0.000000
4            1  2020        Armenia    0.000043
..         ...   ...            ...         ...
283          4  2020  Villavicencio    0.024121
284          1  2021  Villavicencio    0.012760
285          2  2021  Villavicencio    0.039040
286          3  2021  Villavicencio    0.014033
287          4  2021  Villavicencio    0.002469

[288 rows x 4 columns]

In [46]:
df_total = df_fin.merge(df_inc, on=['Trimestre','Ano','Ciudad'], how="outer")
df_total

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero,Incidencia
0,5,1,Antioquia,Medellin,2019,1,13.5,22.628148,7.196210,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2,0.000000
1,5,1,Antioquia,Medellin,2019,2,12.6,22.486640,7.895154,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2,0.000000
2,5,1,Antioquia,Medellin,2019,3,12.0,23.582326,3.777443,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2,0.000000
3,5,1,Antioquia,Medellin,2019,4,10.9,23.072308,6.030338,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,2,0.000000
4,5,1,Antioquia,Medellin,2020,1,12.9,24.149651,7.957837,46018.0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,0.00,2,0.000024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,88,1,Archipielago de San Andres,Sanandres,2021,3,11.9,23.849370,0.000000,1300.0,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,56.77,1,0.006413
356,88,1,Archipielago de San Andres,Sanandres,2021,4,11.9,25.257434,0.000000,1300.0,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,67.23,1,0.025156
357,88,1,Archipielago de San Andres,Sanandres,2022,1,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.66,1,NaN
358,88,1,Archipielago de San Andres,Sanandres,2022,2,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.05,1,NaN
359,88,1,Archipielago de San Andres,Sanandres,2022,3,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.06,1,NaN

In [47]:
col = ['Ciudad','Trimestre','Ano','PIB']
ddata = pd.DataFrame(df_fin,columns=col)
ddata.head(30)

           Ciudad  Trimestre   Ano      PIB
203      Medellin          1  2019      0.0
204      Medellin          2  2019      0.0
205      Medellin          3  2019      0.0
206      Medellin          4  2019      0.0
199      Medellin          1  2020  46018.0
200      Medellin          2  2020  46018.0
201      Medellin          3  2020  46018.0
202      Medellin          4  2020  46018.0
195      Medellin          1  2021  52347.0
196      Medellin          2  2021  52347.0
197      Medellin          3  2021  52347.0
198      Medellin          4  2021  52347.0
207      Medellin          1  2022      0.0
208      Medellin          2  2022      0.0
209      Medellin          3  2022      0.0
323  Barranquilla          1  2019      0.0
324  Barranquilla          2  2019      0.0
325  Barranquilla          3  2019      0.0
326  Barranquilla          4  2019      0.0
319  Barranquilla          1  2020  16933.0
320  Barranquilla          2  2020  16933.0
321  Barranquilla          3  2020  16933.0
322  Barranquilla          4  2020  16933.0
315  Barranquilla          1  2021  19024.0
316  Barranquilla          2  2021  19024.0
317  Barranquilla          3  2021  19024.0
318  Barranquilla          4  2021  19024.0
327  Barranquilla          1  2022      0.0
328  Barranquilla          2  2022      0.0
329  Barranquilla          3  2022      0.0

import scipy 

from scipy.interpolate import interp1d

arr = df_total['PIB']
df_fin.loc[df_fin['PIB'] == 0, 'PIB'] = np.nan

#df_arm = df_fin['PIB'].replace([0],[np.nan])
df_arm = df_fin[df_fin['Ciudad'] == 'Armenia']
df_arm = df_arm['PIB'].unique().tolist()
df_arm = pd.Series(df_arm)
#val = df_arm[0] - df_arm[1]
#extra = dict(method="linear", fill_value="extrapolate")
#df_arm.interpolate()
#df_arm.interpolate(method='linear', limit_area=None)
f_linear = scipy.interpolate.interp1d(x,y)
#df_arm

In [48]:
df_total = df_total.drop(df_total[df_total['Ano'] == 2019].index)
df_total = df_total.drop(df_total[df_total['Ano'] == 2022].index)
df_total.reset_index(drop=True, inplace=True)
df_total

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero,Incidencia
0,5,1,Antioquia,Medellin,2020,1,12.9,24.149651,7.957837,46018.0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,0.00,2,0.000024
1,5,1,Antioquia,Medellin,2020,2,25.2,22.286968,5.173339,46018.0,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731,0.00,2,0.000825
2,5,1,Antioquia,Medellin,2020,3,20.0,22.739094,7.672982,46018.0,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272,0.00,2,0.026520
3,5,1,Antioquia,Medellin,2020,4,15.2,23.157370,8.176094,46018.0,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756,0.00,2,0.033072
4,5,1,Antioquia,Medellin,2021,1,17.9,22.285123,6.276447,52347.0,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369,0.66,2,0.024737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,88,1,Archipielago de San Andres,Sanandres,2020,4,25.3,25.658387,0.000000,1027.0,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480,0.00,1,0.014034
188,88,1,Archipielago de San Andres,Sanandres,2021,1,16.0,26.667411,0.000000,1300.0,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722,0.51,1,0.005350
189,88,1,Archipielago de San Andres,Sanandres,2021,2,16.0,28.111204,0.000000,1300.0,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645,13.53,1,0.061390
190,88,1,Archipielago de San Andres,Sanandres,2021,3,11.9,23.849370,0.000000,1300.0,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,56.77,1,0.006413
191,88,1,Archipielago de San Andres,Sanandres,2021,4,11.9,25.257434,0.000000,1300.0,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,67.23,1,0.025156

In [49]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CodDepartamento        192 non-null    int64
 1   CodCiudad              192 non-null    int64
 2   Departamento           192 non-null    object
 3   Ciudad                 192 non-null    object
 4   Ano                    192 non-null    int64
 5   Trimestre              192 non-null    int64
 6   PorcentajeDesempleo    192 non-null    float64
 7   Temperatura            192 non-null    float64
 8   Precipitacion          192 non-null    float64
 9   PIB                    192 non-null    float64
 10  retail_and_recreation  192 non-null    float64
 11  grocery_and_pharmacy   192 non-null    float64
 12  parks                  192 non-null    float64
 13  transit_stations       192 non-null    float64
 14  workplaces             192 non-null    float64
 15  residential            192 non-null    float64
 16  PorcentajeVacunacion   192 non-null    float64
 17  Vulnerabilidad_numero  192 non-null    object
 18  Incidencia             192 non-null    float64
dtypes: float64(12), int64(4), object(3)
memory usage: 28.6+ KB

In [50]:
df_total['Vulnerabilidad_numero'] = df_total['Vulnerabilidad_numero'].astype('float64')
df_total.tail(30)

,CodDepartamento,CodCiudad,Departamento,Ciudad,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero,Incidencia
162,70,1,Sucre,Sincelejo,2020,3,22.0,30.020495,4.739333,2145.0,-56.901434,-24.367025,-39.483513,-51.453047,-31.679570,18.594982,0.00,1.0,0.028236
163,70,1,Sucre,Sincelejo,2020,4,14.7,29.184565,5.148617,2145.0,-28.139785,7.991398,-18.846953,-44.056631,-10.830108,9.604301,0.00,1.0,0.006542
164,70,1,Sucre,Sincelejo,2021,1,15.4,35.473076,3.914194,2374.0,-28.074117,7.453533,-25.703149,-32.701613,-13.693548,7.001920,0.67,1.0,0.010518
165,70,1,Sucre,Sincelejo,2021,2,16.1,30.708802,6.762826,2374.0,-21.151971,-10.009677,-19.290681,-40.866308,-15.706452,9.568817,13.11,1.0,0.058592
166,70,1,Sucre,Sincelejo,2021,3,14.0,27.986927,5.083057,2374.0,3.676703,18.575269,3.264158,-74.422581,-2.641935,4.833333,26.66,1.0,0.017359
167,70,1,Sucre,Sincelejo,2021,4,14.7,28.872779,5.209154,2374.0,29.306452,50.130108,21.643369,-80.132975,5.417563,1.430108,39.32,1.0,0.001416
168,73,1,Tolima,Ibague,2020,1,19.4,21.879137,7.433044,6961.0,-13.979928,-8.130466,-14.853047,-17.247312,-4.172760,4.091756,0.00,1.0,0.000017
169,73,1,Tolima,Ibague,2020,2,37.6,22.786249,6.324022,6961.0,-66.521147,-45.643728,-52.357706,-86.393907,-49.774552,24.925090,0.00,1.0,0.000484
170,73,1,Tolima,Ibague,2020,3,27.5,22.522465,7.634353,6961.0,-41.893190,-25.259498,-25.194265,-64.512186,-28.330824,15.971326,0.00,1.0,0.016368
171,73,1,Tolima,Ibague,2020,4,19.0,20.783885,9.455775,6961.0,-27.016846,-6.016129,-17.209677,-28.691756,-19.570251,10.594265,0.00,1.0,0.048139
172,73,1,Tolima,Ibague,2021,1,21.7,20.300873,8.854360,7604.0,-30.125960,-11.825269,-22.696237,-33.694316,-21.283026,9.381336,0.82,1.0,0.024407
173,73,1,Tolima,Ibague,2021,2,19.8,20.468974,8.260827,7604.0,-14.865591,1.422581,-3.940860,-36.162007,-13.489964,8.259498,17.70,1.0,0.031742
174,73,1,Tolima,Ibague,2021,3,17.2,21.807566,6.544984,7604.0,3.314337,10.638710,14.998208,-8.124373,-2.454480,4.620072,36.60,1.0,0.017114
175,73,1,Tolima,Ibague,2021,4,17.1,19.496958,11.082449,7604.0,25.170251,28.122581,28.250179,10.807885,4.886738,1.684946,55.47,1.0,0.002075
176,76,1,Valle del Cauca,Cali,2020,1,14.0,25.110680,9.766669,40674.0,-11.604301,-5.374910,-11.758423,-7.290323,-4.117563,3.797849,0.00,1.0,0.000035
177,76,1,Valle del Cauca,Cali,2020,2,27.7,25.059455,8.048949,40674.0,-63.874552,-40.296416,-59.563441,-53.497491,-48.137993,24.202509,0.00,1.0,0.003252
178,76,1,Valle del Cauca,Cali,2020,3,22.2,25.384171,5.628405,40674.0,-38.093548,-15.691756,-34.918280,-35.872401,-25.654122,14.401792,0.00,1.0,0.019057
179,76,1,Valle del Cauca,Cali,2020,4,18.6,24.856122,9.889989,40674.0,-24.737634,0.686022,-27.772401,-16.544086,-15.156989,8.895699,0.00,1.0,0.023201
180,76,1,Valle del Cauca,Cali,2021,1,18.7,25.342201,9.139675,44667.0,-30.988479,-3.441244,-38.098694,-25.997312,-19.063748,9.135561,0.93,1.0,0.021682
181,76,1,Valle del Cauca,Cali,2021,2,21.4,23.945299,12.020793,44667.0,-27.638710,-2.027599,-33.408244,-39.834050,-24.709319,13.922222,15.72,1.0,0.036146
182,76,1,Valle del Cauca,Cali,2021,3,15.1,24.917197,8.128428,44667.0,1.103226,17.416129,-10.724731,-21.983871,-3.947670,5.421147,33.06,1.0,0.020842
183,76,1,Valle del Cauca,Cali,2021,4,14.1,24.786139,9.263403,44667.0,18.337634,32.707885,2.664516,-7.903943,4.849104,2.765591,48.04,1.0,0.010860
184,88,1,Archipielago de San Andres,Sanandres,2020,1,11.3,27.794084,0.000000,1027.0,-14.280287,-10.516846,-14.712545,-12.416487,-4.327599,0.517563,0.00,1.0,0.000017
185,88,1,Archipielago de San Andres,Sanandres,2020,2,11.3,28.388172,0.000000,1027.0,-77.635125,-64.700717,-78.817563,-80.265233,-52.518280,5.927599,0.00,1.0,0.000331
186,88,1,Archipielago de San Andres,Sanandres,2020,3,25.3,25.451755,0.000000,1027.0,-54.077061,-40.908602,-75.389964,-68.626523,-33.883154,13.054122,0.00,1.0,0.026692
187,88,1,Archipielago de San Andres,Sanandres,2020,4,25.3,25.658387,0.000000,1027.0,-57.937993,-29.239427,-60.999642,-41.625090,-32.145878,13.854480,0.00,1.0,0.014034
188,88,1,Archipielago de San Andres,Sanandres,2021,1,16.0,26.667411,0.000000,1300.0,-36.820661,-11.887865,-48.219662,-15.671659,-21.868280,9.530722,0.51,1.0,0.005350
189,88,1,Archipielago de San Andres,Sanandres,2021,2,16.0,28.111204,0.000000,1300.0,-23.432616,-3.455914,-47.115412,-0.963082,-16.767384,11.880645,13.53,1.0,0.061390
190,88,1,Archipielago de San Andres,Sanandres,2021,3,11.9,23.849370,0.000000,1300.0,1.812545,11.936918,-38.234050,31.749821,-7.212903,6.475986,56.77,1.0,0.006413
191,88,1,Archipielago de San Andres,Sanandres,2021,4,11.9,25.257434,0.000000,1300.0,23.907168,15.927957,-27.270609,57.525806,-1.053763,5.935842,67.23,1.0,0.025156

from sklearn import preprocessing
vuln_esc = df_total['Vulnerabilidad_numero']
vuln_esc = np.array(vuln_esc).reshape(-1,1)
scaler = preprocessing.MinMaxScaler()
normalizedlist=scaler.fit_transform(vuln_esc)
vuln_esc = normalizedlist*5
vuln_esc
df_total['Vulnerabilidad_numero'] = vuln_esc
df_total

In [51]:
df = df_total.drop(["CodCiudad","Departamento","Ciudad"], axis =1)
df.head(30)

,CodDepartamento,Ano,Trimestre,PorcentajeDesempleo,Temperatura,Precipitacion,PIB,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential,PorcentajeVacunacion,Vulnerabilidad_numero,Incidencia
0,5,2020,1,12.9,24.149651,7.957837,46018.0,-12.489606,-8.493907,-11.392832,-9.280287,-5.809319,4.227240,0.00,2.0,0.000024
1,5,2020,2,25.2,22.286968,5.173339,46018.0,-67.037634,-44.896057,-55.349462,-62.886022,-50.243011,25.524731,0.00,2.0,0.000825
2,5,2020,3,20.0,22.739094,7.672982,46018.0,-50.040860,-28.913620,-39.594624,-51.555556,-34.839427,17.956272,0.00,2.0,0.026520
3,5,2020,4,15.2,23.157370,8.176094,46018.0,-28.945878,-3.579928,-27.370968,-28.567742,-19.315054,10.191756,0.00,2.0,0.033072
4,5,2021,1,17.9,22.285123,6.276447,52347.0,-32.214670,-0.670507,-31.100230,-34.711982,-20.892857,9.510369,0.66,2.0,0.024737
5,5,2021,2,16.1,21.641045,6.918125,52347.0,-30.247670,5.816487,-24.741577,-27.446595,-19.949462,11.968817,19.35,2.0,0.054916
6,5,2021,3,15.1,22.108254,5.659602,52347.0,-2.841935,31.687097,-1.048746,2.518996,-0.171685,5.467025,43.25,2.0,0.019432
7,5,2021,4,13.0,21.652813,7.864118,52347.0,9.596416,47.323297,8.020072,14.250179,4.405735,3.190681,62.16,2.0,0.014488
8,8,2020,1,9.1,34.549735,0.000000,16933.0,-9.553405,-4.599283,-6.855914,-3.783513,-7.874552,3.391398,0.00,2.0,0.000024
9,8,2020,2,15.9,35.437985,3.518123,16933.0,-74.508602,-53.695341,-69.697133,-73.688889,-58.961290,26.178495,0.00,2.0,0.010538
10,8,2020,3,12.3,31.819404,5.346643,16933.0,-55.776344,-31.808602,-48.942652,-55.420072,-40.236201,19.603226,0.00,2.0,0.019074
11,8,2020,4,12.3,29.727768,10.295693,16933.0,-31.977419,2.617563,-26.673835,-24.155197,-19.844086,11.680287,0.00,2.0,0.015987
12,8,2021,1,11.6,33.771901,1.019270,19024.0,-33.060676,4.929339,-28.714670,-25.336790,-18.550691,10.384025,0.84,2.0,0.032106
13,8,2021,2,11.2,32.818195,3.265490,19024.0,-32.925806,-2.487814,-28.649821,-24.860215,-21.183513,14.254480,15.63,2.0,0.066424
14,8,2021,3,10.2,30.707628,3.401173,19024.0,-1.988889,22.133333,-1.078853,-3.384229,2.251613,7.350896,35.23,2.0,0.013446
15,8,2021,4,8.7,30.618179,7.206285,19024.0,15.825448,38.283154,12.172043,16.636559,10.467025,4.625090,57.50,2.0,0.013400
16,11,2020,1,11.8,22.723783,4.945249,214485.0,-11.907527,-4.941219,-9.636559,-7.428674,-4.171326,4.912545,0.00,2.0,0.000049
17,11,2020,2,23.6,17.397859,5.342135,214485.0,-67.086022,-39.269892,-54.250896,-64.758065,-55.169176,31.317921,0.00,2.0,0.003851
18,11,2020,3,22.0,17.546153,6.109085,214485.0,-50.940502,-23.207168,-37.438710,-50.387455,-38.372760,22.930108,0.00,2.0,0.031259
19,11,2020,4,16.3,19.471980,4.959516,214485.0,-35.388530,-3.669534,-27.717921,-18.103226,-24.558065,13.529749,0.00,2.0,0.027673
20,11,2021,1,20.1,19.989400,3.990287,237244.0,-41.887097,-7.943548,-34.838710,-21.908602,-28.001920,14.942396,0.97,2.0,0.026329
21,11,2021,2,18.1,16.620689,6.277958,237244.0,-31.988530,4.788889,-22.844086,-13.121147,-23.209319,16.093190,16.96,2.0,0.075805
22,11,2021,3,14.4,16.012740,5.815894,237244.0,-10.067025,22.916846,-2.776703,15.178853,-6.203584,9.311828,41.62,2.0,0.020906
23,11,2021,4,11.3,19.065336,5.417185,237244.0,4.410394,36.287814,6.509677,33.055197,0.247670,5.511470,63.44,2.0,0.004864
24,13,2020,1,9.9,33.089806,0.129000,13501.0,-15.412186,-11.268817,-19.773477,-14.632258,-4.816487,3.523297,0.00,1.0,0.000039
25,13,2020,2,19.4,31.122562,2.547910,13501.0,-78.721864,-61.752330,-82.535842,-85.836918,-60.697491,25.647670,0.00,1.0,0.008119
26,13,2020,3,18.1,26.792938,5.261466,13501.0,-65.466308,-41.210394,-70.970968,-78.042294,-41.772401,19.129749,0.00,1.0,0.014786
27,13,2020,4,12.1,26.854936,7.131763,13501.0,-43.479928,-11.658423,-50.769534,-51.830466,-24.275627,12.188889,0.00,1.0,0.021041
28,13,2021,1,11.5,31.630106,1.015492,15383.0,-38.526114,-4.949693,-42.846006,-37.075269,-19.713518,9.149770,0.60,1.0,0.013558
29,13,2021,2,11.0,29.451821,3.523353,15383.0,-33.970968,2.214695,-39.687455,-32.560573,-14.829032,11.035842,13.48,1.0,0.046409

In [52]:
export_dir = 'Dataset_Final/Dataset_unido.csv'
df.to_csv(export_dir, index=False, header=True)