# Pre-procesamiento dataset Personas CNPV

In [2]:
#Se importan las librerías
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
# Configuración warnings
# ==============================================================================
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_personas_filtrados10.CSV' #Se carga el dataset (Esta columna va cambiando 
#debido a que, como el dataset es tan grande se pre-proceso por partes para que no hubiesen problemas por recursos computacionales).
df_dataset = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_dataset.isnull().sum() #Se imprime el dataset

U_DPTO                    0
U_MPIO                    0
P_SEXO                    0
P_EDADR                   0
PA1_GRP_ETNIC             0
PA_HABLA_LENG       8114805
PB_OTRAS_LENG       8114805
PB1_QOTRAS_LENG     8528642
PA1_CALIDAD_SERV    7886246
P_ALFABETA           569888
P_NIVEL_ANOSR        569888
P_TRABAJO           1259316
dtype: int64

In [4]:
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO
0,19,1,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0
1,19,1,2,4,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0
2,19,1,2,7,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0
3,19,1,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0
4,19,1,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
8575994,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
8575995,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN
8575996,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
8575997,76,895,1,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN

In [5]:
#Se crea la columna Nom_DPTO y se asigna el valor de acuerdo al dato de U_DPTO
df_dataset.loc[df_dataset["U_DPTO"] == 91, "Nom_DPTO"] = "Amazonas"
df_dataset.loc[df_dataset["U_DPTO"] == 5, "Nom_DPTO"] = "Antioquia"
df_dataset.loc[df_dataset["U_DPTO"] == 81, "Nom_DPTO"] = "Arauca"
df_dataset.loc[df_dataset["U_DPTO"] == 8, "Nom_DPTO"] = "Atlantico"
df_dataset.loc[df_dataset["U_DPTO"] == 11, "Nom_DPTO"] = "Bogota D.C"
df_dataset.loc[df_dataset["U_DPTO"] == 13, "Nom_DPTO"] = "Bolivar"
df_dataset.loc[df_dataset["U_DPTO"] == 15, "Nom_DPTO"] = "Boyaca"
df_dataset.loc[df_dataset["U_DPTO"] == 17, "Nom_DPTO"] = "Caldas"
df_dataset.loc[df_dataset["U_DPTO"] == 18, "Nom_DPTO"] = "Caqueta"
df_dataset.loc[df_dataset["U_DPTO"] == 85, "Nom_DPTO"] = "Casanare"
df_dataset.loc[df_dataset["U_DPTO"] == 19, "Nom_DPTO"] = "Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 20, "Nom_DPTO"] = "Cesar"
df_dataset.loc[df_dataset["U_DPTO"] == 27, "Nom_DPTO"] = "Choco"
df_dataset.loc[df_dataset["U_DPTO"] == 23, "Nom_DPTO"] = "Cordoba"
df_dataset.loc[df_dataset["U_DPTO"] == 25, "Nom_DPTO"] = "Cundinamarca"
df_dataset.loc[df_dataset["U_DPTO"] == 94, "Nom_DPTO"] = "Guainia"
df_dataset.loc[df_dataset["U_DPTO"] == 95, "Nom_DPTO"] = "Guaviare"
df_dataset.loc[df_dataset["U_DPTO"] == 41, "Nom_DPTO"] = "Huila"
df_dataset.loc[df_dataset["U_DPTO"] == 44, "Nom_DPTO"] = "La Guajira"
df_dataset.loc[df_dataset["U_DPTO"] == 47, "Nom_DPTO"] = "Magdalena"
df_dataset.loc[df_dataset["U_DPTO"] == 50, "Nom_DPTO"] = "Meta"
df_dataset.loc[df_dataset["U_DPTO"] == 52, "Nom_DPTO"] = "Narino"
df_dataset.loc[df_dataset["U_DPTO"] == 54, "Nom_DPTO"] = "Norte de Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 86, "Nom_DPTO"] = "Putumayo"
df_dataset.loc[df_dataset["U_DPTO"] == 63, "Nom_DPTO"] = "Quindio"
df_dataset.loc[df_dataset["U_DPTO"] == 66, "Nom_DPTO"] = "Risaralda"
df_dataset.loc[df_dataset["U_DPTO"] == 88, "Nom_DPTO"] = "SAPC"
df_dataset.loc[df_dataset["U_DPTO"] == 68, "Nom_DPTO"] = "Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 70, "Nom_DPTO"] = "Sucre"
df_dataset.loc[df_dataset["U_DPTO"] == 73, "Nom_DPTO"] = "Tolima"
df_dataset.loc[df_dataset["U_DPTO"] == 76, "Nom_DPTO"] = "Valle del Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 97, "Nom_DPTO"] = "Vaupes"
df_dataset.loc[df_dataset["U_DPTO"] == 99, "Nom_DPTO"] = "Vichada"
df_dataset

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO
0,19,1,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,Cauca
1,19,1,2,4,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Cauca
2,19,1,2,7,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,Cauca
3,19,1,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,Cauca
4,19,1,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,Cauca
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca
8575994,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca
8575995,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca
8575996,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca
8575997,76,895,1,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca

## Se inicia con el pre-procesamiento de la columna P_SEXO

In [6]:
df_dataset = df_dataset.sort_values('P_SEXO') #Organiza la lista en orden ascendente
Per_Sexo = df_dataset['P_SEXO'].unique() #Se verifican los valores que hay en la columna P_SEXO
print(Per_Sexo) #Se imprime
for per_sexo in Per_Sexo:
    empty_array = np.empty([len(df_dataset),1]) #Se crea un array vacío de las dimensión del dataset x 1
    empty_array[:] = np.nan #Se asigna todo el arreglo como nulo
    df_dataset[per_sexo] = empty_array #Se agregan las nuevas columnas
    s_aux = (df_dataset.P_SEXO == per_sexo).astype(int) #Teniendo en cuenta el valor de P_SEXO del dataset
    #se realiza una comparación con el valor de per_sexo, si este valor coincide se guarda un 1, en caso de que no coincida
    #Se guarda un cero. 
    df_dataset[per_sexo][s_aux.index] = s_aux.values #En la respectiva columna de per_sexo del dataset
    #en cada una de las filas guardadas en s_aux se asigna el valor correspondiente; 0 en caso de que en esa fila no haya 
    #cumplido la comparación de la sentencia anterior, y 1 de que la comparación fue verdadera. 

df_dataset = df_dataset.sort_index(ascending=True)
df_dataset #Se imprime el dataset

[1 2]

<ipython-input-6-18dcb7e7afdd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[per_sexo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-6-18dcb7e7afdd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[per_sexo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,1,2
0,19,1,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,1,0
1,19,1,2,4,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,0,1
2,19,1,2,7,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,0,1
3,19,1,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,1,0
4,19,1,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575994,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575995,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,0
8575996,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575997,76,895,1,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0

In [7]:
df_dataset.rename(columns = {1: "Per_Hombre", 2: "Per_Mujer"}, inplace = True) #Se renombran las columnas
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer
0,19,1,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,1,0
1,19,1,2,4,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,0,1
2,19,1,2,7,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,0,1
3,19,1,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,1,0
4,19,1,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575994,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575995,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,0
8575996,76,895,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575997,76,895,1,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0

In [8]:
df_dataset.drop(["P_SEXO"],axis = "columns",inplace=True) #Se elimina la columna P_SEXO
df_dataset

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer
0,19,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,1,0
1,19,1,4,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,0,1
2,19,1,7,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,0,1
3,19,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,1,0
4,19,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575994,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575995,76,895,3,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,0
8575996,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0
8575997,76,895,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,0

## Se inicia con el pre-procesamiento de la columna P_EDADR

In [9]:
#Se realiza el mismo procedimiento que para la columna P_SEXO pero ahora para la columna P_EDADR
df_dataset = df_dataset.sort_values('P_EDADR') #Organiza la lista en orden ascendente
Edad_P = df_dataset['P_EDADR'].unique()
print(Edad_P)
for edad_p in Edad_P:
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[edad_p] = empty_array
    s_aux = (df_dataset.P_EDADR == edad_p).astype(int)
    df_dataset[edad_p][s_aux.index] = s_aux.values

df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-9-030bc518388f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,...,12,13,14,15,16,17,18,19,20,21
0,19,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,...,1,0,0,0,0,0,0,0,0,0
1,19,1,4,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,19,1,7,6,NaN,NaN,NaN,NaN,1.0,9.0,...,0,0,0,0,0,0,0,0,0,0
3,19,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,...,0,0,0,0,0,0,0,0,0,0
4,19,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,3,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8575996,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,2,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1:'Per_edad_0 a 4', 2:'Per_edad_5 a 9', 3:'Per_edad_10 a 14', 4:'Per_edad_15 a 19',
                            5:'Per_edad_20 a 24', 6:'Per_edad_25 a 29', 7:'Per_edad_30 a 34', 8:'Per_edad_35 a 39',
                            9:'Per_edad_40 a 44', 10:'Per_edad_45 a 49',11:'Per_edad_50 a 54',
                            12:'Per_edad_55 a 59',13:'Per_edad_Mas de 60',}, inplace = True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,...,Per_edad_55 a 59,Per_edad_Mas de 60,14,15,16,17,18,19,20,21
0,19,1,12,6,NaN,NaN,NaN,NaN,1.0,4.0,...,1,0,0,0,0,0,0,0,0,0
1,19,1,4,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,19,1,7,6,NaN,NaN,NaN,NaN,1.0,9.0,...,0,0,0,0,0,0,0,0,0,0
3,19,1,6,6,NaN,NaN,NaN,NaN,1.0,8.0,...,0,0,0,0,0,0,0,0,0,0
4,19,1,10,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,3,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8575996,76,895,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,2,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
for x in range(14,22):
    df_dataset.loc[df_dataset[x] == 1,"Per_edad_Mas de 60"] = 1 #Para los grupos quinquenales de 60 años en adelante se hace la asignación
    #Para que se asignen en la columna de Per_edad_Mas de 60
    df_dataset.drop([x],axis = "columns",inplace=True) #Se elimina la columna
df_dataset.drop(["P_EDADR"],axis = "columns",inplace=True) #Se elimina la columna 
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,Per_edad_15 a 19,Per_edad_20 a 24,Per_edad_25 a 29,Per_edad_30 a 34,Per_edad_35 a 39,Per_edad_40 a 44,Per_edad_45 a 49,Per_edad_50 a 54,Per_edad_55 a 59,Per_edad_Mas de 60
0,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,...,0,0,0,0,0,0,0,0,1,0
1,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,1,0,0,0,0,0,0,0,0,0
2,19,1,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,...,0,0,0,1,0,0,0,0,0,0
3,19,1,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,...,0,0,1,0,0,0,0,0,0,0
4,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8575996,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0

## Se inicia con el preprocesamiento de la columna PA1_GRP_ETNIC

In [12]:
#Se realiza el mismo procedimiento de la columna P_SEXO pero ahora con PA1_GRP_ETNIC
df_dataset = df_dataset.sort_values('PA1_GRP_ETNIC') #Organiza la lista en orden ascendente
Grup_Etn = df_dataset['PA1_GRP_ETNIC'].unique()
print(Grup_Etn)
for grup_etn in Grup_Etn:
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[grup_etn] = empty_array
    s_aux = (df_dataset.PA1_GRP_ETNIC == grup_etn).astype(int)
    df_dataset[grup_etn][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[1 2 3 4 5 6 9]

<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-12-2a9cb25b1f8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,Per_edad_50 a 54,Per_edad_55 a 59,Per_edad_Mas de 60,1,2,3,4,5,6,9
0,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,...,0,1,0,0,0,0,0,0,1,0
1,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,0,0,0,0,0,0,0,0,1,0
2,19,1,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,19,1,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,...,0,0,0,0,0,0,0,0,1,0
4,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575994,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575995,76,895,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575996,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575997,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0

In [13]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Indigena", 2: "Gitano o Rrom", 3:"Raizal del Archi SAPSC",
                             4:"Palenquero de San Basilio", 5:"Negro, mulato, afrodescendiente, afrocolombiano", 
                             6:"Ningun grupo etnico",9 :"No informa grupo etnico"}, inplace = True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,Per_edad_50 a 54,Per_edad_55 a 59,Per_edad_Mas de 60,Indigena,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa grupo etnico
0,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,5.0,...,0,1,0,0,0,0,0,0,1,0
1,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,0,0,0,0,0,0,0,0,1,0
2,19,1,6,NaN,NaN,NaN,NaN,1.0,9.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,19,1,6,NaN,NaN,NaN,NaN,1.0,8.0,1.0,...,0,0,0,0,0,0,0,0,1,0
4,19,1,6,NaN,NaN,NaN,NaN,1.0,4.0,1.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575994,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575995,76,895,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575996,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
8575997,76,895,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0

In [14]:
df_dataset.drop(["PA1_GRP_ETNIC"],axis = "columns",inplace=True) #Se elimina la columna
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,Per_edad_50 a 54,Per_edad_55 a 59,Per_edad_Mas de 60,Indigena,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa grupo etnico
0,19,1,NaN,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,...,0,1,0,0,0,0,0,0,1,0
1,19,1,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,...,0,0,0,0,0,0,0,0,1,0
2,19,1,NaN,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,...,0,0,0,0,0,0,0,0,1,0
3,19,1,NaN,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,...,0,0,0,0,0,0,0,0,1,0
4,19,1,NaN,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,0,0,0,0,1,0
8575994,76,895,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,0,0,0,0,1,0
8575995,76,895,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,...,0,0,0,0,0,0,0,0,1,0
8575996,76,895,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,0,0,0,0,1,0
8575997,76,895,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,0,0,0,0,1,0

## Se inicia con el preprocesamiento de la columna PA_HABLA_LENG

In [15]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PA_HABLA_LENG'] = df_dataset.PA_HABLA_LENG.replace(np.nan,99)

In [16]:
#Se realiza el mismo procedimiento de la columna P_SEXO pero ahora para PA_HABLA_LENG
df_dataset = df_dataset.sort_values('PA_HABLA_LENG') #Organiza la lista en orden ascendente
Leng_Nat = df_dataset['PA_HABLA_LENG'].unique()
print(Leng_Nat)
for leng_nat in Leng_Nat :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[leng_nat] = empty_array
    s_aux = (df_dataset.PA_HABLA_LENG == leng_nat).astype(int)
    df_dataset[leng_nat][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  9. 99.]

<ipython-input-16-475f44b58c3c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-16-475f44b58c3c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-16-475f44b58c3c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-16-475f44b58c3c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa grupo etnico,1.0,2.0,9.0,99.0
0,19,1,99.0,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
1,19,1,99.0,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
2,19,1,99.0,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
3,19,1,99.0,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
4,19,1,99.0,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575994,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575995,76,895,99.0,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575996,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575997,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1

In [17]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Habla lengua Nativa", 2: "No habla lengua nativa",9:"No informa lengua nativa",99:"No aplica lengua nativa"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa grupo etnico,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa
0,19,1,99.0,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
1,19,1,99.0,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
2,19,1,99.0,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
3,19,1,99.0,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
4,19,1,99.0,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575994,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575995,76,895,99.0,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575996,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1
8575997,76,895,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,...,0,0,0,0,1,0,0,0,0,1

In [18]:
df_dataset.drop(["PA_HABLA_LENG"],axis = "columns",inplace=True) #Se elimina la columna PA_HABLA_LENG
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa grupo etnico,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa
0,19,1,NaN,NaN,NaN,1.0,4.0,5.0,Cauca,1,...,0,0,0,0,1,0,0,0,0,1
1,19,1,NaN,NaN,NaN,1.0,4.0,6.0,Cauca,0,...,0,0,0,0,1,0,0,0,0,1
2,19,1,NaN,NaN,NaN,1.0,9.0,1.0,Cauca,0,...,0,0,0,0,1,0,0,0,0,1
3,19,1,NaN,NaN,NaN,1.0,8.0,1.0,Cauca,1,...,0,0,0,0,1,0,0,0,0,1
4,19,1,NaN,NaN,NaN,1.0,4.0,1.0,Cauca,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,0,0,0,0,1,0,0,0,0,1
8575994,76,895,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,0,0,0,0,1,0,0,0,0,1
8575995,76,895,NaN,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,...,0,0,0,0,1,0,0,0,0,1
8575996,76,895,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,0,0,0,0,1,0,0,0,0,1
8575997,76,895,NaN,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,0,0,0,0,1,0,0,0,0,1

## Se inicia con el preprocesamiento de la columna PB_OTRAS_LENG

In [19]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PB_OTRAS_LENG'] = df_dataset.PB_OTRAS_LENG.replace(np.nan,99)

In [20]:
#Se realiza el mismo procedimiento de P_SEXO pero ahora para la columna PB_OTRAS_LENG
df_dataset = df_dataset.sort_values('PB_OTRAS_LENG') #Organiza la lista en orden ascendente
Otra_Leng = df_dataset['PB_OTRAS_LENG'].unique()
print(Otra_Leng)
for otra_leng in Otra_Leng :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[otra_leng] = empty_array
    s_aux = (df_dataset.PB_OTRAS_LENG == otra_leng).astype(int)
    df_dataset[otra_leng][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  9. 99.]

<ipython-input-20-b3aaa86fbc94>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-20-b3aaa86fbc94>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-20-b3aaa86fbc94>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-20-b3aaa86fbc94>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,...,Ningun grupo etnico,No informa grupo etnico,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,1.0,2.0,9.0,99.0
0,19,1,99.0,NaN,NaN,1.0,4.0,5.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
1,19,1,99.0,NaN,NaN,1.0,4.0,6.0,Cauca,0,...,1,0,0,0,0,1,0,0,0,1
2,19,1,99.0,NaN,NaN,1.0,9.0,1.0,Cauca,0,...,1,0,0,0,0,1,0,0,0,1
3,19,1,99.0,NaN,NaN,1.0,8.0,1.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
4,19,1,99.0,NaN,NaN,1.0,4.0,1.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575994,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575995,76,895,99.0,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575996,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575997,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1

In [21]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Habla otra lengua", 2: "No habla otra lengua",9:"No informa otra lengua",99:"No aplica otra lengua"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,...,Ningun grupo etnico,No informa grupo etnico,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua
0,19,1,99.0,NaN,NaN,1.0,4.0,5.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
1,19,1,99.0,NaN,NaN,1.0,4.0,6.0,Cauca,0,...,1,0,0,0,0,1,0,0,0,1
2,19,1,99.0,NaN,NaN,1.0,9.0,1.0,Cauca,0,...,1,0,0,0,0,1,0,0,0,1
3,19,1,99.0,NaN,NaN,1.0,8.0,1.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
4,19,1,99.0,NaN,NaN,1.0,4.0,1.0,Cauca,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575994,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575995,76,895,99.0,NaN,NaN,1.0,3.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575996,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1
8575997,76,895,99.0,NaN,NaN,1.0,2.0,NaN,Valle del Cauca,1,...,1,0,0,0,0,1,0,0,0,1

In [22]:
#Se elimina la columna PB_OTRAS_LENG
#Se elimina también la columna PB1_QOTRAS_LENG (numero de otras lenguas nativas) debido a que en la mayoria de filas son nulas
df_dataset.drop(["PB_OTRAS_LENG","PB1_QOTRAS_LENG"],axis = "columns",inplace=True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,...,Ningun grupo etnico,No informa grupo etnico,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua
0,19,1,NaN,1.0,4.0,5.0,Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
1,19,1,NaN,1.0,4.0,6.0,Cauca,0,1,0,...,1,0,0,0,0,1,0,0,0,1
2,19,1,NaN,1.0,9.0,1.0,Cauca,0,1,0,...,1,0,0,0,0,1,0,0,0,1
3,19,1,NaN,1.0,8.0,1.0,Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
4,19,1,NaN,1.0,4.0,1.0,Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,NaN,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
8575994,76,895,NaN,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
8575995,76,895,NaN,1.0,3.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
8575996,76,895,NaN,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1
8575997,76,895,NaN,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,0,1,0,0,0,1

## Se descarta el pre-procesamiento de la columna PB1_QOTRAS_LENG debido a que contiene demasiadas filas nulas

In [23]:
#Discutir
#Reemplazar datos nulos por 99 (No Aplica)
#df_dataset['PB1_QOTRAS_LENG'] = df_dataset.PB1_QOTRAS_LENG.replace(np.nan,99)

In [24]:
# df_dataset = df_dataset.sort_values('PB1_QOTRAS_LENG') #Organiza la lista en orden ascendente
# Otras_Leng = df_dataset['PB1_QOTRAS_LENG'].unique()
# print(Otras_Leng)
# for otras_leng in Otras_Leng :
#     empty_array = np.empty([len(df_dataset),1])
#     empty_array[:] = np.nan
#     df_dataset[otras_leng] = empty_array
# #for vivienda,num_viv in TIP_VIV.items():
#     s_aux = (df_dataset.PB1_QOTRAS_LENG == otras_leng).astype(int)
#     df_dataset[otras_leng][s_aux.index] = s_aux.values
    
# df_dataset = df_dataset.sort_index(ascending=True)
# df_dataset

In [25]:
# df_dataset.rename(columns = {1: "1_OLN", 2: "2_OLN",3:"Mas_de_2_OLN",9:"No informa Otra lengua",99:"No aplica otra lengua"}, inplace = True)
# df_dataset

In [26]:
# for x in range(3,9):
#     df_dataset.loc[df_dataset[x] == 1,"Mas_de_2_OLN"] = 1
#     df_dataset.drop([x],axis = "columns",inplace=True)
# df_dataset.drop(["PB1_QOTRAS_LENG"],axis = "columns",inplace=True)
# df_dataset

## Se inicia con el preprocesamiento de la columna PA1_CALIDAD_SERV

In [27]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PA1_CALIDAD_SERV'] = df_dataset.PA1_CALIDAD_SERV.replace(np.nan,99)

In [28]:
#Se realiza el mismo procedimiento de la columna P_SEXO pero ahora para PA1_CALIDAD_SERV
df_dataset = df_dataset.sort_values('PA1_CALIDAD_SERV') #Organiza la lista en orden ascendente
Cal_Serv = df_dataset['PA1_CALIDAD_SERV'].unique()
print(Cal_Serv)
for cal_serv in Cal_Serv :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[cal_serv] = empty_array
    s_aux = (df_dataset.PA1_CALIDAD_SERV == cal_serv).astype(int)
    df_dataset[cal_serv][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  3.  4. 99.]

<ipython-input-28-34a0e9a2c278>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-28-34a0e9a2c278>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-28-34a0e9a2c278>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-28-34a0e9a2c278>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-28-34a0e9a2c278>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,1.0,2.0,3.0,4.0,99.0
0,19,1,99.0,1.0,4.0,5.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
1,19,1,99.0,1.0,4.0,6.0,Cauca,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,19,1,99.0,1.0,9.0,1.0,Cauca,0,1,0,...,1,0,0,0,1,0,0,0,0,1
3,19,1,99.0,1.0,8.0,1.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
4,19,1,99.0,1.0,4.0,1.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575994,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575995,76,895,99.0,1.0,3.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575996,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575997,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [29]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset de personas proveído por el DANE
df_dataset.rename(columns = {1: "CSS muy bueno", 2: "CSS bueno",3:"CSS malo",4:"CSS muy malo",9:"CSS No informa",99:"CSS No Aplica"}, inplace = True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,CSS muy bueno,CSS bueno,CSS malo,CSS muy malo,CSS No Aplica
0,19,1,99.0,1.0,4.0,5.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
1,19,1,99.0,1.0,4.0,6.0,Cauca,0,1,0,...,1,0,0,0,1,0,0,0,0,1
2,19,1,99.0,1.0,9.0,1.0,Cauca,0,1,0,...,1,0,0,0,1,0,0,0,0,1
3,19,1,99.0,1.0,8.0,1.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
4,19,1,99.0,1.0,4.0,1.0,Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575994,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575995,76,895,99.0,1.0,3.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575996,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1
8575997,76,895,99.0,1.0,2.0,NaN,Valle del Cauca,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [30]:
df_dataset.drop(["PA1_CALIDAD_SERV"],axis = "columns",inplace=True) #Se elimina la columna
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,CSS muy bueno,CSS bueno,CSS malo,CSS muy malo,CSS No Aplica
0,19,1,1.0,4.0,5.0,Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,19,1,1.0,4.0,6.0,Cauca,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
2,19,1,1.0,9.0,1.0,Cauca,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
3,19,1,1.0,8.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
4,19,1,1.0,4.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
8575994,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
8575995,76,895,1.0,3.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
8575996,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
8575997,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1

## Se inicia con el pre-procesamiento de la columna P_ALFABETA

In [31]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['P_ALFABETA'] = df_dataset.P_ALFABETA.replace(np.nan,99)

In [32]:
#Se realiza el mismo procedimiento que para P_SEXO pero ahora para la columna P_ALFABETA
df_dataset = df_dataset.sort_values('P_ALFABETA') #Organiza la lista en orden ascendente
Alfabeta = df_dataset['P_ALFABETA'].unique()
print(Alfabeta)
for alfabeta in Alfabeta :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[alfabeta] = empty_array
    s_aux = (df_dataset.P_ALFABETA == alfabeta).astype(int)
    df_dataset[alfabeta][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  9. 99.]

<ipython-input-32-8f0fea91e213>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[alfabeta][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-32-8f0fea91e213>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[alfabeta][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-32-8f0fea91e213>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[alfabeta][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-32-8f0fea91e213>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[alfabeta][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,...,No aplica otra lengua,CSS muy bueno,CSS bueno,CSS malo,CSS muy malo,CSS No Aplica,1.0,2.0,9.0,99.0
0,19,1,1.0,4.0,5.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1,19,1,1.0,4.0,6.0,Cauca,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
2,19,1,1.0,9.0,1.0,Cauca,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
3,19,1,1.0,8.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,19,1,1.0,4.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575994,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575995,76,895,1.0,3.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575996,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575997,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,1,...,1,0,0,0,0,1,1,0,0,0

In [33]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Lee_y_Escribe", 2: "NoLee_y_Escribe",9:"No_informa_Alfabeta",99:"No Aplica P_ALFABETA"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,...,No aplica otra lengua,CSS muy bueno,CSS bueno,CSS malo,CSS muy malo,CSS No Aplica,Lee_y_Escribe,NoLee_y_Escribe,No_informa_Alfabeta,No Aplica P_ALFABETA
0,19,1,1.0,4.0,5.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1,19,1,1.0,4.0,6.0,Cauca,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
2,19,1,1.0,9.0,1.0,Cauca,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
3,19,1,1.0,8.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,19,1,1.0,4.0,1.0,Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575994,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575995,76,895,1.0,3.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575996,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
8575997,76,895,1.0,2.0,NaN,Valle del Cauca,1,0,0,1,...,1,0,0,0,0,1,1,0,0,0

In [34]:
df_dataset.drop(["P_ALFABETA"],axis = "columns",inplace=True) #Se elimina la columna P_ALFABETA
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,...,No aplica otra lengua,CSS muy bueno,CSS bueno,CSS malo,CSS muy malo,CSS No Aplica,Lee_y_Escribe,NoLee_y_Escribe,No_informa_Alfabeta,No Aplica P_ALFABETA
0,19,1,4.0,5.0,Cauca,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1,19,1,4.0,6.0,Cauca,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
2,19,1,9.0,1.0,Cauca,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0
3,19,1,8.0,1.0,Cauca,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,19,1,4.0,1.0,Cauca,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
8575994,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
8575995,76,895,3.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
8575996,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
8575997,76,895,2.0,NaN,Valle del Cauca,1,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0

## Se inicia con el pre-procesamiento de la columna P_NIVEL_ANOSR

In [35]:
#Reemplazar datos nulos por 999 (No Aplica)
df_dataset['P_NIVEL_ANOSR'] = df_dataset.P_NIVEL_ANOSR.replace(np.nan,999)

In [36]:
#Se realiza el mismo procedimiento de la columna P_SEXO pero ahora para la columna P_NIVEL_ANOSR
df_dataset = df_dataset.sort_values('P_NIVEL_ANOSR') #Organiza la lista en orden ascendente
Nivel_Anos = df_dataset['P_NIVEL_ANOSR'].unique()
print(Nivel_Anos)
for nivel_anos in Nivel_Anos :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[nivel_anos] = empty_array
    s_aux = (df_dataset.P_NIVEL_ANOSR == nivel_anos).astype(int)
    df_dataset[nivel_anos][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  99. 999.]

<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-36-80825d5247c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[nivel_anos][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,...,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,99.0,999.0
0,19,1,4.0,5.0,Cauca,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,19,1,4.0,6.0,Cauca,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,19,1,9.0,1.0,Cauca,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,19,1,8.0,1.0,Cauca,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,19,1,4.0,1.0,Cauca,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,3.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
8575996,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,2.0,NaN,Valle del Cauca,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Preescolar", 2:"Primaria",3:"Secundaria",4:"Media_Academica",5:"Media_tecnica",
                             6:"Normalista",7:"Tecnica_Profesional",8:"Universitario",9:"Posgrado",
                             10:"Ninguno",99:"No_inf_escolaridad",999:"No Aplica P_NIVEL_ANOSR"}, inplace = True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,...,Secundaria,Media_Academica,Media_tecnica,Normalista,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR
0,19,1,4.0,5.0,Cauca,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,19,1,4.0,6.0,Cauca,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,19,1,9.0,1.0,Cauca,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,19,1,8.0,1.0,Cauca,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,19,1,4.0,1.0,Cauca,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,3.0,NaN,Valle del Cauca,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
8575996,76,895,2.0,NaN,Valle del Cauca,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,2.0,NaN,Valle del Cauca,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_dataset.drop(["P_NIVEL_ANOSR"],axis = "columns",inplace=True) #Se elimina la columna P_NIVEL_ANOSR
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,...,Secundaria,Media_Academica,Media_tecnica,Normalista,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR
0,19,1,5.0,Cauca,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,19,1,6.0,Cauca,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,19,1,1.0,Cauca,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,19,1,1.0,Cauca,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,19,1,1.0,Cauca,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,NaN,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8575994,76,895,NaN,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8575995,76,895,NaN,Valle del Cauca,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
8575996,76,895,NaN,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8575997,76,895,NaN,Valle del Cauca,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Se inicia con el pre-procesamiento de la columna P_TRABAJO

In [39]:
#Reemplazar datos nulos por 999 (No Aplica)
df_dataset['P_TRABAJO'] = df_dataset.P_TRABAJO.replace(np.nan,999)

In [40]:
#Se realiza el mismo procedimiento de la columna P_SEXO pero ahora para la columna P_TRABAJO
df_dataset = df_dataset.sort_values('P_TRABAJO') #Organiza la lista en orden ascendente
Trabajo = df_dataset['P_TRABAJO'].unique()
print(Trabajo)
for trabajo in Trabajo :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[trabajo] = empty_array
    s_aux = (df_dataset.P_TRABAJO == trabajo).astype(int)
    df_dataset[trabajo][s_aux.index] = s_aux.values
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[  0.   1.   2.   3.   4.   5.   6.   7.   8.   9. 999.]

<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-a20d870a0984>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[trabajo][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,...,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,999.0
0,19,1,5.0,Cauca,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,19,1,6.0,Cauca,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,19,1,1.0,Cauca,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575994,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575995,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575996,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575997,76,895,999.0,Valle del Cauca,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
#Se renombran las columnas teniendo en cuenta el diccionario de datos del dataset personas proveído por el DANE
df_dataset.rename(columns = {1: "Recibe ingresos", 2:"No recibe ingresos",0:"No informa ingresos",999:"No Aplica ingresos"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,...,Recibe ingresos,No recibe ingresos,3.0,4.0,5.0,6.0,7.0,8.0,9.0,No Aplica ingresos
0,19,1,5.0,Cauca,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,19,1,6.0,Cauca,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,19,1,1.0,Cauca,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575994,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575995,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575996,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575997,76,895,999.0,Valle del Cauca,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [42]:
#De acuerdo al diccionario de datos del dataset personas proveído por el DANE se realizan las asignaciones correspondientes
df_dataset.loc[df_dataset[3] == 1, 'Recibe ingresos'] = 1
df_dataset.loc[df_dataset[5] == 1, 'Recibe ingresos'] = 1
df_dataset.loc[df_dataset[4] == 1, 'No recibe ingresos'] = 1
df_dataset.loc[df_dataset[6] == 1, 'No recibe ingresos'] = 1
df_dataset.loc[df_dataset[7] == 1, 'No recibe ingresos'] = 1
df_dataset.loc[df_dataset[8] == 1, 'No recibe ingresos'] = 1
df_dataset.loc[df_dataset[9] == 1, 'No recibe ingresos'] = 1
df_dataset

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,...,Recibe ingresos,No recibe ingresos,3.0,4.0,5.0,6.0,7.0,8.0,9.0,No Aplica ingresos
0,19,1,5.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,19,1,6.0,Cauca,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
2,19,1,1.0,Cauca,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,19,1,1.0,Cauca,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575994,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575995,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575996,76,895,999.0,Valle del Cauca,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8575997,76,895,999.0,Valle del Cauca,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [43]:
for x in range(3,10):
    df_dataset.drop([x],axis = "columns",inplace=True) #Se elimina la columna
df_dataset.drop(["P_TRABAJO"],axis = "columns",inplace=True)
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,Per_edad_20 a 24,...,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR,No informa ingresos,Recibe ingresos,No recibe ingresos,No Aplica ingresos
0,19,1,Cauca,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,19,1,Cauca,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,19,1,Cauca,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,19,1,Cauca,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,19,1,Cauca,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575993,76,895,Valle del Cauca,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8575994,76,895,Valle del Cauca,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8575995,76,895,Valle del Cauca,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8575996,76,895,Valle del Cauca,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8575997,76,895,Valle del Cauca,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Suma de valores de columnas

In [44]:
df_dataset.isnull().sum() #Se verifica cuántas filas en nulo tiene cada columna del dataset

U_DPTO                                             0
U_MPIO                                             0
Nom_DPTO                                           0
Per_Hombre                                         0
Per_Mujer                                          0
Per_edad_0 a 4                                     0
Per_edad_5 a 9                                     0
Per_edad_10 a 14                                   0
Per_edad_15 a 19                                   0
Per_edad_20 a 24                                   0
Per_edad_25 a 29                                   0
Per_edad_30 a 34                                   0
Per_edad_35 a 39                                   0
Per_edad_40 a 44                                   0
Per_edad_45 a 49                                   0
Per_edad_50 a 54                                   0
Per_edad_55 a 59                                   0
Per_edad_Mas de 60                                 0
Indigena                                           0
Gitano o Rrom                                      0
Raizal del Archi SAPSC                             0
Palenquero de San Basilio                          0
Negro, mulato, afrodescendiente, afrocolombiano    0
Ningun grupo etnico                                0
No informa grupo etnico                            0
Habla lengua Nativa                                0
No habla lengua nativa                             0
No informa lengua nativa                           0
No aplica lengua nativa                            0
Habla otra lengua                                  0
No habla otra lengua                               0
No informa otra lengua                             0
No aplica otra lengua                              0
CSS muy bueno                                      0
CSS bueno                                          0
CSS malo                                           0
CSS muy malo                                       0
CSS No Aplica                                      0
Lee_y_Escribe                                      0
NoLee_y_Escribe                                    0
No_informa_Alfabeta                                0
No Aplica P_ALFABETA                               0
Preescolar                                         0
Primaria                                           0
Secundaria                                         0
Media_Academica                                    0
Media_tecnica                                      0
Normalista                                         0
Tecnica_Profesional                                0
Universitario                                      0
Posgrado                                           0
Ninguno                                            0
No_inf_escolaridad                                 0
No Aplica P_NIVEL_ANOSR                            0
No informa ingresos                                0
Recibe ingresos                                    0
No recibe ingresos                                 0
No Aplica ingresos                                 0
dtype: int64

In [45]:
#El propósito de las siguientes líneas, es revisar cuántos municipios hay.
df_agrup_per = df_dataset.drop_duplicates(subset=['U_DPTO','U_MPIO'],keep='last', inplace=False) #Se borran todas las filas
#En las cuales los municipios están duplicados
df_agrup_per.reset_index(drop=True, inplace=True)#Se reinicia el index, con el fin de que el número de cada fila quede ordenado
df_agrup_per#Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,Per_edad_20 a 24,...,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR,No informa ingresos,Recibe ingresos,No recibe ingresos,No Aplica ingresos
0,19,1,Cauca,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,19,22,Cauca,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,19,50,Cauca,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,19,75,Cauca,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,19,100,Cauca,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,76,863,Valle del Cauca,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
209,76,869,Valle del Cauca,1,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
210,76,890,Valle del Cauca,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
211,76,892,Valle del Cauca,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
212,76,895,Valle del Cauca,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
val_per_mun = df_agrup_per['U_MPIO'] #Se guardan los valores de la columna U_MPIO
val_per_dpto = df_agrup_per['U_DPTO'] #Se guardan los valores de la columna U_DPTO
vect_A = [] #Se crea un vector vacío
vect_B = [] #Se crea un vector vacío
vect_C = [] #Se crea un vector vacío
vect_D = [] #Se crea un vector vacío
vect_E = [] #Se crea un vector vacío
vect_F = [] #Se crea un vector vacío
vect_G = [] #Se crea un vector vacío
vect_H = [] #Se crea un vector vacío
vect_I = [] #Se crea un vector vacío
vect_J = [] #Se crea un vector vacío
vect_K = [] #Se crea un vector vacío
vect_L = [] #Se crea un vector vacío
vect_M = [] #Se crea un vector vacío
vect_N = [] #Se crea un vector vacío
vect_O = [] #Se crea un vector vacío
vect_P = [] #Se crea un vector vacío
vect_Q = [] #Se crea un vector vacío
vect_R = [] #Se crea un vector vacío
vect_S = [] #Se crea un vector vacío
vect_T = [] #Se crea un vector vacío
vect_U = [] #Se crea un vector vacío
vect_V = [] #Se crea un vector vacío
vect_W = [] #Se crea un vector vacío
vect_X = [] #Se crea un vector vacío
vect_Y = [] #Se crea un vector vacío
vect_Z = [] #Se crea un vector vacío
vect_A2 = [] #Se crea un vector vacío
vect_B2 = [] #Se crea un vector vacío
vect_C2 = [] #Se crea un vector vacío
vect_D2 = [] #Se crea un vector vacío
vect_E2 = [] #Se crea un vector vacío
vect_F2 = [] #Se crea un vector vacío
vect_G2 = [] #Se crea un vector vacío
vect_H2 = [] #Se crea un vector vacío
#vect_I2 = [] #Se crea un vector vacío
vect_J2 = [] #Se crea un vector vacío
vect_K2 = [] #Se crea un vector vacío
vect_L2 = [] #Se crea un vector vacío
vect_M2 = [] #Se crea un vector vacío
vect_N2 = [] #Se crea un vector vacío
vect_O2 = [] #Se crea un vector vacío
vect_P2 = [] #Se crea un vector vacío
vect_Q2 = [] #Se crea un vector vacío
vect_R2 = [] #Se crea un vector vacío
vect_S2 = [] #Se crea un vector vacío
vect_T2 = [] #Se crea un vector vacío
vect_U2 = [] #Se crea un vector vacío
vect_V2 = [] #Se crea un vector vacío
vect_W2 = [] #Se crea un vector vacío
vect_X2 = [] #Se crea un vector vacío
vect_Y2 = [] #Se crea un vector vacío
vect_Z2 = [] #Se crea un vector vacío
vect_A3 = [] #Se crea un vector vacío
vect_B3 = [] #Se crea un vector vacío
vect_C3 = [] #Se crea un vector vacío
vect_D3 = [] #Se crea un vector vacío

for n_MPIO,n_DPTO in zip(val_per_mun,val_per_dpto): #El ZIP se usa para empezar a asociar cada departamento con el respectivo municipio
    #Se realiza la comparacion entre el número de municipio y el de departamento, en el caso de que sean iguales
    #Se van sumando y se van guardando en un vector según el tipo de vivienda

    vect_A.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_Hombre'].sum())
    vect_B.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_Mujer'].sum())
    vect_C.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_0 a 4'].sum())
    vect_D.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_5 a 9'].sum())
    vect_E.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_10 a 14'].sum())
    vect_F.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_15 a 19'].sum())
    vect_G.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_20 a 24'].sum())
    vect_H.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_25 a 29'].sum())
    vect_I.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_30 a 34'].sum())
    vect_J.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_35 a 39'].sum())
    vect_K.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_40 a 44'].sum())
    vect_L.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_45 a 49'].sum())
    vect_M.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_50 a 54'].sum())
    vect_N.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_55 a 59'].sum())
    vect_O.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Per_edad_Mas de 60'].sum())
    vect_P.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Indigena'].sum())
    vect_Q.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Gitano o Rrom'].sum())
    vect_R.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Raizal del Archi SAPSC'].sum())
    vect_S.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Palenquero de San Basilio'].sum())
    vect_T.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Negro, mulato, afrodescendiente, afrocolombiano'].sum())
    vect_U.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Ningun grupo etnico'].sum())
    vect_V.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No informa grupo etnico'].sum())
    vect_W.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Habla lengua Nativa'].sum())
    vect_X.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No habla lengua nativa'].sum())
    vect_Y.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No informa lengua nativa'].sum())
    vect_Z.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No aplica lengua nativa'].sum())
    vect_A2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Habla otra lengua'].sum())
    vect_B2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No habla otra lengua'].sum())
    vect_C2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No informa otra lengua'].sum())
    vect_D2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No aplica otra lengua'].sum())
    vect_E2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS muy bueno'].sum())
    vect_F2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS bueno'].sum())
    vect_G2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS malo'].sum())
    vect_H2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS muy malo'].sum())
    #vect_I2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS No informa'].sum())
    vect_J2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'CSS No Aplica'].sum())
    vect_K2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Lee_y_Escribe'].sum())
    vect_L2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'NoLee_y_Escribe'].sum())
    vect_M2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No_informa_Alfabeta'].sum())
    vect_N2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No Aplica P_ALFABETA'].sum())
    vect_O2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Preescolar'].sum())
    vect_P2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Primaria'].sum())
    vect_Q2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Secundaria'].sum())
    vect_R2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Media_Academica'].sum())
    vect_S2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Media_tecnica'].sum())
    vect_T2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Normalista'].sum())
    vect_U2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Tecnica_Profesional'].sum())
    vect_V2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Universitario'].sum())
    vect_W2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Posgrado'].sum())
    vect_X2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Ninguno'].sum())
    vect_Y2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No_inf_escolaridad'].sum())
    vect_Z2.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No Aplica P_NIVEL_ANOSR'].sum())
    vect_A3.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Recibe ingresos'].sum())
    vect_B3.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No recibe ingresos'].sum())
    vect_C3.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No informa ingresos'].sum())
    vect_D3.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No Aplica ingresos'].sum())

    
df_agrup_per['Per_Hombre'] = vect_A #En el nuevo dataframe, a cada columna se le asigna el total según corresponda
df_agrup_per['Per_Mujer'] = vect_B
df_agrup_per['Per_edad_0 a 4'] = vect_C
df_agrup_per['Per_edad_5 a 9'] = vect_D
df_agrup_per['Per_edad_10 a 14'] = vect_E
df_agrup_per['Per_edad_15 a 19'] = vect_F
df_agrup_per['Per_edad_20 a 24'] = vect_G
df_agrup_per['Per_edad_25 a 29'] = vect_H
df_agrup_per['Per_edad_30 a 34'] = vect_I
df_agrup_per['Per_edad_35 a 39'] = vect_J
df_agrup_per['Per_edad_40 a 44'] = vect_K
df_agrup_per['Per_edad_45 a 49'] = vect_L
df_agrup_per['Per_edad_50 a 54'] = vect_M
df_agrup_per['Per_edad_55 a 59'] = vect_N
df_agrup_per['Per_edad_Mas de 60'] = vect_O
df_agrup_per['Indigena'] = vect_P
df_agrup_per['Gitano o Rrom'] = vect_Q
df_agrup_per['Raizal del Archi SAPSC'] = vect_R
df_agrup_per['Palenquero de San Basilio'] = vect_S
df_agrup_per['Negro, mulato, afrodescendiente, afrocolombiano'] = vect_T
df_agrup_per['Ningun grupo etnico'] = vect_U
df_agrup_per['No informa grupo etnico'] = vect_V
df_agrup_per['Habla lengua Nativa'] = vect_W
df_agrup_per['No habla lengua nativa'] = vect_X
df_agrup_per['No informa lengua nativa'] = vect_Y
df_agrup_per['No aplica lengua nativa'] = vect_Z
df_agrup_per['Habla otra lengua'] = vect_A2
df_agrup_per['No habla otra lengua'] = vect_B2
df_agrup_per['No informa otra lengua'] = vect_C2
df_agrup_per['No aplica otra lengua'] = vect_D2
df_agrup_per['CSS muy bueno'] = vect_E2
df_agrup_per['CSS bueno'] = vect_F2
df_agrup_per['CSS malo'] = vect_G2
df_agrup_per['CSS muy malo'] = vect_H2
#df_agrup_per['CSS No informa'] = vect_I2
df_agrup_per['CSS No Aplica'] = vect_J2
df_agrup_per['Lee_y_Escribe'] = vect_K2
df_agrup_per['NoLee_y_Escribe'] = vect_L2
df_agrup_per['No_informa_Alfabeta'] = vect_M2
df_agrup_per['No Aplica P_ALFABETA'] = vect_N2
df_agrup_per['Preescolar'] = vect_O2
df_agrup_per['Primaria'] = vect_P2
df_agrup_per['Secundaria'] = vect_Q2
df_agrup_per['Media_Academica'] = vect_R2
df_agrup_per['Media_tecnica'] = vect_S2
df_agrup_per['Normalista'] = vect_T2
df_agrup_per['Tecnica_Profesional'] = vect_U2
df_agrup_per['Universitario'] = vect_V2
df_agrup_per['Posgrado'] = vect_W2
df_agrup_per['Ninguno'] = vect_X2
df_agrup_per['No_inf_escolaridad'] = vect_Y2
df_agrup_per['No Aplica P_NIVEL_ANOSR'] = vect_Z2
df_agrup_per['Recibe ingresos'] = vect_A3
df_agrup_per['No recibe ingresos'] = vect_B3
df_agrup_per['No informa ingresos'] = vect_C3
df_agrup_per['No Aplica ingresos'] = vect_D3
df_agrup_per

<ipython-input-46-4444bf739af7>:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_Hombre'] = vect_A #En el nuevo dataframe, a cada columna se le asigna el total de cada tipo de vivienda
<ipython-input-46-4444bf739af7>:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_Mujer'] = vect_B
<ipython-input-46-4444bf739af7>:124: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_0 a 4'] = vect_C
<ipython-input-46-4444bf739af7>:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_5 a 9'] = vect_D
<ipython-input-46-4444bf739af7>:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_10 a 14'] = vect_E
<ipython-input-46-4444bf739af7>:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_15 a 19'] = vect_F
<ipython-input-46-4444bf739af7>:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_20 a 24'] = vect_G
<ipython-input-46-4444bf739af7>:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_25 a 29'] = vect_H
<ipython-input-46-4444bf739af7>:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_30 a 34'] = vect_I
<ipython-input-46-4444bf739af7>:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_35 a 39'] = vect_J
<ipython-input-46-4444bf739af7>:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_40 a 44'] = vect_K
<ipython-input-46-4444bf739af7>:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_45 a 49'] = vect_L
<ipython-input-46-4444bf739af7>:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_50 a 54'] = vect_M
<ipython-input-46-4444bf739af7>:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_55 a 59'] = vect_N
<ipython-input-46-4444bf739af7>:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Per_edad_Mas de 60'] = vect_O
<ipython-input-46-4444bf739af7>:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Indigena'] = vect_P
<ipython-input-46-4444bf739af7>:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Gitano o Rrom'] = vect_Q
<ipython-input-46-4444bf739af7>:139: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Raizal del Archi SAPSC'] = vect_R
<ipython-input-46-4444bf739af7>:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Palenquero de San Basilio'] = vect_S
<ipython-input-46-4444bf739af7>:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Negro, mulato, afrodescendiente, afrocolombiano'] = vect_T
<ipython-input-46-4444bf739af7>:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Ningun grupo etnico'] = vect_U
<ipython-input-46-4444bf739af7>:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No informa grupo etnico'] = vect_V
<ipython-input-46-4444bf739af7>:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Habla lengua Nativa'] = vect_W
<ipython-input-46-4444bf739af7>:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No habla lengua nativa'] = vect_X
<ipython-input-46-4444bf739af7>:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No informa lengua nativa'] = vect_Y
<ipython-input-46-4444bf739af7>:147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No aplica lengua nativa'] = vect_Z
<ipython-input-46-4444bf739af7>:148: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Habla otra lengua'] = vect_A2
<ipython-input-46-4444bf739af7>:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No habla otra lengua'] = vect_B2
<ipython-input-46-4444bf739af7>:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No informa otra lengua'] = vect_C2
<ipython-input-46-4444bf739af7>:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No aplica otra lengua'] = vect_D2
<ipython-input-46-4444bf739af7>:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['CSS muy bueno'] = vect_E2
<ipython-input-46-4444bf739af7>:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['CSS bueno'] = vect_F2
<ipython-input-46-4444bf739af7>:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['CSS malo'] = vect_G2
<ipython-input-46-4444bf739af7>:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['CSS muy malo'] = vect_H2
<ipython-input-46-4444bf739af7>:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['CSS No Aplica'] = vect_J2
<ipython-input-46-4444bf739af7>:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Lee_y_Escribe'] = vect_K2
<ipython-input-46-4444bf739af7>:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['NoLee_y_Escribe'] = vect_L2
<ipython-input-46-4444bf739af7>:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No_informa_Alfabeta'] = vect_M2
<ipython-input-46-4444bf739af7>:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No Aplica P_ALFABETA'] = vect_N2
<ipython-input-46-4444bf739af7>:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Preescolar'] = vect_O2
<ipython-input-46-4444bf739af7>:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Primaria'] = vect_P2
<ipython-input-46-4444bf739af7>:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Secundaria'] = vect_Q2
<ipython-input-46-4444bf739af7>:165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Media_Academica'] = vect_R2
<ipython-input-46-4444bf739af7>:166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Media_tecnica'] = vect_S2
<ipython-input-46-4444bf739af7>:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Normalista'] = vect_T2
<ipython-input-46-4444bf739af7>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Tecnica_Profesional'] = vect_U2
<ipython-input-46-4444bf739af7>:169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Universitario'] = vect_V2
<ipython-input-46-4444bf739af7>:170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Posgrado'] = vect_W2
<ipython-input-46-4444bf739af7>:171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Ninguno'] = vect_X2
<ipython-input-46-4444bf739af7>:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No_inf_escolaridad'] = vect_Y2
<ipython-input-46-4444bf739af7>:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No Aplica P_NIVEL_ANOSR'] = vect_Z2
<ipython-input-46-4444bf739af7>:174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['Recibe ingresos'] = vect_A3
<ipython-input-46-4444bf739af7>:175: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No recibe ingresos'] = vect_B3
<ipython-input-46-4444bf739af7>:176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_per['No informa ingresos'] = vect_C3

,U_DPTO,U_MPIO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,Per_edad_20 a 24,...,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR,No informa ingresos,Recibe ingresos,No recibe ingresos,No Aplica ingresos
0,19,1,Cauca,133282,143988,17049,18044,19187,22270,25292,...,23666,37041,12882,6503,4941,17049,4267,114740,118992,39271
1,19,22,Cauca,8279,8244,1075,1227,1421,1562,1456,...,215,225,60,1493,86,1075,145,4497,9579,2302
2,19,50,Cauca,10513,9623,1475,1811,1869,2021,1924,...,213,267,77,1368,340,1475,214,7867,8558,3497
3,19,75,Cauca,9513,9397,1341,1420,1796,1767,1711,...,406,274,90,1258,140,1341,272,6933,8940,2765
4,19,100,Cauca,18234,17603,2152,2535,2848,3116,3034,...,645,695,240,2369,188,2152,318,12609,18015,4895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,76,863,Valle del Cauca,3082,3151,346,433,428,513,440,...,234,119,61,441,44,346,95,2367,2992,779
209,76,869,Valle del Cauca,5437,5329,582,718,798,820,822,...,777,376,71,410,114,582,158,4608,4675,1325
210,76,890,Valle del Cauca,7665,7660,859,975,1222,1255,1192,...,1055,612,78,703,71,859,107,6699,6679,1840
211,76,892,Valle del Cauca,46002,49038,5674,6162,7139,7942,8488,...,7733,5458,946,2773,958,5674,1153,43407,38472,12008
212,76,895,Valle del Cauca,18660,20683,2343,2562,2987,3432,3389,...,3091,2572,469,1533,378,2343,445,16735,17215,4948

In [47]:
#Se exporta el dataset
export_dir = 'TG2022_Datos/Departamentos_CSV/Pre_Departamentos_personas_procesado_10.csv' 
df_agrup_per.to_csv(export_dir, index=False, header=True)