# Hogares

In [2]:
#Se importan librerías
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
# Configuración warnings
# ==============================================================================
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_hog.CSV' #Se carga el dataset
df_dataset = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_dataset.isnull().sum() #Se imprimen  la cantidad de filas nulas por cada columna del dataset

U_DPTO                 0
U_MPIO                 0
H_NRO_DORMIT        9606
HA_NRO_FALL     14025567
HA_TOT_PER          9606
dtype: int64

In [4]:
df_dataset #Se imprime el dataset

          U_DPTO  U_MPIO  H_NRO_DORMIT  HA_NRO_FALL  HA_TOT_PER
0             91       1           1.0          NaN         4.0
1             91       1           1.0          NaN         4.0
2             91       1           2.0          NaN         4.0
3             91       1           1.0          NaN         4.0
4             91       1           2.0          NaN         4.0
...          ...     ...           ...          ...         ...
14252824      99     773          99.0          NaN         1.0
14252825      99     773           NaN          NaN         NaN
14252826      99     773           NaN          NaN         NaN
14252827      99     773           NaN          NaN         NaN
14252828      99     773           NaN          NaN         NaN

[14252829 rows x 5 columns]

In [5]:
#Se crea la columna Nom_DPTO a partir de los datos de U_DPTO
df_dataset.loc[df_dataset["U_DPTO"] == 91, "Nom_DPTO"] = "Amazonas"
df_dataset.loc[df_dataset["U_DPTO"] == 5, "Nom_DPTO"] = "Antioquia"
df_dataset.loc[df_dataset["U_DPTO"] == 81, "Nom_DPTO"] = "Arauca"
df_dataset.loc[df_dataset["U_DPTO"] == 8, "Nom_DPTO"] = "Atlantico"
df_dataset.loc[df_dataset["U_DPTO"] == 11, "Nom_DPTO"] = "Bogota D.C"
df_dataset.loc[df_dataset["U_DPTO"] == 13, "Nom_DPTO"] = "Bolivar"
df_dataset.loc[df_dataset["U_DPTO"] == 15, "Nom_DPTO"] = "Boyaca"
df_dataset.loc[df_dataset["U_DPTO"] == 17, "Nom_DPTO"] = "Caldas"
df_dataset.loc[df_dataset["U_DPTO"] == 18, "Nom_DPTO"] = "Caqueta"
df_dataset.loc[df_dataset["U_DPTO"] == 85, "Nom_DPTO"] = "Casanare"
df_dataset.loc[df_dataset["U_DPTO"] == 19, "Nom_DPTO"] = "Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 20, "Nom_DPTO"] = "Cesar"
df_dataset.loc[df_dataset["U_DPTO"] == 27, "Nom_DPTO"] = "Choco"
df_dataset.loc[df_dataset["U_DPTO"] == 23, "Nom_DPTO"] = "Cordoba"
df_dataset.loc[df_dataset["U_DPTO"] == 25, "Nom_DPTO"] = "Cundinamarca"
df_dataset.loc[df_dataset["U_DPTO"] == 94, "Nom_DPTO"] = "Guainia"
df_dataset.loc[df_dataset["U_DPTO"] == 95, "Nom_DPTO"] = "Guaviare"
df_dataset.loc[df_dataset["U_DPTO"] == 41, "Nom_DPTO"] = "Huila"
df_dataset.loc[df_dataset["U_DPTO"] == 44, "Nom_DPTO"] = "La Guajira"
df_dataset.loc[df_dataset["U_DPTO"] == 47, "Nom_DPTO"] = "Magdalena"
df_dataset.loc[df_dataset["U_DPTO"] == 50, "Nom_DPTO"] = "Meta"
df_dataset.loc[df_dataset["U_DPTO"] == 52, "Nom_DPTO"] = "Narino"
df_dataset.loc[df_dataset["U_DPTO"] == 54, "Nom_DPTO"] = "Norte de Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 86, "Nom_DPTO"] = "Putumayo"
df_dataset.loc[df_dataset["U_DPTO"] == 63, "Nom_DPTO"] = "Quindio"
df_dataset.loc[df_dataset["U_DPTO"] == 66, "Nom_DPTO"] = "Risaralda"
df_dataset.loc[df_dataset["U_DPTO"] == 88, "Nom_DPTO"] = "SAPC"
df_dataset.loc[df_dataset["U_DPTO"] == 68, "Nom_DPTO"] = "Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 70, "Nom_DPTO"] = "Sucre"
df_dataset.loc[df_dataset["U_DPTO"] == 73, "Nom_DPTO"] = "Tolima"
df_dataset.loc[df_dataset["U_DPTO"] == 76, "Nom_DPTO"] = "Valle del Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 97, "Nom_DPTO"] = "Vaupes"
df_dataset.loc[df_dataset["U_DPTO"] == 99, "Nom_DPTO"] = "Vichada"
df_dataset

          U_DPTO  U_MPIO  H_NRO_DORMIT  HA_NRO_FALL  HA_TOT_PER  Nom_DPTO
0             91       1           1.0          NaN         4.0  Amazonas
1             91       1           1.0          NaN         4.0  Amazonas
2             91       1           2.0          NaN         4.0  Amazonas
3             91       1           1.0          NaN         4.0  Amazonas
4             91       1           2.0          NaN         4.0  Amazonas
...          ...     ...           ...          ...         ...       ...
14252824      99     773          99.0          NaN         1.0   Vichada
14252825      99     773           NaN          NaN         NaN   Vichada
14252826      99     773           NaN          NaN         NaN   Vichada
14252827      99     773           NaN          NaN         NaN   Vichada
14252828      99     773           NaN          NaN         NaN   Vichada

[14252829 rows x 6 columns]

In [6]:
#Reemplazar datos nulos por 1 (Al menos 1 dormitorio) 
df_dataset['H_NRO_DORMIT'] = df_dataset.H_NRO_DORMIT.replace(np.nan,1)
#Reemplazar datos nulos por 0 (Ningun fallecido)
df_dataset['HA_NRO_FALL'] = df_dataset.HA_NRO_FALL.replace(np.nan,0)
#Reemplazar datos nulos por 1 (Al menos 1 persona en el hogar)
df_dataset['HA_TOT_PER'] = df_dataset.HA_TOT_PER.replace(np.nan,1)
df_dataset.isnull().sum()

U_DPTO          0
U_MPIO          0
H_NRO_DORMIT    0
HA_NRO_FALL     0
HA_TOT_PER      0
Nom_DPTO        0
dtype: int64

In [7]:
df_dataset #Se impmrime el dataset

          U_DPTO  U_MPIO  H_NRO_DORMIT  HA_NRO_FALL  HA_TOT_PER  Nom_DPTO
0             91       1           1.0          0.0         4.0  Amazonas
1             91       1           1.0          0.0         4.0  Amazonas
2             91       1           2.0          0.0         4.0  Amazonas
3             91       1           1.0          0.0         4.0  Amazonas
4             91       1           2.0          0.0         4.0  Amazonas
...          ...     ...           ...          ...         ...       ...
14252824      99     773          99.0          0.0         1.0   Vichada
14252825      99     773           1.0          0.0         1.0   Vichada
14252826      99     773           1.0          0.0         1.0   Vichada
14252827      99     773           1.0          0.0         1.0   Vichada
14252828      99     773           1.0          0.0         1.0   Vichada

[14252829 rows x 6 columns]

## Se inicia con el pre-procesamiento de la columna NRO_DORMITORIO

In [8]:
df_dataset = df_dataset.sort_values('H_NRO_DORMIT') #Organiza la lista en orden ascendente
Num_dormit = df_dataset['H_NRO_DORMIT'].unique() #Se verifican los valores que puede tomar la columna H_NRO_DORMIT
print(Num_dormit) #Se imprime
for num_dor in Num_dormit: #Se realiza un ciclo for el cual tiene en cuenta el número de dormitorios
    empty_array = np.empty([len(df_dataset),1]) #Se crea un array vacío de las dimensión del dataset x 1
    empty_array[:] = np.nan #Se asigna todo el arreglo como nulo 
    df_dataset[num_dor] = empty_array #Se agregan las columnas por cada uno de los valores que hay en num_dor
    s_aux = (df_dataset.H_NRO_DORMIT == num_dor).astype(int)#Teniendo en cuenta el valor de la variable H_NRO_DORMIT del dataset
    #se realiza una comparación con el valor de num_dor, si este valor coincide se guarda un 1, en caso de que no coincida
    #Se guarda un cero. 
    df_dataset[num_dor][s_aux.index] = s_aux.values #En la respectiva columna de número de hogares del dataset
    #en cada una de las filas guardadas en s_aux se asigna el valor correspondiente; 0 en caso de que en esa fila no haya 
    #cumplido la comparación de la sentencia anterior, y 1 en caso de que la comparación haya sido verdadera. 
    

df_dataset = df_dataset.sort_index(ascending=True) #Se organiza por el índice en orden ascendente
df_dataset #Se imprime el dataset

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 99.]

<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-8-e7fdba236f63>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_dor][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,H_NRO_DORMIT,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1.0,2.0,3.0,4.0,...,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,99.0
0,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,2.0,0.0,4.0,Amazonas,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,2.0,0.0,4.0,Amazonas,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,99.0,0.0,1.0,Vichada,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14252825,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_dataset[5.0].value_counts() #Se hace una verificación de la cantidad de filas en 0 y 1 para 5 dormitorios

0    14130358
1      122471
Name: 5.0, dtype: int64

In [10]:
for x in range(6,21): 
    
    df_dataset.loc[df_dataset[x] == 1, 5.0] = 1 #Para las filas en las cuales para las columnas de 6 a 20 dormitorios se tiene el valor de 1
    #Se procede a asignarlas a la cantidad de dormitorios de 5

In [11]:
#Se renombran las columnas
df_dataset.rename(columns = {5.0: "Mas de 4 dor", 99.0: "No informa Num_dormit",1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
                             4.0:'4-DOR',15.0:'15-DOR',6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',
                             9.0:'9-DOR',20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',16.0:'16-DOR',
                             12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',19.0:'19-DOR'}, inplace = True)

In [12]:
df_dataset["Mas de 4 dor"].value_counts() #Se verifica la cantidad de valores en 1 y 0 con los que quedó la columna más de 4 dor
#Después de la asignación realizada

0    14081146
1      171683
Name: Mas de 4 dor, dtype: int64

In [13]:
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,H_NRO_DORMIT,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,...,12-DOR,13-DOR,14-DOR,15-DOR,16-DOR,17-DOR,18-DOR,19-DOR,20-DOR,No informa Num_dormit
0,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,2.0,0.0,4.0,Amazonas,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,1.0,0.0,4.0,Amazonas,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,2.0,0.0,4.0,Amazonas,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,99.0,0.0,1.0,Vichada,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14252825,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,1.0,0.0,1.0,Vichada,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_dataset.drop(["H_NRO_DORMIT","6-DOR","7-DOR","8-DOR","9-DOR","10-DOR","11-DOR","12-DOR","13-DOR","14-DOR","15-DOR",
                 "16-DOR","17-DOR","18-DOR","19-DOR","20-DOR"],axis = "columns",inplace=True) #Se eliminan las columnas 
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit
0,91,1,0.0,4.0,Amazonas,1,0,0,0,0,0
1,91,1,0.0,4.0,Amazonas,1,0,0,0,0,0
2,91,1,0.0,4.0,Amazonas,0,1,0,0,0,0
3,91,1,0.0,4.0,Amazonas,1,0,0,0,0,0
4,91,1,0.0,4.0,Amazonas,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,0.0,1.0,Vichada,0,0,0,0,0,1
14252825,99,773,0.0,1.0,Vichada,1,0,0,0,0,0
14252826,99,773,0.0,1.0,Vichada,1,0,0,0,0,0
14252827,99,773,0.0,1.0,Vichada,1,0,0,0,0,0
14252828,99,773,0.0,1.0,Vichada,1,0,0,0,0,0

## Se inicia con el preprocesamiento de la columna HA_NRO_FALL

In [15]:
df_dataset = df_dataset.sort_values('HA_NRO_FALL') #Organiza la lista en orden ascendente
Num_fall = df_dataset['HA_NRO_FALL'].unique() #Se verifican los valores que hay en la columna HA_NRO_FALL
print(Num_fall) #Se imprime
for num_fal in Num_fall:
    empty_array = np.empty([len(df_dataset),1]) #Se crea un array vacío de las dimensión del dataset x 1
    empty_array[:] = np.nan #Se asigna todo el arreglo como nulo
    df_dataset[num_fal] = empty_array #Se agregan las nuevas columnas
    s_aux = (df_dataset.HA_NRO_FALL == num_fal).astype(int) #Teniendo en cuenta el valor de la variable HA_NRO_FALL del dataset
    #se realiza una comparación con el valor de num_fal, si este valor coincide se guarda un 1, en caso de que no coincida
    #Se guarda un cero. 
    df_dataset[num_fal][s_aux.index] = s_aux.values #En la respectiva columna de número de fallecidos del dataset
    #en cada una de las filas guardadas en s_aux se asigna el valor correspondiente; 0 en caso de que en esa fila no haya 
    #cumplido la comparación de la sentencia anterior, y 1 de que la comparación fue verdadera. 
    
    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset #Se imprime el dataset

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 12. 13. 15. 18.]

<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-15-e8a1c815fa9e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[num_fal][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,...,5.0,6.0,7.0,8.0,9.0,10.0,12.0,13.0,15.0,18.0
0,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,0.0,1.0,Vichada,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252825,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_dataset[3.0].value_counts() #Se verifica la cantidad de valores en 0 y 1 para la columna 3.0

0    14251601
1        1228
Name: 3.0, dtype: int64

In [17]:
for x in range(4,11):
    
    df_dataset.loc[df_dataset[x] == 1, 3.0] = 1 #Para las filas en las cuales se tiene un valor de 1 para las columnas 4 a 11 se asigna 
    #El valor de 1 para la columna 3.0. Así mismo para las siguientes columnas
df_dataset.loc[df_dataset[12] == 1, 3.0] = 1
df_dataset.loc[df_dataset[13] == 1, 3.0] = 1
df_dataset.loc[df_dataset[15] == 1, 3.0] = 1
df_dataset.loc[df_dataset[18] == 1, 3.0] = 1
df_dataset

,U_DPTO,U_MPIO,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,...,5.0,6.0,7.0,8.0,9.0,10.0,12.0,13.0,15.0,18.0
0,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,0.0,1.0,Vichada,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252825,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_dataset[3.0].value_counts() #Se verifica cuántos datos hay para los valores 1 y 0 de la columna 3.0

0    14250762
1        2067
Name: 3.0, dtype: int64

In [19]:
#Se renombran las columnas
df_dataset.rename(columns = {0.0:"0-FALL",5.0: "5-FALL",1.0:'1-FALL',2.0:'2-FALL',3.0:'Mas de 2 fall',7.0:'7-FALL',
                             4.0:'4-FALL',15.0:'15-FALL',6.0:'6-FALL',8.0:'8-FALL',
                             9.0:'9-FALL',10.0:'10-FALL',13.0:'13-FALL',
                             12.0:'12-FALL',18.0:'18-FALL'}, inplace = True)

In [20]:
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,HA_NRO_FALL,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,...,5-FALL,6-FALL,7-FALL,8-FALL,9-FALL,10-FALL,12-FALL,13-FALL,15-FALL,18-FALL
0,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,0.0,4.0,Amazonas,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,0.0,4.0,Amazonas,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,0.0,1.0,Vichada,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252825,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,0.0,1.0,Vichada,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_dataset["Mas de 2 fall"].value_counts()

0    14250762
1        2067
Name: Mas de 2 fall, dtype: int64

In [22]:
df_dataset.drop(["HA_NRO_FALL","4-FALL","5-FALL","6-FALL","7-FALL","8-FALL","9-FALL","10-FALL","12-FALL","13-FALL","15-FALL",
                 "18-FALL"],axis = "columns",inplace=True) #Se eliminan columnas

In [23]:
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall
0,91,1,4.0,Amazonas,1,0,0,0,0,0,1,0,0,0
1,91,1,4.0,Amazonas,1,0,0,0,0,0,1,0,0,0
2,91,1,4.0,Amazonas,0,1,0,0,0,0,1,0,0,0
3,91,1,4.0,Amazonas,1,0,0,0,0,0,1,0,0,0
4,91,1,4.0,Amazonas,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,1.0,Vichada,0,0,0,0,0,1,1,0,0,0
14252825,99,773,1.0,Vichada,1,0,0,0,0,0,1,0,0,0
14252826,99,773,1.0,Vichada,1,0,0,0,0,0,1,0,0,0
14252827,99,773,1.0,Vichada,1,0,0,0,0,0,1,0,0,0
14252828,99,773,1.0,Vichada,1,0,0,0,0,0,1,0,0,0

## Se inicia con el preprocesamiento de la columna HA_TOT_PER

In [24]:
df_dataset = df_dataset.sort_values('HA_TOT_PER') #Organiza la lista en orden ascendente
Tot_per = df_dataset['HA_TOT_PER'].unique() #Se verifican los valores que hay en la columna HA_TOT_PER
print(Tot_per) #Se imprime
for tot_pers in Tot_per:
    empty_array = np.empty([len(df_dataset),1]) #Se crea un array vacío de las dimensión del dataset x 1
    empty_array[:] = np.nan #Se asigna todo el arreglo como nulo
    df_dataset[tot_pers] = empty_array #Se agregan las nuevas columnas
    s_aux = (df_dataset.HA_TOT_PER == tot_pers).astype(int) #Teniendo en cuenta el valor de la variable HA_TOT_PER del dataset
    #se realiza una comparación con el valor de tot_pers, si este valor coincide se guarda un 1, en caso de que no coincida
    #Se guarda un cero. 
    df_dataset[tot_pers][s_aux.index] = s_aux.values #En la respectiva columna de número de habitantes del dataset
    #en cada una de las filas guardadas en s_aux se asigna el valor correspondiente; 0 en caso de que en esa fila no haya 
    #cumplido la comparación de la sentencia anterior, y 1 de que la comparación fue verdadera. 

    
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset #Se imprime el dataset

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 36. 38. 39. 40.]

<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-24-707e82f4a339>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[tot_pers][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,...,27.0,28.0,29.0,30.0,31.0,32.0,36.0,38.0,39.0,40.0
0,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,4.0,Amazonas,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,4.0,Amazonas,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,1.0,Vichada,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14252825,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df_dataset[5.0].value_counts() #Se verifican cuántos datos hay para los valores 1 y 0 de la columna 5.0

0    12888145
1     1364684
Name: 5.0, dtype: int64

In [26]:
for x in range(6,33):
    
    df_dataset.loc[df_dataset[x] == 1, 5.0] = 1 #Para las filas que tengan un valor de 1 en las columnas 6 a 33, se asigna en la columna 5.0 
    #también el valor de 1. Así mismo, para las siguientes columnas. 
df_dataset.loc[df_dataset[36] == 1, 5.0] = 1
df_dataset.loc[df_dataset[38] == 1, 5.0] = 1
df_dataset.loc[df_dataset[39] == 1, 5.0] = 1
df_dataset.loc[df_dataset[40] == 1, 5.0] = 1
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,HA_TOT_PER,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,...,27.0,28.0,29.0,30.0,31.0,32.0,36.0,38.0,39.0,40.0
0,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91,1,4.0,Amazonas,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,91,1,4.0,Amazonas,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,1,4.0,Amazonas,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,1.0,Vichada,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14252825,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252826,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252827,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14252828,99,773,1.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df_dataset[5.0].value_counts() #Se verifican cuántos datos hay para los valores de 0 y 1 de la columna 5.0.

0    11850479
1     2402350
Name: 5.0, dtype: int64

In [28]:
for y in range(6,33):
    df_dataset.drop([y],axis = "columns",inplace=True) #Se eliminan las columnas
df_dataset.drop(["HA_TOT_PER",36.0,38.0,39.0,40.0],axis = "columns",inplace=True)

In [29]:
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1.0,2.0,3.0,4.0,5.0
0,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,91,1,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
3,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,91,1,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,Vichada,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0
14252825,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252826,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252827,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252828,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [30]:
df_dataset.rename(columns = {5.0: "Mas de 4 per",1.0:'1-PER',2.0:'2-PER',3.0:'3-PER',
                             4.0:'4-PER'}, inplace = True) #Se renombran las columnas
df_dataset #Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1-PER,2-PER,3-PER,4-PER,Mas de 4 per
0,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,91,1,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
3,91,1,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,91,1,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14252824,99,773,Vichada,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0
14252825,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252826,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252827,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
14252828,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [31]:
df_dataset.isnull().sum() #Se verifica cuántas filas en nulo tiene cada columna del dataset

U_DPTO                   0
U_MPIO                   0
Nom_DPTO                 0
1-DOR                    0
2-DOR                    0
3-DOR                    0
4-DOR                    0
Mas de 4 dor             0
No informa Num_dormit    0
0-FALL                   0
1-FALL                   0
2-FALL                   0
Mas de 2 fall            0
1-PER                    0
2-PER                    0
3-PER                    0
4-PER                    0
Mas de 4 per             0
dtype: int64

In [32]:
#El propósito de las siguientes líneas, es revisar cuántos municipios hay.
df_agrup_hog = df_dataset.drop_duplicates(subset=['U_DPTO','U_MPIO'],keep='last', inplace=False) #Se borran todas las filas
#En las cuales los municipios están duplicados
df_agrup_hog.reset_index(drop=True, inplace=True)#Se reinicia el index, con el fin de que el número de cada fila quede ordenado
df_agrup_hog#Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1-PER,2-PER,3-PER,4-PER,Mas de 4 per
0,91,1,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
1,91,263,Amazonas,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,91,405,Amazonas,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0
3,91,407,Amazonas,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1
4,91,430,Amazonas,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
1118,99,1,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1119,99,524,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1120,99,624,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1121,99,773,Vichada,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [33]:
val_hog_mun = df_agrup_hog['U_MPIO'] #Se guardan los valores de la columna U_MPIO
val_hog_dpto = df_agrup_hog['U_DPTO'] #Se guardan los valores de la columna U_DPTO
vect_A = [] #Se crea un vector vacío
vect_B = [] #Se crea un vector vacío
vect_C = [] #Se crea un vector vacío
vect_D = [] #Se crea un vector vacío
vect_E = [] #Se crea un vector vacío
vect_F = [] #Se crea un vector vacío
vect_G = [] #Se crea un vector vacío
vect_H = [] #Se crea un vector vacío
vect_I = [] #Se crea un vector vacío
vect_J = [] #Se crea un vector vacío
vect_K = [] #Se crea un vector vacío
vect_L = [] #Se crea un vector vacío
vect_M = [] #Se crea un vector vacío
vect_N = [] #Se crea un vector vacío
vect_O = [] #Se crea un vector vacío
for n_MPIO,n_DPTO in zip(val_hog_mun,val_hog_dpto): #El ZIP se usa para empezar a asociar cada departamento con el respectivo municipio
    #Se realiza la comparacion entre el número de municipio y el de departamento, en el caso de que sean iguales
    #Se van sumando y se van guardando en un vector según el tipo de vivienda
    vect_A.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'1-DOR'].sum())
    vect_B.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'2-DOR'].sum())
    vect_C.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'3-DOR'].sum())
    vect_D.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'4-DOR'].sum())
    vect_E.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Mas de 4 dor'].sum())
    vect_F.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'No informa Num_dormit'].sum())
    vect_G.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'0-FALL'].sum())
    vect_H.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'1-FALL'].sum())
    vect_I.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'2-FALL'].sum())
    vect_J.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Mas de 2 fall'].sum())
    vect_K.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'1-PER'].sum())
    vect_L.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'2-PER'].sum())
    vect_M.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'3-PER'].sum())
    vect_N.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'4-PER'].sum())
    vect_O.append(df_dataset.loc[(df_dataset['U_MPIO'] == n_MPIO) & (df_dataset['U_DPTO'] == n_DPTO) ,'Mas de 4 per'].sum())


df_agrup_hog['1-DOR'] = vect_A #En el nuevo dataframe, a cada columna se le asigna el valor correspondiente
df_agrup_hog['2-DOR'] = vect_B
df_agrup_hog['3-DOR'] = vect_C
df_agrup_hog['4-DOR'] = vect_D
df_agrup_hog['Mas de 4 dor'] = vect_E
df_agrup_hog['No informa Num_dormit'] = vect_F
df_agrup_hog['0-FALL'] = vect_G
df_agrup_hog['1-FALL'] = vect_H
df_agrup_hog['2-FALL'] = vect_I
df_agrup_hog['Mas de 2 fall'] = vect_J
df_agrup_hog['1-PER'] = vect_K
df_agrup_hog['2-PER'] = vect_L
df_agrup_hog['3-PER'] = vect_M
df_agrup_hog['4-PER'] = vect_N
df_agrup_hog['Mas de 4 per'] = vect_O
df_agrup_hog

<ipython-input-33-dd0c5b9dd180>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['1-DOR'] = vect_A #En el nuevo dataframe, a cada columna se le asigna el total de cada tipo de vivienda
<ipython-input-33-dd0c5b9dd180>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['2-DOR'] = vect_B
<ipython-input-33-dd0c5b9dd180>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['3-DOR'] = vect_C
<ipython-input-33-dd0c5b9dd180>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['4-DOR'] = vect_D
<ipython-input-33-dd0c5b9dd180>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['Mas de 4 dor'] = vect_E
<ipython-input-33-dd0c5b9dd180>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['No informa Num_dormit'] = vect_F
<ipython-input-33-dd0c5b9dd180>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['0-FALL'] = vect_G
<ipython-input-33-dd0c5b9dd180>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['1-FALL'] = vect_H
<ipython-input-33-dd0c5b9dd180>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['2-FALL'] = vect_I
<ipython-input-33-dd0c5b9dd180>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['Mas de 2 fall'] = vect_J
<ipython-input-33-dd0c5b9dd180>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['1-PER'] = vect_K
<ipython-input-33-dd0c5b9dd180>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['2-PER'] = vect_L
<ipython-input-33-dd0c5b9dd180>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['3-PER'] = vect_M
<ipython-input-33-dd0c5b9dd180>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['4-PER'] = vect_N
<ipython-input-33-dd0c5b9dd180>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agrup_hog['Mas de 4 per'] = vect_O

,U_DPTO,U_MPIO,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1-PER,2-PER,3-PER,4-PER,Mas de 4 per
0,91,1,Amazonas,4320,3820,2036,724,289,119,11150,150,7,1,2139,1719,2082,1994,3374
1,91,263,Amazonas,173,121,58,30,27,5,411,3,0,0,109,54,42,47,162
2,91,405,Amazonas,163,125,70,43,19,30,444,6,0,0,100,60,46,69,175
3,91,407,Amazonas,452,173,78,24,10,12,739,10,0,0,50,85,123,120,371
4,91,430,Amazonas,23,9,4,2,1,1,40,0,0,0,7,8,4,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,48,32,10,1,1,7,97,1,0,1,22,14,7,7,49
1118,99,1,Vichada,2873,2026,718,142,52,45,5761,81,13,1,1273,1077,1201,1024,1281
1119,99,524,Vichada,1307,953,379,86,24,5,2699,49,3,3,615,510,562,472,595
1120,99,624,Vichada,440,447,142,41,13,3,1073,11,2,0,190,210,219,224,243
1121,99,773,Vichada,6244,1962,721,322,64,254,9418,136,10,3,1189,1543,1624,1487,3724

In [34]:
export_dir = 'TG2022_Datos/Departamentos_CSV/Pre_Departamentos_hog_2.csv'
df_agrup_hog.to_csv(export_dir, index=False, header=True)